		      						<div class="dropdown">
		      							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Клеи и герметики</a>
		      							<div class="dropdown-menu">
		      								<a href="#" class="dropdown-item">Герметики-фиксаторы</a>
		      								<a href="#" class="dropdown-item">Клей для зеркал заднего вида</a>
		      								<a href="#" class="dropdown-item">Клей токопроводящий</a>
		      								<a href="#" class="dropdown-item">Клей эпоксидный</a>
		      								<a href="#" class="dropdown-item">Супер клей</a>
		      								<a href="#" class="dropdown-item">Холодная сварка</a>
		      							</div>	
		      						</div>	
		      						<a href="#" class="dropdown-item">Шампуни и моющие средства</a>
		      						<div class="dropdown">
		      							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Очистители</a>
		      							<div class="dropdown-menu">
		      								<a href="#" class="dropdown-item">Битумных и масляных пятен</a>
		      								<a href="#" class="dropdown-item">Деталей и узлов</a>
		      								<a href="#" class="dropdown-item">Жидкий ключ</a>
		      								<a href="#" class="dropdown-item">Карбюратора</a>
		      								<a href="#" class="dropdown-item">Наклеек и скотча</a>
		      								<a href="#" class="dropdown-item">Обезжириватель</a>
		      								<a href="#" class="dropdown-item">Преобразователь ржавчины</a>
		      								<a href="#" class="dropdown-item">Средство для рук</a>
		      							</div>	
		      						</div>
		      						<a href="#" class="dropdown-item">Салфетки, губки, аппликаторы</a>
		      						<div class="dropdown">
		      							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Уход за автомобилем</a>
		      							<div class="dropdown-menu">
		      								<a href="#" class="dropdown-item">Уход за дисками и шинами </a>
		      								<a href="#" class="dropdown-item">Уход за кузовом</a>
		      								<a href="#" class="dropdown-item">Уход за подкапотным пространством</a>
		      								<a href="#" class="dropdown-item">Уход за салоном</a>
		      								<a href="#" class="dropdown-item">Уход за стеклами и зеркалами</a>
		      							</div>	
		      						</div>
		      						<div class="dropdown">
		      							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Стеклоомывающая жидкость</a>
		      							<div class="dropdown-menu">
		      								<a href="#" class="dropdown-item">Зимняя</a>
		      								<a href="#" class="dropdown-item">Летняя</a>
		      								<a href="#" class="dropdown-item">Концентрат</a>
		      							</div>	
		      						</div>