						        	<div class="mi-1">
						        		<h4 class="w-100">Масла и смазки</h4>
						        		<div class="block-1 ">
													<a class="dropdown-item red-dot bold" href="#">Масла для автомобилей</a>
													<a class="dropdown-item" href="#">Моторные</a>
													<a class="dropdown-item" href="#">Трансмиссионные</a>
													<a class="dropdown-item" href="#">АКПП</a>
													<a class="dropdown-item" href="#">МКПП</a>
													<a class="dropdown-item" href="#">Вариаторов</a>
													<a class="dropdown-item" href="#">Редукторов</a>
							        		<a class="dropdown-item red-dot bold" href="#">Мотоциклов</a>
							        		<a class="dropdown-item" href="#">2-тактные</a>
							        		<a class="dropdown-item" href="#">4-тактные</a>
							        		<a class="dropdown-item" href="#">Вилочные</a>
							        		<a class="dropdown-item" href="#">Трансмиссионные</a>
													<a class="dropdown-item red-dot bold" href="#">Грузовиков, комбайнов, трактаров</a>
													<a class="dropdown-item" href="#">Моторные </a>
													<a class="dropdown-item" href="#">Трансмиссионные</a>
													<a class="dropdown-item red-dot bold" href="#">Катеров, лодок, гидроциклов</a>
													<a class="dropdown-item" href="#">2-тактные</a>
													<a class="dropdown-item" href="#">4-тактные</a>
													<a class="dropdown-item" href="#">Трансмиссионные</a>
													<a class="dropdown-item red-dot bold" href="#">Квадроциклов</a>
													<a class="dropdown-item" href="#">2-тактные</a>
													<a class="dropdown-item" href="#">4-тактные</a>
													<a class="dropdown-item red-dot bold" href="#">Цепных пил</a>
													<a class="dropdown-item" href="#">2-тактные</a>
													<a class="dropdown-item" href="#">Смазка цепи</a>
													<a class="dropdown-item red-dot bold" href="#">Газонокосилок, триммеров</a>
													<a class="dropdown-item" href="#">2-тактные</a>
													<a class="dropdown-item" href="#">4-тактные</a>
													<a class="dropdown-item" href="#">Трансмиссионные</a>
													<a class="dropdown-item red-dot bold" href="#">Смазки</a>
													<a class="dropdown-item" href="#">Масла индустриальные, СОЖ</a>
													<a class="dropdown-item" href="#">Гидравлические</a>
													<a class="dropdown-item" href="#">Компрессорные</a>
													<a class="dropdown-item" href="#">Амортизаторов и подвески</a>
													<a class="dropdown-item" href="#">Оружейные</a>
													<a class="dropdown-item" href="#">Применения в быту</a>
													<a class="dropdown-item red-dot bold" href="#">Прочие масла</a>
						        			<h4 class="">Состав</h4>
						        			<a class="dropdown-item red-dot" href="#">Синтетические</a>
						        			<a class="dropdown-item" href="#">Полусинтетические</a>
						        			<a class="dropdown-item" href="#">Минеральные</a>
												</div>
						        	</div>
						        	<div class="mi-2">
						        		<div class="block-1 ">
							        		<h4>Сопутствующие товары</h4>
							        		<a class="dropdown-item" href="#">Промывочные жидкости</a>
							        		<a class="dropdown-item" href="#">Присадки</a>
							        		<a class="dropdown-item" href="#">Канистры</a>
							        		<a class="dropdown-item" href="#">Воронки</a>
							        		<a class="dropdown-item" href="#">Перчатки</a>
							        		<a class="dropdown-item" href="#">Влажные салфетки</a>
							        		<a class="dropdown-item" href="#">Свечи зажигания</a>
							        		<a class="dropdown-item" href="#">Ключи масляных фильтров</a>
							        		<a class="dropdown-item" href="#">Набор инструмента </a>
							        		<a class="dropdown-item" href="#">Фонари светодиоды </a>
							        		<a class="dropdown-item" href="#">Омывающие жидкости</a>
							        	</div>	
												<div class="block-2 ">
								        		<h4 class="w-100">Бренды</h4>
														<div>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/odyssey.png" alt="">
																<img class="img-gray" src="/img/company-logo/odyssey-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/berga.png" alt="">
																<img class="img-gray" src="/img/company-logo/berga-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/topla.png" alt="">
																<img class="img-gray" src="/img/company-logo/topla-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/bosch.png" alt="">
																<img class="img-gray" src="/img/company-logo/bosch-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/topla.png" alt="">
																<img class="img-gray" src="/img/company-logo/topla-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/mutlu.png" alt="">
																<img class="img-gray" src="/img/company-logo/mutlu-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/mutlu.png" alt="">
																<img class="img-gray" src="/img/company-logo/mutlu-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/odyssey.png" alt="">
																<img class="img-gray" src="/img/company-logo/odyssey-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/berga.png" alt="">
																<img class="img-gray" src="/img/company-logo/berga-gray.png" alt="">
															</a>
														</div>
									        	<a class="dropdown-item red w-100" href="#">все бренды</a>
												</div>
						        	</div>
