						        	<div class="mi-1">
						        		<h4 class="w-100">Технические жидкости</h4>
						        		<div class="block-1 ">
													<a class="dropdown-item red-dot bold" href="#">Антифриз</a>
													<a class="dropdown-item" href="#">Зеленый</a>
													<a class="dropdown-item" href="#">Красный</a>
							        		<a class="dropdown-item red-dot bold" href="#">Вода дистиллированная</a>
							        		<a class="dropdown-item red-dot bold" href="#">Жидкость для ГУР</a>
							        		<a class="dropdown-item red-dot bold" href="#">Защитные покрытия</a>
							        		<a class="dropdown-item red-dot bold" href="#">Присадки</a>
							        		<a class="dropdown-item" href="#">Депрессорные</a>
							        		<a class="dropdown-item" href="#">Диспергирующие</a>
							        		<a class="dropdown-item" href="#">Загустители</a>
							        		<a class="dropdown-item" href="#">Ингибиторы</a>
							        		<a class="dropdown-item" href="#">Корректирующие октановое число</a>
													<a class="dropdown-item red-dot bold" href="#">Размораживатели</a>
													<a class="dropdown-item" href="#">Замков</a>
													<a class="dropdown-item" href="#">Стекол</a>
													<a class="dropdown-item red-dot bold" href="#">Раствор мочевины</a>
													<a class="dropdown-item red-dot bold" href="#">Растворители</a>
													<a class="dropdown-item red-dot bold" href="#">Тормозные жидкости</a>
													<a class="dropdown-item" href="#">DOT 3</a>
													<a class="dropdown-item" href="#">DOT 4</a>
													<a class="dropdown-item" href="#">DOT 5</a>
													<a class="dropdown-item" href="#">DOT 5.1</a>
													<a class="dropdown-item red-dot bold" href="#">Тосол</a>
													<a class="dropdown-item" href="#">ОЖ-К (концентрат)</a>
													<a class="dropdown-item" href="#">ОЖ-40 </a>
													<a class="dropdown-item" href="#">ОЖ-65</a>
												</div>
						        	</div>
						        	<div class="mi-2">
						        		<div class="block-1 ">
							        		<h4 class="w-100">Автохимия</h4>
								        	<div>	
														<a class="dropdown-item red-dot bold" href="#">Клеи и герметики</a>
														<a class="dropdown-item" href="#">Герметики-фиксаторы</a>
														<a class="dropdown-item" href="#">Клей для зеркал заднего вида</a>
														<a class="dropdown-item" href="#">Клей токопроводящий</a>
														<a class="dropdown-item" href="#">Клей эпоксидный</a>
														<a class="dropdown-item" href="#">Супер клей</a>
														<a class="dropdown-item" href="#">Холодная сварка</a>
														<a class="dropdown-item red-dot bold" href="#">Очистители</a>
														<a class="dropdown-item" href="#">Битумных и масляных пятен</a>
														<a class="dropdown-item" href="#">Деталей и узлов</a>
														<a class="dropdown-item" href="#">Жидкий ключ</a>
														<a class="dropdown-item" href="#">Карбюратора</a>
														<a class="dropdown-item" href="#">Наклеек и скотча</a>
														<a class="dropdown-item" href="#">Обезжириватель</a>
														<a class="dropdown-item" href="#">Преобразователь ржавчины</a>
														<a class="dropdown-item" href="#">Средство для рук</a>
														<a class="dropdown-item red-dot bold" href="#">Растворители</a>
														<a class="dropdown-item red-dot bold" href="#">Стеклоомывающая жидкость</a>
														<a class="dropdown-item" href="#">Зимняя</a>
														<a class="dropdown-item" href="#">Летняя</a>
														<a class="dropdown-item" href="#">Концентрат</a>
														<a class="dropdown-item red-dot bold" href="#">Уход за автомобилем</a>
														<a class="dropdown-item" href="#">Уход за дисками и шинами </a>
														<a class="dropdown-item" href="#">Уход за кузовом</a>
														<a class="dropdown-item" href="#">Уход за подкапотным пространством</a>
														<a class="dropdown-item" href="#">Уход за салоном</a>
														<a class="dropdown-item" href="#">Уход за стеклами и зеркалами</a>
														<a class="dropdown-item red-dot bold" href="#">Шампуни и моющие средства</a>
													</div>	
							        	</div>	
												<div class="block-2 ">
								        		<h4 class="w-100">Бренды</h4>
														<div>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/odyssey.png" alt="">
																<img class="img-gray" src="/img/company-logo/odyssey-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/berga.png" alt="">
																<img class="img-gray" src="/img/company-logo/berga-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/topla.png" alt="">
																<img class="img-gray" src="/img/company-logo/topla-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/bosch.png" alt="">
																<img class="img-gray" src="/img/company-logo/bosch-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/topla.png" alt="">
																<img class="img-gray" src="/img/company-logo/topla-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/mutlu.png" alt="">
																<img class="img-gray" src="/img/company-logo/mutlu-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/mutlu.png" alt="">
																<img class="img-gray" src="/img/company-logo/mutlu-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/odyssey.png" alt="">
																<img class="img-gray" src="/img/company-logo/odyssey-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/berga.png" alt="">
																<img class="img-gray" src="/img/company-logo/berga-gray.png" alt="">
															</a>
														</div>
									        	<a class="dropdown-item red w-100" href="#">все бренды</a>
												</div>
						        	</div>
