						        	<div class="mi-1">
						        		<div>
													<a class="dropdown-item red-dot bold" href="#">Фильры №1</a>
													<a class="dropdown-item" href="#">Зеленый</a>
													<a class="dropdown-item" href="#">Красный</a>
						        		</div>
						        		<div>
							        		<a class="dropdown-item red-dot bold" href="#">Фильры №2</a>
						        		</div>
						        		<div>
							        		<a class="dropdown-item red-dot bold" href="#">Фильры №3</a>
						        		</div>
						        		<div>
							        		<a class="dropdown-item red-dot bold" href="#">Фильры №4</a>
						        		</div>
						        		<div>
							        		<a class="dropdown-item red-dot bold" href="#">Фильры №5</a>
							        		<a class="dropdown-item" href="#">Депрессорные</a>
							        		<a class="dropdown-item" href="#">Диспергирующие</a>
							        		<a class="dropdown-item" href="#">Загустители</a>
							        		<a class="dropdown-item" href="#">Ингибиторы</a>
							        		<a class="dropdown-item" href="#">Корректирующие октановое число</a>
						        		</div>
						        		<div>
													<a class="dropdown-item red-dot bold" href="#">Фильры №6</a>
													<a class="dropdown-item" href="#">Замков</a>
													<a class="dropdown-item" href="#">Стекол</a>
						        		</div>
						        		<div>
													<a class="dropdown-item red-dot bold" href="#">Фильры №7</a>
						        		</div>
						        		<div>
													<a class="dropdown-item red-dot bold" href="#">Фильры №8</a>
													<a class="dropdown-item" href="#">DOT 3</a>
													<a class="dropdown-item" href="#">DOT 4</a>
													<a class="dropdown-item" href="#">DOT 5</a>
													<a class="dropdown-item" href="#">DOT 5.1</a>
						        		</div>
						        		<div>
													<a class="dropdown-item red-dot bold" href="#">Фильры №9</a>
													<a class="dropdown-item" href="#">ОЖ-К (концентрат)</a>
													<a class="dropdown-item" href="#">ОЖ-40 </a>
													<a class="dropdown-item" href="#">ОЖ-65</a>
						        		</div>
						        	</div>
												<div class="mi-3 ">
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/varta.png" alt="">
																<img class="img-gray" src="/img/company-logo/varta-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/berga.png" alt="">
																<img class="img-gray" src="/img/company-logo/berga-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/bosch.png" alt="">
																<img class="img-gray" src="/img/company-logo/bosch-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/mutlu.png" alt="">
																<img class="img-gray" src="/img/company-logo/mutlu-gray.png" alt="">
															</a>
												</div>

<!-- 												<div class="mi-3 ">
													<a href="#" style="background-image: url(../img/company-logo/bosch.png);"></a>					
													<a href="#" style="background-image: url(../img/company-logo/topla.png)"></a>
													<a href="#" style="background-image: url(../img/company-logo/varta.png)"></a>
													<a href="#" style="background-image: url(../img/company-logo/mutlu.png)"></a>
												</div>
 -->