						        	<div class="mi-1">
						        		<div>
													<a class="dropdown-item red-dot bold" href="#">Щетки стеклоотчистителя</a>
													<a class="dropdown-item" href="#">Адаптеры</a>
													<a class="dropdown-item" href="#">Бескаркасные</a>
													<a class="dropdown-item" href="#">Гибкие</a>
													<a class="dropdown-item" href="#">Каркасные</a>
													<a class="dropdown-item" href="#">Сменные резинки</a>
						        		</div>
						        	</div>

												<div class="mi-3 ">
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/varta.png" alt="">
																<img class="img-gray" src="/img/company-logo/varta-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/berga.png" alt="">
																<img class="img-gray" src="/img/company-logo/berga-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/bosch.png" alt="">
																<img class="img-gray" src="/img/company-logo/bosch-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/mutlu.png" alt="">
																<img class="img-gray" src="/img/company-logo/mutlu-gray.png" alt="">
															</a>
												</div>


<!-- 												<div class="mi-3 ">
													<a href="#" style="background-image: url(../img/company-logo/bosch.png);"></a>					
													<a href="#" style="background-image: url(../img/company-logo/topla.png)"></a>
													<a href="#" style="background-image: url(../img/company-logo/varta.png)"></a>
													<a href="#" style="background-image: url(../img/company-logo/mutlu.png)"></a>
												</div>
 -->