						        	<div class="mi-1">
												<div>
													<img src="/img/avtohim-germetik.png" alt="">
													<a class="dropdown-item red-dot bold" href="#">Клеи и герметики</a>
													<a class="dropdown-item" href="#">Герметики-фиксаторы</a>
													<a class="dropdown-item" href="#">Клей для зеркал заднего вида</a>
													<a class="dropdown-item" href="#">Клей токопроводящий</a>
													<a class="dropdown-item" href="#">Клей эпоксидный</a>
													<a class="dropdown-item" href="#">Супер клей</a>
													<a class="dropdown-item" href="#">Холодная сварка</a>
												</div>	
												<div>
													<img src="/img/avtohim-shamp.png" alt="">
													<a class="dropdown-item red-dot bold" href="#">Шампуни и моющие средства</a>
												</div>	
												<div>
													<img src="/img/avtohim-ochist.png" alt="">
													<a class="dropdown-item red-dot bold" href="#">Очистители</a>
													<a class="dropdown-item" href="#">Битумных и масляных пятен</a>
													<a class="dropdown-item" href="#">Деталей и узлов</a>
													<a class="dropdown-item" href="#">Жидкий ключ</a>
													<a class="dropdown-item" href="#">Карбюратора</a>
													<a class="dropdown-item" href="#">Наклеек и скотча</a>
													<a class="dropdown-item" href="#">Обезжириватель</a>
													<a class="dropdown-item" href="#">Преобразователь ржавчины</a>
													<a class="dropdown-item" href="#">Средство для рук</a>
												</div>	
												<div>
													<img src="/img/avtohim-gubka.png" alt="">
													<a class="dropdown-item red-dot bold" href="#">Салфетки, губки, аппликаторы</a>
												</div>	
												<div>
													<img src="/img/avtohim-uhod.png" alt="">
													<a class="dropdown-item red-dot bold" href="#">Уход за автомобилем</a>
													<a class="dropdown-item" href="#">Уход за дисками и шинами </a>
													<a class="dropdown-item" href="#">Уход за кузовом</a>
													<a class="dropdown-item" href="#">Уход за подкапотным пространством</a>
													<a class="dropdown-item" href="#">Уход за салоном</a>
													<a class="dropdown-item" href="#">Уход за стеклами и зеркалами</a>
												</div>	
												<div>
													<img src="/img/avtohim-omiv.png" alt="">
													<a class="dropdown-item red-dot bold" href="#">Стеклоомывающая жидкость</a>
													<a class="dropdown-item" href="#">Зимняя</a>
													<a class="dropdown-item" href="#">Летняя</a>
													<a class="dropdown-item" href="#">Концентрат</a>
												</div>	
						        	</div>
												<div class="mi-3 ">
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/varta.png" alt="">
																<img class="img-gray" src="/img/company-logo/varta-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/berga.png" alt="">
																<img class="img-gray" src="/img/company-logo/berga-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/bosch.png" alt="">
																<img class="img-gray" src="/img/company-logo/bosch-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/mutlu.png" alt="">
																<img class="img-gray" src="/img/company-logo/mutlu-gray.png" alt="">
															</a>
												</div>


<!-- 												<div class="mi-3 ">
													<a href="#" style="background-image: url(../img/company-logo/bosch.png);"></a>					
													<a href="#" style="background-image: url(../img/company-logo/topla.png)"></a>
													<a href="#" style="background-image: url(../img/company-logo/varta.png)"></a>
													<a href="#" style="background-image: url(../img/company-logo/mutlu.png)"></a>
												</div>
 -->