						        	<div class="mi-1">
												<div>
													<img src="/img/avto-el-svet.png" alt="">
													<a class="dropdown-item red-dot bold" href="#">Автосвет</a>
													<a class="dropdown-item" href="#">Автомобильные лампы</a>
													<a class="dropdown-item" href="#">Дневные ходовые огни</a>
													<a class="dropdown-item" href="#">Фонари светодиодные</a>
												</div>	
												<div>
													<img src="/img/avto-el-aksessuar.png" alt="">
													<a class="dropdown-item red-dot bold" href="#">Аксессуары</a>
													<a class="dropdown-item" href="#">Алкотестеры</a>
													<a class="dropdown-item" href="#">Вентиляторы автомобильные</a>
													<a class="dropdown-item" href="#">Компрессоры, насосы, манометры</a>
													<a class="dropdown-item" href="#">Мойки высокого давления</a>
													<a class="dropdown-item" href="#">Пылесосы автомобильные</a>
													<a class="dropdown-item" href="#">Часы и термометры</a>
												</div>	
												<div>
													<img src="/img/avto-el-zvuk.png" alt="">
													<a class="dropdown-item red-dot bold" href="#">Автозвук и мультимедия</a>
													<a class="dropdown-item" href="#">Акустика, наушники</a>
													<a class="dropdown-item" href="#">Антенны, кабели, адаптеры</a>
													<a class="dropdown-item" href="#">Мониторы и телевизоры</a>
												</div>	
												<div>
													<img src="/img/avto-el-help.png" alt="">
													<a class="dropdown-item red-dot bold" href="#">Помощь и защита авто</a>
													<a class="dropdown-item" href="#">Видеорегистраторы</a>
													<a class="dropdown-item" href="#">Камеры заднего вида</a>
													<a class="dropdown-item" href="#">Охранные системы</a>
													<a class="dropdown-item" href="#">Парковочные радары</a>
													<a class="dropdown-item" href="#">Радар-детекторы</a>
												</div>	
												<div>
													<img src="/img/avto-el-akb.png" alt="">
													<a class="dropdown-item red-dot bold" href="#">Обслуживание АКБ</a>
													<a class="dropdown-item" href="#">Клеммы</a>
													<a class="dropdown-item" href="#">Нагрузочные вилки</a>
													<a class="dropdown-item" href="#">Полюсные зажимы</a>
													<a class="dropdown-item" href="#">Провод запуска</a>
													<a class="dropdown-item" href="#">Тестеры портативные</a>
													<a class="dropdown-item" href="#">Устройства пусковые</a>
												</div>	
												<div>
													<img src="/img/avto-el-avs.png" alt="">
												</div>	
						        	</div>
												<div class="mi-3 ">
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/varta.png" alt="">
																<img class="img-gray" src="/img/company-logo/varta-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/mutlu.png" alt="">
																<img class="img-gray" src="/img/company-logo/mutlu-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/odyssey.png" alt="">
																<img class="img-gray" src="/img/company-logo/odyssey-gray.png" alt="">
															</a>
															<a href="#" class="brand-link">
																<img class="img-color" src="/img/company-logo/berga.png" alt="">
																<img class="img-gray" src="/img/company-logo/berga-gray.png" alt="">
															</a>
												</div>
								

<!-- 												<div class="mi-3 ">
													<a href="#" style="background-image: url(../img/company-logo/bosch.png);"></a>					
													<a href="#" style="background-image: url(../img/company-logo/topla.png)"></a>
													<a href="#" style="background-image: url(../img/company-logo/varta.png)"></a>
													<a href="#" style="background-image: url(../img/company-logo/mutlu.png)"></a>
												</div>
 -->