						        	<div class="mi-1">
						        		<h4 class="w-100">Автомобильные аксессуары</h4>
						        		<div class="block-1 ">
													<a class="dropdown-item red-dot bold" href="#">Аварийные принадлежности</a>
													<a class="dropdown-item" href="#">Аварийные наборы</a>
													<a class="dropdown-item" href="#">Аптечки, огнетушители</a>
													<a class="dropdown-item" href="#">Воронки и канистры топливные</a>
													<a class="dropdown-item" href="#">Домкраты</a>
													<a class="dropdown-item" href="#">Знаки самоклеющиеся</a>
													<a class="dropdown-item" href="#">Насосы ручные/ножные</a>
													<a class="dropdown-item" href="#">Троса буксировочные</a>
													<a class="dropdown-item red-dot bold" href="#">Ароматизаторы</a>
													<a class="dropdown-item red-dot bold" href="#">Безопасность</a>
													<a class="dropdown-item" href="#">Адаптеры ремня безопасности</a>
													<a class="dropdown-item" href="#">Жилеты светоотражающие</a>
													<a class="dropdown-item" href="#">Заглушки замка ремня безопасности</a>
													<a class="dropdown-item" href="#">Зеркала Кресла детские и бустера</a>
													<a class="dropdown-item" href="#">Перчатки</a>
													<a class="dropdown-item red-dot bold" href="#">Для гаджетов</a>
													<a class="dropdown-item" href="#">USB-кабель и удлинители</a>
													<a class="dropdown-item" href="#">Держатели телефонов, планшетов</a>
													<a class="dropdown-item" href="#">Зарядки для гаджетов</a>
													<a class="dropdown-item" href="#">Противоскользящие коврики</a>
													<a class="dropdown-item" href="#">Разветвители прикуривателя</a>
													<a class="dropdown-item red-dot bold" href="#">Зимний ассортимент</a>
													<a class="dropdown-item" href="#">Коврики влаговпитывающие</a>
													<a class="dropdown-item" href="#">Лопаты</a>
													<a class="dropdown-item" href="#">Меховые накидки</a>
													<a class="dropdown-item" href="#">Подогрев жидкости</a>
													<a class="dropdown-item" href="#">Подогрев сидений</a>
													<a class="dropdown-item" href="#">Утеплители моторного отсека</a>
													<a class="dropdown-item" href="#">Щетки сметки, скребки</a>
													<a class="dropdown-item red-dot bold" href="#">Разъемы прицепа</a>
													<a class="dropdown-item red-dot bold" href="#">Тюнинг и комфорт</a>
													<a class="dropdown-item" href="#">Вешалки, шторки на окна</a>
													<a class="dropdown-item" href="#">Колпаки на колеса</a>
													<a class="dropdown-item" href="#">Насадки на глушитель</a>
													<a class="dropdown-item" href="#">Органайзеры, секретики</a>
													<a class="dropdown-item" href="#">Оплетки руля</a>
													<a class="dropdown-item" href="#">Пленки тонировочные</a>
													<a class="dropdown-item" href="#">Рамки под номер</a>
													<a class="dropdown-item red-dot bold" href="#">Холодильники и термосумки</a>
													<a class="dropdown-item red-dot bold" href="#">Щетки стеклоотчистителя</a>
													<a class="dropdown-item" href="#">Адаптеры</a>
													<a class="dropdown-item" href="#">Бескаркасные</a>
													<a class="dropdown-item" href="#">Гибкие</a>
													<a class="dropdown-item" href="#">Каркасные</a>
													<a class="dropdown-item" href="#">Сменные резинки</a>
												</div>
						        	</div>
						        	<div class="mi-2">
							        	<h4 class="w-100">Автоэлектроника</h4>
						        		<div class="block-1 ">
													<a class="dropdown-item red-dot bold" href="#">Автосвет</a>
													<a class="dropdown-item" href="#">Автомобильные лампы</a>
													<a class="dropdown-item" href="#">Дневные ходовые огни</a>
													<a class="dropdown-item" href="#">Фонари светодиодные</a>
													<a class="dropdown-item red-dot bold" href="#">Автозвук и мультимедия</a>
													<a class="dropdown-item" href="#">Акустика, наушники</a>
													<a class="dropdown-item" href="#">Антенны, кабели, адаптеры</a>
													<a class="dropdown-item" href="#">Мониторы и телевизоры</a>
													<a class="dropdown-item red-dot bold" href="#">Аксессуары</a>
													<a class="dropdown-item" href="#">Алкотестеры</a>
													<a class="dropdown-item" href="#">Вентиляторы автомобильные</a>
													<a class="dropdown-item" href="#">Компрессоры, насосы, манометры</a>
													<a class="dropdown-item" href="#">Мойки высокого давления</a>
													<a class="dropdown-item" href="#">Пылесосы автомобильные</a>
													<a class="dropdown-item" href="#">Часы и термометры</a>
													<br class="dropdown-item d-none d-lg-block d-xl-none">
													<a class="dropdown-item red-dot bold" href="#">Обслуживание АКБ</a>
													<a class="dropdown-item" href="#">Клеммы</a>
													<a class="dropdown-item" href="#">Нагрузочные вилки</a>
													<a class="dropdown-item" href="#">Полюсные зажимы</a>
													<a class="dropdown-item" href="#">Провод запуска</a>
													<a class="dropdown-item" href="#">Тестеры портативные</a>
													<a class="dropdown-item" href="#">Устройства пусковые</a>
													<a class="dropdown-item red-dot bold" href="#">Помощь и защита авто</a>
													<a class="dropdown-item" href="#">Видеорегистраторы</a>
													<a class="dropdown-item" href="#">Камеры заднего вида</a>
													<a class="dropdown-item" href="#">Охранные системы</a>
													<a class="dropdown-item" href="#">Парковочные радары</a>
													<a class="dropdown-item" href="#">Радар-детекторы</a>
							        	</div>	
						        	</div>
