@media screen and (max-width:1220px) {
	.main {
		margin-left: 5vh;
		margin-right: 5vh;
	}
}
/**/
@media screen and (max-width:540px) {
	.feedback__title {
		font-size: 1.5em;
		margin-bottom: 1em;
	}

	.feedback__header {
		b {
			font-size: 1em;
		}
	}
}

@media screen and (max-width:1000px) {
	.main {
		grid-template: auto auto auto auto / auto auto;
		grid-template-areas:
			"breadcrumb breadcrumb"
			"error404 error404"
			"search-wp search-wp"
			"feedback feedback";
	}

	.search-wp {
		margin-top: 50px;
	}
}

@media screen and (max-width:600px) {
	.title-h1 {
		font-size: 18px  !important;
		margin-bottom: 0;

		span {
			display: block;
			font-size: 4.762em;
		}
	}

	.error404__smile {
		height: 117px;
		width: 117px;
	}
}

@media screen and (max-width:470px) {
	.error404__smile {
		height: 100px;
		width: 100px;
	}

	.title-h1 {
		font-size: 16px !important;
	}

	.search-wp {
		margin-top: 28px;
	}
}

@media screen and (max-width:400px) {
	.error404__smile {
		height: 80px;
		width: 80px;
		margin-right: 15px;
	}

	.title-h1 {
		font-size: 14px;

		span {
			font-size: 3em;
		}
	}
}

@media screen and (max-width:800px) {
	.form {
		display: grid;
		grid-template: 1fr 1fr 1fr 2fr auto auto auto/ auto;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}

	.form__input {
		max-width: 100%;
	}

	.form__textarea {
		grid-column: 1/2;
		grid-row: auto;
	}

	.g-recaptcha {
		margin-top: .5em;
		margin-bottom: .5em;
	}

	.form__text {
		grid-column: 1/2;
		grid-row: auto;
		margin-top: .5em;
	}

	.form__btn {
		grid-column: 1/2;
		grid-row: auto;
		justify-self: center;
	}
}

@media screen and (max-width:319px) {
	.g-recaptcha {
		transform: scale(0.6);
	}
}
