//@import "../../style/normalize";
@import "../variables";
//@import "../../style/variables.part2";
@import "style/other";
@import "style/breadcrumb";


/* *** */

.main {
	max-width: $siteWidth;
	margin: 0 auto;
	display: grid;
	grid-template: auto auto auto / auto auto;
}

.breadcrumb {
	grid-area: 1/1/2/3;
}


/* *** */

.title {
	font-family: $headFFamily;
	font-weight: bold;
	font-size: 2.250em;
	line-height: normal;
	color: $fontColor;
}

.title-h1 {
	margin-top: 0;
	margin-bottom: .778em;
}

.main__header {
	grid-column: 1/3;
}

/* *** */
.main-events {
  margin-bottom: 50px;
	grid-column: 1/3;

	.container {
		padding-left: 0;
		padding-right: 0;

		.row {
			padding: 0;
			margin: 0;
		}

		.col {
			padding: 0;
			margin: 0;
		}
	}
}

/* *** */
//.client-menu {
//	font-weight: bold;
//	font-size: .875em;
//	line-height: normal;
//	color: $fontColor;
//	width: 300px;
//
//	.active {
//		color: $fontColorLight;
//	}
//}
//
//.client-menu__list {
//	margin: 0;
//}
//
//.client-menu__item {
//	margin-bottom: 2em;
//}
//
//.client-menu__link {
//	color: inherit;
//}

.text__img {
	max-width: 100%;
	margin-bottom: 2.143em;
}

.text__wp {
	font-style: normal;
	font-weight: normal;
	font-size: .875em;
	line-height: normal;
	color: #000000;
}

.text__p {
	margin-bottom: 1.846em;
	margin-top: 0;
}

/* *** */
.advantages-section {
	margin-top: 40px;
	grid-column: 1/3;
}

.advantages__list {
	display: flex;
	justify-content: space-between;
}

.advantages__item {
	display: inline-block;
	position: relative;
	margin-right: 1.688em;
	margin-bottom: 1.5em;

	&:last-of-type {
		margin-right: 0;
	}
}

.advantages__wp {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0;
	left: 0;
}

.advantages__icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.advantages__icon-1 {
	background-image: url(../../img/clock-min.png);
}

.advantages__icon-2 {
	background-image: url(../../img/wallet-min.png);
}

.advantages__icon-3 {
	background-image: url(../../img/giftbox-min.png);
}

.advantages__icon-4 {
	background-image: url(../../img/headphones-min.png);
}

.advantages__icon-5 {
	background-image: url(../../img/shipped-min.png);
}

.advantages__round {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: $yellow;
	z-index: -1;
	position: absolute;
	right: 0;
	bottom: 0;
}

.advantages__text {
	font-weight: bold;
	font-size: .813em;
	line-height: normal;
	color: $fontColor;
	padding-left: 4.615em;
	max-width: 187px;
	display: flex;
	align-items: center;
	min-height: 40px;
	margin: 0;
}

/* *** */
@include mainPaddingTop991();
@import "about_company-media";
