@media screen and (max-width: 1220px) {
	.main {
		margin-left: $mainPaddingLeftRight;
		margin-right: $mainPaddingLeftRight;
	}

	.advantages__list {
		display: block;
		text-align: center;
	}

	.advantages__text {
		text-align: left;
	}
}

@media screen and (max-width: 540px) {
	.advantages__text {
		max-width: 100%;
	}

	.advantages__list {
		text-align: left;
	}
}

@media screen and (max-width: 950px) {

	.client-menu,
	.text__wp {
		grid-column: 1/3;
	}

	.client-menu {
		text-align: center;
		width: 100%;
		margin-bottom: 1em;
	}

	.client-menu__item {
		display: inline-block;
		padding: .5em;
		margin-bottom: 1em;
	}

	.text__img {
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 540px) {
	.title {
		font-size: 1.5em !important;
	}
}

@media screen and (max-width: 599px) {
	.event {
		min-height: auto;
		position: relative;
	}

	.event__img-wp {
		display: block;
		margin: 0 auto;
		position: relative;
	}

	.event__img {
		margin: 0 auto;
		display: block;
	}

	.event__content {
		padding-left: 0;
	}

	.event__category {
		margin-top: 1em;
		text-align: center;
	}
}

@media screen and (max-width: 400px) {
	.event__img-wp {
		width: 100%;
		height: auto;
	}
}
