//@import "../../style/normalize";
@import "../variables";
//@import "../../style/variables.part2";
@import "style/other";
@import "style/breadcrumb";

.akb {
	max-width: $siteWidth;
	margin: 0 auto;
	padding-bottom: 37px;
}

.title-h1 {
	font-family: $headFFamily;
	font-weight: bold;
	font-size: 2.250em;
	line-height: normal;
	color: $fontColor;
	margin-top: 0;
	margin-bottom: .389em;
}

.text__wp {
	font-style: normal;
	font-weight: normal;
	font-size: .875em;
	line-height: normal;
	color: $fontColor;
	margin-bottom: 2.143em;
}

.text__p {
	margin-bottom: 1.286em;
}

.table-img-wp {
	display: grid;
	grid-template-columns: 270px auto;
}

.table {
	border: none;
	border-collapse: collapse;
	height: 304px;
	width: 270px;
}

.table-title {
	font-family: $headFFamily;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: normal;
	color: $fontColor;
	margin-bottom: .792em;
	display: block;
}

.table__head {
	background: $fontColor;
	font-style: normal;
	font-weight: normal;
	font-size: .875em;
	line-height: normal;
	text-transform: capitalize;
	color: #FFFFFF;
	text-align: left;
	padding-left: 1.313em;
}

.table__body {
	font-style: normal;
	font-weight: normal;
	font-size: .813em;
	color: $fontColor;
	background: #FFFFFF;
}

.table {
	tr:nth-child(2n) {
		background: $sectBgrGray1;
	}

	th {
		padding: .643em 1.5em;
	}

	td {
		padding: .692em 1.615em;
	}
}

.img-wp {
	display: none;
}

.feedback {
	background: #FFFFFF;
	padding-bottom: 47px;
}

.feedback__content {
	max-width: $siteWidth;
	margin: 0 auto;
	padding-top: 31px;
}

.feedback__title {
	font-family: $headFFamily;
	font-style: normal;
	font-weight: bold;
	font-size: 2.250em;
	line-height: normal;
	color: $fontColor;
	margin-bottom: 1.333em;
	margin-top: 0;
}

.form {
	display: grid;
	grid-template: 1fr 1fr 1fr auto / 270px 370px;
	grid-column-gap: 30px;
	grid-row-gap: 9px;
}

.form__input {
	height: 40px;
	width: 100%;
	max-width: 270px;
	font-size: .875em;
	padding-left: .714em;
	background: $sectBgrGray1;
	border: 1px solid $borderGray;
	border-radius: .143em;
	font-style: normal;
	font-weight: normal;
	font-size: .875em;
	line-height: normal;
	color: $fontColorLight;
}

.form__textarea {
	font-size: .875em;
	padding-left: .714em;
	background: $sectBgrGray1;
	border: 1px solid $borderGray;
	border-radius: .143em;
	font-style: normal;
	font-weight: normal;
	font-size: .875em;
	line-height: normal;
	color: $fontColorLight;
}

.form__input::-webkit-input-placeholder,
.form__textarea::-webkit-input-placeholder,
.form__input:-ms-input-placeholder,
.form__textarea:-ms-input-placeholder,
.form__input::-ms-input-placeholder,
.form__textarea::-ms-input-placeholder,
.form__input::placeholder {
	color: $fontColorLight;
}

.form__textarea {
	&::placeholder {
		color: $fontColorLight;
	}

	width: 100%;
	padding-top: .714em;
	max-width: 370px;
	resize: none;
	width: 100%;
	grid-area: 1/2/3/3;
}

.form__text {
	font-style: normal;
	font-weight: normal;
	font-size: .750em;
	line-height: normal;
	color: $fontColorLight;
	grid-area: 3/2/4/3;
	margin: 0;
}

.form__link {
	color: $blue;
}

.form__wp {
	position: relative;
	overflow: hidden;
	height: 40px;
	max-height: 40px;
	grid-column: 1/2;
}

.form__placeholder {
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 100;
	display: inline;
	cursor: text;
	user-select: none;
	line-height: 2.857em;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: .875em;
	color: $fontColorLight;
}

.form__wp .form__input:valid + .form__placeholder {
	display: none;
}

.form__placeholder span {
	padding-left: .5em;
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: normal;
	color: $red;
}

.g-recaptcha {
	height: 49px;
	width: 201px;
	transform: scale(0.66);
	transform-origin: 0 0;
	margin-top: -.3em;
}

.form__btn {
	background: $red;
	border-radius: .143em;
	height: 44px;
	max-width: 301px;
	width: 100%;
	border: none;
	font-size: .875em;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	grid-area: 4/2/5/3;
	justify-self: flex-end;
}
@include mainPaddingTop991();
@import "akb-media";
