@import "../variables";
@import "../../../../node_modules/bootstrap/scss/_mixins";
.basket-page {
	background-color: $sectBgrGray1;
		.header-flex {
			padding-top: 20px;
				@include media-breakpoint-up(lg) {padding-top: 0;} 
		}
}
.basket-handover {
	background-color: $sectBgrGray1;
	padding-top: 10px;
	.basket-row {padding: 0;}
	.basket-item {
		margin-right: -30px;
		padding: 33px 15px;
		padding-right: 30px;	
		}


}
.basket-row {
	@include dFlex(space-between,flex-start,row,wrap);
	@include boxShadow3;
	background-color: #fff;
	width: 100%;
	padding: 23px 0 15px 0;
	position: relative;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
}
.basket-item {
	@include dFlex(flex-start,flex-start,row,wrap);
	@include setFont ($textFFamily,normal,normal,13px,$fontColorLight);
	line-height: 24px;
		@include media-breakpoint-up(md) {flex-wrap: nowrap;} 

	span {font-size: 14px;color:$fontColor; line-height: 18px;margin-bottom: 10px;display: inline-block;}
	img {margin-right: 50px;}
}
.basket-stepper	{
	padding-top: 15px;
	margin-left: auto;
		@include media-breakpoint-up(lg) {margin-left: 0;} 
		.stepper {display: block;margin: 0 auto;}
}
.basket-price {
	padding-left: 0px;
	padding-top: 15px;
	@include dFlex(flex-start,flex-start,row,nowrap);
		
		@include media-breakpoint-up(md) {padding-left: 30px;} 

		.new-price {margin-left: auto;}
}
.basket-close {
	background: url(/img/basket-close.svg) center no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	border: none;
	outline: 0;
	box-shadow: none;
}
.basket-handover-row {
	@include dFlex(space-between,center,row,wrap);
	border-top: 1px solid $borderGray3;
	height: 57px;
	padding: 0 15px 0 0;
	margin-right: -15px;
	position: relative;
	margin-left: -15px;
				@include media-breakpoint-up(lg) {
					border-top: none;
					border-bottom: 1px solid $borderGray3;
					border-left: 1px solid $borderGray3;
					margin-left: 0;
				} 

	&.add-new {	
		border-bottom: none;
		justify-content: flex-start;
		padding-left: 15px;
				@include media-breakpoint-up(md) {padding-left: 40px;} 
				@include media-breakpoint-up(lg) {padding-left: 190px;} 
				@include media-breakpoint-up(xl) {padding-left: 240px;} 
		
	}
		.basket-price {	padding-left: 15px;	padding-top: 0;}
		.capacity {
			margin-bottom: 10px;
				@include media-breakpoint-up(md) {padding-left: 40px;} 
				@include media-breakpoint-up(lg) {padding-left: 190px;} 
				@include media-breakpoint-up(xl) {padding-left: 240px;padding-right: 80px;} 

			.tooltip.in {opacity: 1;top: 5px!important;}
			.tooltip-inner {
				@include setFont ($textFFamily,normal,normal,14px,$fontColor);
				background-color: transparent;
			}
			.range-description {
				color: $fontColorLight;
				margin-bottom: -8px;
			}

		}	
}
.basket-resume {
	background-color: $sectBgrGray1;
	padding-bottom: 15px;
	padding-top: 40px;
	.bonus	{
		margin-bottom: 20px;
		.descript{font-size: 10px;line-height: 13px;}
	}

	.login-block {
		line-height: 18px;
		margin-bottom: 20px;
		// padding-right: 0;
		div:last-child {
			@include dFlex(flex-start,flex-start,row,wrap);
			margin-top: 18px;
		}
		span {margin: 0 10px;}
		a {text-decoration: underline;}
	}	
	.bl {
		border-left: 1px solid $fontColor;
		height: 44px;
		display: none;
				@include media-breakpoint-up(lg) {display: block;} 

	}
	.sum-price {
			@include dFlex(flex-start,flex-start,column,nowrap);
			margin-bottom: 15px;
					@include media-breakpoint-up(xl) {align-items: flex-end;} 

			div{ 
				max-width: 117px;
				width: 100%;
			}
	}
	.new-price {margin-right: 0;}
	.red-btn{
		margin-left: auto;
		width: 100%;
				@include media-breakpoint-up(xl) {width: 218px;} 
		
	}

}