//@import "../../style/normalize";
@import "../variables";
//@import "../../style/variables.part2";
@import "style/other";
@import "style/breadcrumb";


/* *** */

.main {
	max-width: $siteWidth;
	margin: 0 auto;
	display: grid;
	grid-template: auto auto auto / auto auto;
}

.breadcrumb {
	grid-area: 1/1/2/3;
}

/* *** */

.title-h1 {
	font-family: $headFFamily;
	font-weight: bold;
	font-size: 2.250em;
	line-height: normal;
	color: $fontColor;
	margin-top: 0;
	margin-bottom: .778em;
	grid-area: 2/1/3/3;
}

.client-menu {
	font-weight: bold;
	font-size: .875em;
	line-height: normal;
	color: $fontColor;
	width: 300px;

	.active {
		color: $fontColorLight;
	}
}

.client-menu__list {
	margin: 0;
}

.client-menu__item {
	margin-bottom: 2em;
}

.client-menu__link {
	color: inherit;
}

.bonus-section {
	grid-column: 2/3;
	margin-bottom: 50px;
}

.text__wp {
	line-height: normal;
	font-weight: normal;
	/*	font-size: 13px;*/
	font-size: .813em;
	color: $fontColor;
	display: none;
}

.text__p {
	margin-bottom: 20px;
	margin-top: 0;
}

/* *** */

.sort__list {
	margin-top: 0;
	margin-bottom: 6px;
}

.sort__item {
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: normal;
	color: $fontColor;
	display: inline-block;
	margin-right: 1.750em;
	margin-bottom: 1em;

	&:last-of-type {
		margin-right: 0;
	}
}

/* *** */

.control {
	position: relative;
	padding-left: 20px;
	display: block;
	user-select: none;
}

.control_indicator {
	position: absolute;
	/*	top: 4px;*/
	top: .250em;
	left: 0;
	/*	height: 12px;*/
	height: .750em;
	/*	width: 12px;*/
	width: .750em;
	border: 1px solid $red;
	border-radius: 50%;

	&:after {
		-webkit-box-sizing: unset;
		box-sizing: unset;
		content: '';
		position: absolute;
		display: none;
	}
}

#RECEIVE-BONUS:checked ~ {

	.sort__list .control-receive .control_indicator:after,
	.text__receive {
		display: block;
	}
}

#SPEND-BONUS:checked ~ {

	.sort__list .control-spend .control_indicator:after,
	.text__spend {
		display: block;
	}
}

.control_indicator:after {
	/*	left: 2px;*/
	left: .125em;
	/*	top: 2px;*/
	top: .125em;
	/*	height: 6px;*/
	height: .375em;
	/*	width: 6px;*/
	width: .375em;
	border-radius: 50%;
	background: $red;
}
@include mainPaddingTop991();
@import "bonus_system-media";
