@media screen and (max-width:1220px) {

  .main {
    margin-left: 5vh;
    margin-right: 5vh;
  }

  .titles,
  .titles-wp {
    flex-direction: column;
  }

  .titles__other-cars {
    margin: 30px 0 0 auto;
  }

}


@media screen and (max-width:1008px) {
  .classifier-section {
    grid-template: auto auto / auto;
  }
}

@media screen and (max-width:450px) {

  .classifier__item3,
  .classifier__item2,
  .classifier__item {
    max-width: 100%;
  }
}

@media screen and (max-width:1008px) {
  .diagram-section {
    grid-template: auto auto / auto;
  }

  .filter-number {
    margin-bottom: 30px;
  }
}

@media screen and (max-width:1008px) {
  .diagram-wp {
    overflow-x: scroll;
    //    height: 476px;
    //    width: 100%;
    //    max-width: 100%;
    height: auto;
    width: auto;
  }

  .diagram-img {
    height: 476px;
    max-height: 476px;
    width: 870px;
    max-width: 870px;
  }

}

@media screen and (max-width:540px) {
  .title {
    font-size: 1.5em !important;
    //    margin-bottom: 1em;
  }

  .title-h3 {
    font-size: 18px !important;
  }
}

@media screen and (max-width:450px) {
  .titles__other-cars {
    max-width: 100%;
  }
}
