//@import "../../style/normalize";
@import "../variables";
//@import "../../style/variables.part2";
@import "style/other";
@import "style/breadcrumb";


.main {
  max-width: $siteWidth;
  margin: 0 auto;
  padding-bottom: 50px;
}

@include mainPaddingTop991();
//  @media screen and (max-width: 991px) {
//    .main {
//      padding-top: 40px;
//    }
//  }


.bread-2,
.bread-3,
.bread-4,
.bread-5,
.bread-6 {
  display: none;
}

//************************************************************
.modification__hidden {
  display: none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  background: $fontColor;
  font-weight: bold;
}

.modification__link {
  cursor: pointer;
}

.modification__table-wp {
  display: block;
  margin-bottom: 35px;
}

.modification__table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  background: #FFFFFF;
  border: 1px solid $fontColor; 
  box-sizing: border-box;
  border-radius: 2px;
}

.modification__table tr {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.modification__table th,
.modification__table td {
  padding: 16px 18px;
}

.modification__table th {
  background: $fontColor;
  border-radius: 2px 2px 0px 0px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.modification__table tr {
  border-bottom: 1px solid $fontColor;

  &:last-of-type {
    border-bottom: none;
  }

}

@media screen and (max-width: 1100px) {
  .modification__table {
    max-width: 500px;
    //    border: 0;
    margin: 0 auto;
  }

  .modification__table thead {
    display: none;
  }

  .modification__table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid $fontColor;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .modification__table td {
    display: block;
    text-align: right;
    border-bottom: 1px solid $borderGray;
  }

  .modification__table .modification__hidden {
    display: block;
    text-align: center;

  }

  .modification__table td:last-child {
    border-bottom: 0;
  }

  .modification__table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
  }
}

//************************************************************

.titles-wp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.titles__text {
  margin-top: 10px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: -10px;
  color: $fontColor;
}

.titles__other-cars {
  @include linkLikeBtn(35px, 181px, $yellow, $fontColor, 14px);
  text-transform: none;

}

.titles__h2 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: $fontColor;
  margin-bottom: 0;
}

.title-h3 {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: $fontColor;
  display: none;
  margin-bottom: 0;
}


.classifier-section,
.diagram-section {
  grid-template: auto / 270px 1fr;
  grid-gap: 31px;
  display: none;
}

.classifier-section {
  .filter-top-groupe .collapsed {
    margin-bottom: 0;
  }

  .filter-top-groupe .black-btn {
    display: flex;
  }
}

.found-parts {
  display: none;
}

.classifier__list3,
.classifier__list2 {
  display: none;
}

.classifier__list3,
.classifier__list2,
.classifier__list {
  padding: -5px -4px;
  text-align: center;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 5px 4px;
  }
}

.classifier__item3,
.classifier__item2,
.classifier__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 116px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: $fontColor;
  padding: .5em;

  &:hover,
  &:focus {
    outline: 2px solid $yellow;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

}

#CLASSIFIER-INPUTS-FILTER {
  border-bottom: 2px solid $borderGray3;
  margin-bottom: 10px;
}

.filter-general {
  display: none;
}


.spoiler-filter {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 1em;
}

.filter-general__text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 1em;
}

.filter-general__subtext {
  line-height: 18px;
  color: $fontColor;

  &::before {
    content: '-';
    margin-left: 8px;
  }
}

.filter-general__summary::-webkit-details-marker {
  display: none;
}

.filter-general__summary {
  margin-bottom: 6px;

  &:focus {
    outline: none;
  }

  &::after {
    content: "";
    background: url(../../img/filter-up.svg) center no-repeat;
    transform: rotate(180deg);
    width: 12px;
    height: 6px;
    transition: all .3s linear;
    text-shadow: 0 0 black;
    display: inline-block;
    padding-bottom: 8px;
    margin-left: 9px;
  }
}

.spoiler-filter[open] .filter-general__summary:after {
  transform: none;
}

// **********************************

//.found-parts {
//  display: none;
//}
.found-parts__item {
  margin-bottom: 18px;
  display: grid;
  grid-template: auto / 214px auto;
}

.found-parts__wp1 {
  align-self: flex-start;
  display: block;
  width: 202px;
  min-height: 213px;
  padding: 8px 7px 27px 7px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.found-parts__wp2 {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  width: 100%;
}

.found-parts__img {
  max-width: 100%;
  max-height: 100%;
}

.found-parts__title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: $fontColor;
  margin-bottom: 12px;
}

.found-parts__p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}


.found-parts__detail {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}

.found-parts__number {
  display: inline-block;
  color: #000000;
  min-width: 75px;
}

.found-parts__link {
  text-decoration-line: underline;
  color: $red;
}

@media screen and (max-width:770px) {
  .found-parts__item {
    grid-template: auto auto / auto;
    grid-gap: 12px;
  }

  .found-parts__wp1 {
    width: 100%;
    min-height: auto;
  }

  .found-parts__img-wp,
  .found-parts__imgs {
    margin: 0 auto;
  }
}

@media screen and (max-width:550px) {
  .found-parts__number {
    min-width: auto;
  }
}



// **********************************
.diagram-wp {
  height: 476px;
  width: 100%;
}

.diagram-img {
  max-width: 100%;
  max-height: 100%;
  //  height: 476px;
  //  width: 870px;
}


// Фильтр "Номер, описание"
.filter-number {
  .filter-top-groupe {
    background: $fontColor;
    border-radius: 3px 3px 0px 0px;
    display: grid;
    grid-template: auto / 1fr 100px;
    padding-bottom: 0;

    .black-btn {
      margin-bottom: 0;
      display: flex;

    }

    .red-btn {
      width: 87px;
    }

    .black-btn.collapsed + .red-btn {
      margin-bottom: 0;
    }
  }

  .radio-text {
    font-size: 14px;
  }
}



.display-grid {
  display: grid;
}

.display-grid-titles {
  display: grid;
  grid-template: auto / 270px 1fr;
  grid-column-gap: 33px;
}

.display-flex {
  display: flex;
}

@media screen and (max-width:1008px) {
  .display-grid-titles {
    display: grid;
    grid-template: auto auto / auto;
    grid-gap: 10px;
  }
}

@import "cat-spare_parts-media";
