.main-product-card {
  .b1 {
    .img-link {
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}

//.appointment-filter,
//.oil-type-filter,
//.viscosity-filter,
//.manufacturer-filter,
//.composition-filter,
//.engine-type-filter,
//.specification-acea-filter,
//.specification-api-filter,
//.specification-oem-filter,
.brand-filter,
.specification-filter,
.access-filter,
.color-filter,
.specification-2-filter,
.brand-2-filter,
.class-filter {
  display: none;
}

.catalog-page {
  padding-bottom: 50px;
}
