//@import "../../style/normalize";
@import "../variables";
//@import "../../style/variables.part2";
@import "style/other";
@import "style/breadcrumb";

/* *** */

main {
	max-width: $siteWidth;
	margin: 0 auto;
	display: grid;
	grid-template: repeat(4, auto) / auto auto;
	grid-template-areas:
		"breadcrumb breadcrumb"
		"title-h1 title-h1"
		"contact feedback"
		"map map";
	margin-bottom: 50px;
}

.breadcrumb {
	grid-area: breadcrumb;
}

.title-h1 {
	grid-area: title-h1;
}

.contact {
	grid-area: contact;
}

.feedback {
	grid-area: feedback;
	justify-self: flex-end;
}

.map {
	grid-area: map;
}

/* *** */

.title {
	font-family: $headFFamily;
	font-weight: bold;
	/*	font-size: 36px;*/
	font-size: 2.25em;
	line-height: normal;
	color: $fontColor;
}

.title-h1 {
	margin-top: 0;
	/*	margin-bottom: 14px;*/
	margin-bottom: 0.389em;
}

.contact {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: $fontColor;
	
	p {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	a {
		color: inherit;
		display: block;
	}

	span {
		display: block;
	}
}

.contact__address {
	font-weight: bold;
	max-width: 201px;
	display: block;
	margin-bottom: 25px;
}

.contact__cat {
	color: $fontColorLight;
}

/* *** */
.social {
	margin: 25px 0 16px 0;
	display: flex;

	li {
		height: 30px;
		width: 30px;
		margin-right: 7px;
	}

	li:last-of-type {
		margin-right: 0;
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.contact__cat {
	margin-top: 18px;
}

.download-wp {
	display: flex;
}

.download {
	text-decoration-line: underline;
	color: #000000;
}

/* *** */

.feedback__title {
	// font-size: 36px;
	margin-bottom: 48px;
	margin-top: 0;
}

.form {
	display: grid;
	grid-template: 1fr 1fr 1fr auto / 270px 370px;
	grid-column-gap: 30px;
	grid-row-gap: 9px;
}

.form__input {
	height: 40px;
	width: 100%;
	max-width: 270px;
}

.form__input,
.form__textarea {
	font-size: 0.875em;
	/*	padding-left: 10px;*/
	padding-left: 0.714em;
	background: $sectBgrGray1;
	border: 1px solid $borderGray;
	/*	border-radius: 2px;*/
	border-radius: 0.143em;
	font-style: normal;
	font-weight: normal;
	/*	font-size: 14px;*/
	font-size: 0.875em;
	line-height: normal;
	color: $fontColorLight;
}

.form__input::placeholder,
.form__textarea::placeholder {
	color: $fontColorLight;
}

.form__textarea {
	width: 100%;
	/*	padding-top: 10px;*/
	padding-top: 0.714em;
	max-width: 370px;
	resize: none;
	grid-area: 1/2/3/3;
}

.form__text {
	font-style: normal;
	font-weight: normal;
	/*	font-size: 12px;*/
	font-size: 0.75em;
	line-height: normal;
	color: $fontColorLight;
	grid-area: 3/2/4/3;
	margin: 0;
}

.form__link {
	color: $blue;
}

/* *** */

.form__wp {
	position: relative;
	overflow: hidden;
	height: 40px;
	height: 2.857em;
	grid-column: 1/2;
	max-height: 40px;
}

.form__placeholder {
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 100;
	display: inline;
	cursor: text;
	user-select: none;
	line-height: 40px;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	/*	font-size: 14px;*/
	font-size: 0.875em;
	color: $fontColorLight;
}

.form__wp .form__input:valid + .form__placeholder {
	display: none;
}

.form__placeholder span {
	padding-left: 0.5em;
	font-style: normal;
	font-weight: normal;
	/*	font-size: 14px;*/
	font-size: 1em;
	line-height: normal;
	color: $red;
}

.g-recaptcha {
	height: 49px;
	width: 201px;
	transform: scale(0.66);
	transform-origin: 0 0;
}

.form__btn {
	background: $red;
	border-radius: 0.143em;
	//	height: 44px;
	height: 3.143em;
	//	line-height: 44px;
	line-height: 3.143em;
	max-width: 301px;
	width: 100%;
	border: none;
	font-size: 0.875em;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	grid-area: 4/2/5/3;
	justify-self: flex-end;
	align-self: flex-end;
}

/* *** */
.map {
	background-color: $mapBg;
	height: 304px;
	width: 100%;
	margin-top: 36px;
  border: none;
}

/* *** */
@include mainPaddingTop991();
@import "contacts-media";
