@media screen and (max-width:1220px) {
	.main {
		margin-left: $mainPaddingLeftRight;
		margin-right: $mainPaddingLeftRight;
	}
}

@media screen and (max-width:950px) {
	.main__header {
		display: block;
		margin-bottom: 1em;
	}

	.title-h1 {
		margin-bottom: .528em;
	}

	.link-back {
		text-align: right;
		display: block;
	}
}

@media screen and (max-width:540px) {
	.title-h1 {
		font-size: 1.5em !important;
	}

	.date {
		margin-top: 16px;
	}
}
