@media screen and (max-width:1220px) {
	main {
		margin-left: $mainPaddingLeftRight;
		margin-right: $mainPaddingLeftRight;
	}
}

@media screen and (max-width:770px) {
	.search {
		flex-direction: column;
		align-items: flex-start;
	}

	.search__text {
		margin-bottom: .5em;
	}
}

@media screen and (max-width:540px) {
	.title {
		font-size: 1.5em !important;
		margin-bottom: 1em;
	}

	.feedback__header {
		b {
			font-size: 1em;
		}
	}
}

@media screen and (max-width:800px) {
	.form {
		display: grid;
		grid-template: 1fr 1fr 1fr 2fr auto auto auto/ auto;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}

	.form__input {
		max-width: 100%;
	}

	.form__textarea {
		grid-column: 1/2;
		grid-row: auto;
	}

	.g-recaptcha {
		margin-top: .5em;
		margin-bottom: .5em;
	}

	.form__text {
		grid-column: 1/2;
		grid-row: auto;
		margin-top: .5em;
	}

	.form__btn {
		grid-column: 1/2;
		grid-row: auto;
		justify-self: center;
	}
}

@media screen and (max-width:319px) {
	.g-recaptcha {
		transform: scale(0.6);
	}
}
