//@import "../../style/normalize";
@import "../variables";
//@import "../../style/variables.part2";
@import "style/other";
@import "style/breadcrumb";
@import "style/pagination";

/* *** */

.main {
	max-width: $siteWidth;
	margin: 0 auto;
	display: grid;
	grid-template: auto auto auto / auto auto;
}

.breadcrumb {
	grid-area: 1/1/2/3;
}

/* *** */

.title-h1 {
	font-family: $headFFamily;
	font-weight: bold;
	font-size: 2.250em;
	line-height: normal;
	color: $fontColor;
	margin-top: 0;
	margin-bottom: .778em;
	grid-area: 2/1/3/3;
}

.client-menu {
	font-weight: bold;
	font-size: .875em;
	line-height: normal;
	color: $fontColor;
	width: 300px;
	grid-area: 3/1/5/2;

	.active {
		color: $fontColorLight;
	}
}

.client-menu__list {
	margin: 0;
}

.client-menu__item {
	margin-bottom: 2em;
}

.client-menu__link {
	color: inherit;
}

.arrow-icon {
	display: inline-block;
	position: relative;
	transform: rotate(135deg);
	user-select: none;
}

/* *** */

.feedback {
	margin-bottom: 50px;
}

.feedback__label {
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	/*	font-size: 14px;*/
	font-size: .875em;
	text-align: center;
	color: $fontColor;
	/*	height: 67px;*/
	height: 4.786em;
	/*	width: 270px;*/
	width: 19.286em;
	text-align: center;
	position: relative;
	/*	margin-top: -30px;*/
	margin-top: -2.143em;
	/*	margin-bottom: 30px;*/
	margin-bottom: 2.143em;
	/*	padding: 24px 0;*/
	padding: 1.714em 0;
}

#QUESTIONS-VISITORS:checked ~ {
	.feedback__header .label-frequently {
		background: #FFFFFF;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			/*	margin-left: -35px;*/
			margin-left: -2.5em;
			/*	bottom: -70px;*/
			bottom: -5em;
			border: 35px solid transparent;
			/*	border-top: 35px solid #FFFFFF;*/
			border-top: 2.5em solid #FFFFFF;
		}
	}

	.frequently-block {
		display: block;
	}
}

#QUESTIONS-FREQUENTLY:checked ~ {
	.feedback__header .label-visitors {
		background: #FFFFFF;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			/*	margin-left: -35px;*/
			margin-left: -2.5em;
			/*	bottom: -70px;*/
			bottom: -5em;
			border: 35px solid transparent;
			/*	border-top: 35px solid #FFFFFF;*/
			border-top: 2.5em solid #FFFFFF;
		}
	}

	.visitors-block {
		display: block;
	}
}

.feedback__leave-review {
	@include linkLikeBtn(3.143em, 16em, $red, #FFFFFF, .875em);
	margin: 0 0 auto auto;
}

/* *** */

.feedback__list {
	font-style: normal;
	font-weight: normal;
	/*	font-size: 14px;*/
	font-size: .875em;
	line-height: normal;
	color: #000000;
	display: none;
	margin-bottom: 28px;
}

.feedback__item {
	background: #FFFFFF;
	/*	margin-bottom: 9px;*/
	margin-bottom: .643em;
}

.feedback__question,
.feedback__answer {
	background: #FFFFFF;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	/*	padding: 25px 25px 16px 27px;*/
	padding: 1.786em 1.786em 1.143em 1.929em;
}

.feedback__question {
	/*	margin-bottom: 3px;*/
	margin-bottom: .214em;
}

.feedback__category {
	position: absolute;
	color: $fontColor;
	margin-bottom: 1em;
	display: block;
}

.feedback__text-wp {
	/*	padding-left: 91px;*/
	padding-left: 6.5em;
}

.feedback__text {
	margin-top: 0;
	margin-bottom: auto;
}

.feedback__spoiler {
	overflow: hidden;
	max-height: 130px;
}

.feedback__show {
	transition: max-height .5s ease-in-out;
	max-height: 9999px;
}

.feedback__autor {
	margin: 1em 0 0 0;
	color: $fontColorLight;
}

.feedback__date {
	color: $fontColorLight;
}

.feedback__show-more {
	font-family: $textFFamily2;
	font-style: normal;
	font-weight: normal;
	/*	font-size: 14px;*/
	font-size: 1em;
	line-height: normal;
	color: $fontColorLight;
	display: block;
	background: none;
	border: none;
	padding: 0;
	margin: auto 0 auto auto;
	user-select: none;
}

.filter__icon {
	/*	width: 7px;*/
	width: .5em;
	/*	height: 7px;*/
	height: .5em;
	border-right: 1px solid $fontColorLight;
	border-top: 1px solid $fontColorLight;
	/*	margin-left: 5px;*/
	margin-left: .357em;
	margin-bottom: .2em;
	display: inline-block;
}

/* *** */

@media screen and (min-width: 1220px) {
	.pagination {
		margin-right: 70px !important;
	}
}

@include pagination(1220px);
@include mainPaddingTop991();
@import "question-media";
