@media screen and (max-width: 1220px) {
  .main {
    margin-left: $mainPaddingLeftRight;
    margin-right: $mainPaddingLeftRight;
  }

  .header-wp {
    justify-content: space-between;
  }

  .recent-event__header {
    margin-left: 30px;
  }

}

@media screen and (max-width: 992px) {
  .client-menu {
    grid-area: 2/1/3/3;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
  }

  .client-menu__item {
    display: inline-block;
    padding: .5em;
    margin-bottom: 1em;
  }

  .recent-event {
    grid-column: 1/3;
  }

  .recent-event__header {
    margin-left: 0;
  }

  .header-wp {
    display: block;
  }

  .header-wp__h1 {
    display: none;
  }

  .main-header {
    display: block;
    margin-bottom: 1.250em;
  }
}



@media screen and (max-width: 540px) {
  .title {
    font-size: 1.5em !important;
  }
}

@media screen and (max-width: 599px) {
  .event {
    min-height: auto;
  }

  .event__img-wp {
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .event__content {
    padding-left: 0;
  }

  .event__category {
    margin-top: 1em;
    text-align: center;
  }

  .recent-event__list {
    text-align: center;
  }
}
