@mixin mediaMain() {
	@media screen and (max-width: 1220px) {
		.main {
			margin-left: $mainPaddingLeftRight;
			margin-right: $mainPaddingLeftRight;
		}
	}

	@media screen and (max-width:540px) {
		.title {
			font-size: 1.5em !important;
		}
	}
}

/* *** */
@mixin mediaAddressesShops() {
	@media screen and (max-width: 900px) {
		.addresses_shops {
			grid-template: auto auto / auto;
		}

		.cities {
			grid-area: 1/1/2/2;
			width: 378px;
			margin: 0 auto;
		}

		.cities__list {
			height: 350px;
		}

		.map {
			grid-area: 2/1/3/2;
			height: 400px;
		}
	}

	@media screen and (max-width: 500px) {
		.cities {
			width: 100%;
			max-width: 100%;
			max-width: 240px;
		}

		.cities__item {
			grid-template: 109px auto / auto;
			grid-gap: 14px;
			padding: 12px 20px;
		}

		//		.cities__img-wp {
		//			margin: 0 auto;
		//		}
	}
}


/* *** */
@mixin mediaSale() {
	@media screen and (max-width: 1000px) {
		.sale__header {
			flex-direction: column;
			align-items: flex-start;
			margin: 0 0 1em 0;

			.slider-arrows {
				margin-top: 1em;
				align-self: center;
			}
		}

		.sale__all-promotions {
			margin: 1em 0;
			align-self: flex-end;
		}
	}

	@media screen and (max-width:374px) {
		.sale__item {
			margin: 0;
			max-width: 100%;
			width: 100%;
		}

		.sale__img {
			margin: 0 auto;
		}
	}
}
