//@import "../../style/normalize";
@import "../variables";
//@import "../../style/variables.part2";
@import "style/other";
@import "style/breadcrumb";
@import "../slick";

@import "retail_chain-media";


/* *** */



/* *** */

.main {
	max-width: $siteWidth;
	margin: 0 auto;
}

/* *** */

.title {
	font-family: $headFFamily;
	font-weight: bold;
	font-size: 2.250em;
	line-height: normal;
	color: $fontColor;
}


.title-h1 {
	margin: 0;
}

/* *** */
.addresses_shops {
	display: grid;
	grid-template-columns: 378px auto;
	grid-gap: 24px;
}

.city-section {
	margin: 0;
}

.city-select {
	width: 100%;
}

/* *** */
@include citySelect(40px, 100%);
/* *** */

/* *** */
.cities__list {
	margin: 0;
	overflow-y: scroll;
	height: 691px;
	width: 100%;
	max-width: 100%;
	//для firefox
	scrollbar-color: $fontColorLight $fontColorLight3;
	scrollbar-width: 15px;
	//для firefox end

	&::-webkit-scrollbar-track {
		box-sizing: border-box;
		width: 15px;
	}

	&::-webkit-scrollbar {
		border: 1px solid $fontColorLight3;
		box-sizing: border-box;
		width: 15px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: $fontColorLight;

		&:hover {
			background-color: darken($fontColorLight, 5%);
		}
	}

	&::-webkit-scrollbar-button {
		height: 14px;
		background-repeat: no-repeat;
		background-size: contain;
		background-size: 8px;
		background-position: center;
	}

	&::-webkit-scrollbar-button:start {
		background-image: url('../../img/up.svg');
	}

	&::-webkit-scrollbar-button:end {
		background-image: url('../../img/down.svg');
	}
}

.cities__item {
	padding: 15px 12px;
	display: grid;
	grid-template-columns: 149px auto;
	grid-column-gap: 24px;
	background: #FFFFFF;
	border-bottom: 1px solid $borderGray3;

	&:first-of-type {
		border-top: 1px solid $borderGray3;
	}

	&:hover {
		background: darken(#FFFFFF, 5%);
	}
}

.cities__content {
	font-family: $labelFFamily;
	font-style: normal;
	font-weight: normal;
	//	font-size: 14px;
	font-size: .875em;
	//	line-height: 16px;
	line-height: 1.143em;
	color: $retailTextColor;

	p {
		//		margin: 0 0 8px 0;
		margin: 0 0 .571em 0;
	}
}

.cities__img-wp {
	height: 109px;
	width: 149px;
}

.cities__img {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	display: block;
}


.cities__link-wp {
	display: block;
	//	margin: 0 0 8px 0;
	margin: 0 0 .571em 0;
}

.cities__city {
	margin: 0;
	font-weight: bold;
	display: block;
}


.cities__address {
	font-weight: bold;
}

.cities__more {
	text-decoration-line: underline;
	color: $fontColorLight;

	&:hover,
	&:disabled,
	&:focus {
		text-decoration-line: underline;
	}
}

/* *** */
.map {
	width: 100%;
	height: 100%;
	border: none;
}

/* *** */
@include mediaAddressesShops();
/* *** */


.sale {
	margin: 50px 0;
}

.sale__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 32px 0;

	.title {
		margin: 0;
	}

	.slider-arrows {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		width: 140px;
	}

	.prev-slider {
		@include sliderControlPrev($fontColor);
		position: relative;
	}

	.next-slider {
		@include sliderControlNext($fontColor);
		position: relative;
	}
}

.sale__all-promotions {
	font-size: 14px;
	color: $blue;
	justify-self: flex-end;
	display: block;
	margin: 0 0 0 96px;
}

@include saleBloks();

.sale__item {
	margin: 0 15px 3px 15px;
}

/* *** */
@include mediaSale();
/* *** */

/* *** */
@include mediaMain();
@include mainPaddingTop991();