@media screen and (max-width:1220px) {
	.main {
		margin-left: $mainPaddingLeftRight;
		margin-right: $mainPaddingLeftRight;
	}
}

@media screen and (max-width:800px) {
	.feedback__item {
		padding: 1.786em 1.786em 1.286em 1.786em;
	}

	.feedback__item-header {
		position: relative;
	}

	.feedback__text {
		padding-left: 0;
	}
}

@media screen and (max-width:950px) {
	.title-h1 {
		grid-column: 1/3;
		grid-row: auto;
	}

	.feedback-section {
		margin: 0 0 50px 0;
		grid-column: 1/3;
		grid-row: auto;
	}

	.client-menu {
		grid-area: 3/1/4/3;
		grid-column: 1/3;
		grid-row: auto;
		text-align: center;
		width: 100%;
		margin-bottom: 1em;
	}

	.client-menu__item {
		display: inline-block;
		padding: .5em;
		margin-bottom: 1em;
	}
}

@media screen and (max-width:540px) {
	.title-h1 {
		font-size: 1.5em !important;
	}

	.feedback__leave-review {
		margin-bottom: 1.5em;
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width:400px) {
	.filter {
		display: block;
		margin-bottom: 1em;
	}

	.filter__list {
		width: 150px;
	}

	.filter__label {
		display: inline-block;
	}

	.filter__evaluation {
		margin-right: 0;
	}

	.feedback__item {
		padding: 1.429em;
	}
}

@media screen and (max-width:350px) {
	.feedback__leave-review {
		font-size: .813em;
	}
}
