@import "../variables";
@import "../../../../node_modules/bootstrap/scss/_mixins";

.recom__sect {
	padding-top: 20px;
		@include media-breakpoint-up(lg) {padding-top: 0;}

		h1 {padding-bottom: 0;margin-bottom: 5px;}
		.search__query {
				@include setFont ($textFFamily,normal,normal,24px,$fontColor);
				line-height: 31px;
				margin-bottom: 20px;
		}
		.b-yellow {box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.1);}
		.analog-section {
				margin-bottom: 5px;
					@include media-breakpoint-up(lg) {margin-bottom: 20px;}
		}
		
		.recomendation {
			padding: 10px 10px 10px 15px;
				margin-bottom: 15px;
					@include media-breakpoint-up(lg) {margin-bottom: 0;}

			.price-block {
				right: 0;
				bottom: 0;
					.red-btn {
						width: 38px;
						margin-bottom: 0;
			 			&:before { margin-right: 0px;}			
					}
			}
		}
}
.search__page {
		.analogs {
			.analog-btn-block {
				.yellow-btn, .yellow-transparent-btn {text-transform: none;color:#000;}
			}
		}	
}
.sort__section {
	input {display: none;}
	.sort__filter {
		background-color: #fff;
		padding: 8px 15px;
		margin-bottom: 15px;

		@include Border($borderGray3);
		@include dFlex(flex-start,flex-start,row,wrap);
		
				@include media-breakpoint-up(md) {flex-wrap: nowrap;justify-content: space-between;}
				@include media-breakpoint-up(lg) {flex-wrap: wrap;justify-content: flex-start;}
				@include media-breakpoint-up(xl) {flex-wrap: nowrap;justify-content: flex-start;}

		.sort__item {
			@include setFont ($labelFFamily,normal,normal,14px,$fontColor);
			@include dFlex(flex-start,flex-start,row,wrap);
					
					@include media-breakpoint-up(sm) {flex-wrap: nowrap;}

			&:first-child {
				margin-bottom: 10px;
					@include media-breakpoint-up(md) {margin-bottom: 0;}
					@include media-breakpoint-up(lg) {margin-bottom: 10px;}
					@include media-breakpoint-up(xl) {margin-bottom: 0;}
			}		

				>div {
						margin-right: 30px;		
						@include media-breakpoint-up(md) {margin-right: 10px;}
						@include media-breakpoint-up(lg) {margin-right: 30px;}

				}
				label {
					margin-bottom: 0;
					cursor: pointer;
					color: $fontColorLight;
					&.b {color: $fontColor;}
				}

		}
	}
}
