//@import "../../style/normalize";
@import "../variables";
//@import "../../style/variables.part2";
@import "style/other";
@import "style/breadcrumb";


/* *** */

.main {
	max-width: $siteWidth;
	margin: 0 auto;
	display: grid;
	grid-template: auto auto auto / auto auto;
}

.breadcrumb {
	grid-area: 1/1/2/3;
}


/* *** */

.title-h1 {
	font-family: $headFFamily;
	font-weight: bold;
	font-size: 2.250em;
	line-height: normal;
	color: $fontColor;
	margin-top: 0;
	margin-bottom: .778em;
	grid-area: 2/1/3/3;
}

.client-menu {
	font-weight: bold;
	font-size: .875em;
	line-height: normal;
	color: $fontColor;
	width: 300px;
	grid-area: 3/1/5/2;

	.active {
		color: $fontColorLight;
	}
}

.client-menu__list {
	margin: 0;
}

.client-menu__item {
	margin-bottom: 2em;
}

.client-menu__link {
	color: inherit;
}

.text__wp {
	font-style: normal;
	font-weight: normal;
	font-size: .875em;
	line-height: normal;
	color: $fontColor;
	grid-column: 2/3;
	/*	margin-top: 40px;*/
	margin-top: 2.857em;
	/*	margin-bottom: 50px;*/
	margin-bottom: 3.571em;
}

.text__p {
	margin-bottom: 1.846em;
	margin-top: 0;
}

.services-section {
	grid-column: 2/3;
}

.sort__list {
	margin-bottom: 1.875em;
}

.sort__item {
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: normal;
	color: $fontColor;
	display: inline-block;
	margin-right: 1.750em;
	margin-bottom: 1em;

	&:last-of-type {
		margin-right: 0;
	}
}

.sort__repair {
	position: relative;
	vertical-align: top;
}

.sort__repair-label {
	display: flex;
	align-items: center;
}

.sort__arrow {
	display: inline-block;
	font-style: normal;
	position: relative;
	width: .5em;
	height: .5em;
	border-right: 1px solid $fontColor;
	border-top: 1px solid $fontColor;
	transform: rotate(135deg);
	user-select: none;
	margin-left: .625em;
}

.sort__sublist {
	display: none;
	position: absolute;
	width: 180px;
	background: #FFFFFF;
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
	top: 100%;
	left: -1.250em;
	z-index: 10;
}

.sort__subitem {
	color: $fontColor;
	font-style: normal;
	font-weight: normal;
	font-size: .875em;
	line-height: normal;

	a {
		color: inherit;
		padding: .714em;
		display: block;
	}
}

#SORT-REPAIR:checked ~ {
	.sort__sublist {
		display: block;
	}

	.sort__repair-label .sort__arrow {
		transform: rotate(-45deg);
		margin-top: .313em;
	}
}

/* *** */

.control {
	position: relative;
	padding-left: 20px;
}

.control_indicator {
	position: absolute;
	/*	top: 4px;*/
	top: .250em;
	left: 0;
	/*	height: 12px;*/
	height: .750em;
	/*	width: 12px;*/
	width: .750em;
	border: 1px solid $red;
}

.control-radio .control_indicator {
	border-radius: 50%;
}

.control_indicator:after {
	box-sizing: unset;
	content: '';
	position: absolute;
	display: none;
}

.control input:checked ~ .control_indicator:after {
	display: block;
}

.control-radio .control_indicator:after {
	/*	left: 2px;*/
	left: .125em;
	/*	top: 2px;*/
	top: .125em;
	/*	height: 6px;*/
	height: .375em;
	/*	width: 6px;*/
	width: .375em;
	border-radius: 50%;
	background: $red;
}

/* *** */

.services__list {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0;
}

.services__item {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	padding: 1em 1.438em;
	width: 270px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #FFFFFF;
}

.services__img {
	max-width: 100%;
	max-height: 155px;
	margin: 0 auto;
	display: block;
}

.services__title {
	margin-top: 1em;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	color: $fontColor;
	font-size: .895em;
}

.services__text {
	font-style: normal;
	font-weight: normal;
	font-size: .750em;
	line-height: normal;
	color: $fontColor;
}

.services__link {
	@include linkLikeBtn(3.143em, 100%, $red, #FFFFFF, .875em);
}

@include mainPaddingTop991();
@import "services-media";
