@media screen and (max-width: 1220px) {
	.main {
		margin-left: $mainPaddingLeftRight;
		margin-right: $mainPaddingLeftRight;
	}
}

@media screen and (max-width: 1030px) {
	.main {
		display: flex;
		flex-direction: column;
	}

	.form,
	.form__btn {
		align-self: center;
	}

	.form {
		max-width: 430px;
	}

	#HOW-TO-CONTACT,
	#VEHICLE {
		width: 100%;
	}

	#HOW-TO-CONTACT {
		margin-right: 0;
		float: none;
	}

	.form__select-wp {
		max-width: 100%;
		width: 100%;
	}
}

@media screen and (max-width: 540px) {
	.title-h1 {
		font-size: 1.5em !important;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 400px) {
	.form__btn {
		width: 100%;
	}
}
