//@import "../../style/normalize";
@import "../variables";
//@import "../../style/variables.part2";
@import "style/other";
@import "style/breadcrumb";


/* *** */

.main {
	max-width: $siteWidth;
	margin: 0 auto;
}


/* *** */

.title-h1 {
	font-family: $headFFamily;
	font-weight: bold;
	font-size: 2.250em;
	line-height: normal;
	color: $fontColor;
	margin-top: 0;
	margin-bottom: 17px;
}

#HOW-TO-CONTACT,
#VEHICLE {
	width: 430px;
}

#HOW-TO-CONTACT {
	margin-right: 40px;
	float: left;
}

.form {
	display: flex;
	flex-direction: column;
	margin-bottom: 26px;
}

.form__title {
	font-family: $headFFamily;
	font-style: normal;
	font-weight: bold;
	font-size: 1.125em;
	line-height: normal;
	color: $fontColor;
	margin-bottom: 20px;
	display: inline-block;
}

.form__input,
.form__select {
	height: 40px;
	width: 100%;
	margin-bottom: 9px;
	border: 1px solid $borderGray;
	max-width: 430px;
}

.form__input,
.form__textarea,
.form__select {
	font-size: .875em;
	color: $fontColorLight;
	padding-left: 12px;
}

.form__textarea {
	width: 100%;
	height: 105px;
	border: 1px solid $borderGray;
	padding-top: 10px;
	max-width: 430px;
	resize: none;
}

/* *** */

.form__wp {
	position: relative;
	overflow: hidden;
	height: 40px;
	margin-bottom: 9px;
}

.form__placeholder {
	position: absolute;
	top: 0;
	left: 12px;
	z-index: 100;
	display: inline;
	cursor: text;
	color: $fontColorLight;
	font-size: .875em;
	user-select: none;
	line-height: 40px;
	margin: 0;
}

.form__wp .form__input:valid + .form__placeholder {
	display: none;
}

.form__placeholder span {
	padding-left: .5em;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: $red;
}

.form__btn {
	background: $red;
	border-radius: .143em;
	height: 3.143em;
	width: 18.929em;
	border: none;
	font-size: .875em;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 52px;
}

.form__select {
	padding-right: 25px;
	appearance: none;
}

.form__select-wp {
	position: relative;
	max-width: 430px;

	&:after {
		position: absolute;
		right: 10px;
		bottom: 10px;
		content: url(../../img/filter-down.svg);
		font-size: 14px;
		z-index: 1;
		pointer-events: none;
		line-height: 40px;
	}
}
@include mainPaddingTop991();
@import "vin-media";
