								  <div class="product-item">
								  		<div class="b0 d-md-none">
									  		<a class="prod-name" href="#">Легковой аккумулятор Varta Blue E23 70R 630A, обратная полярность</a>
								  		</div>
								  	<div class="main-product-card">
								  		<div class="icons-block">
								  			<a href="#"><img src="img/otziv.svg" alt=""></a>
								  			<a href="#"><img src="img/heart.svg" alt=""></a>
								  		</div>
								  		<div class="b1">
									  		<a class="img-link" href="#"><img src="img/varta-mob.png" alt=""></a>
									  		<div class="sale-card">Скидка -10%</div>
								  		</div>
								  		<div class="b2">
									  		<a class="prod-name" href="#">Легковой аккумулятор Varta Blue E23 70R 630A, обратная полярность</a>
									  		<div class="stars-block for_title">
													<div class="stars">
													  <img src="img/star-yellow.svg" alt="">
													  <img src="img/star-yellow.svg" alt="">
													  <img src="img/star-yellow.svg" alt="">
													  <img src="img/star-yellow.svg" alt="">
													  <img src="img/star-white.svg" alt="">
													</div>
										  		<div class="otziv">5 Отзыв</div>
									  		</div>
									  		<div class="charact for_list">
										  		<div><span>Емкость:</span><span>70 А/ч</span></div>
										  		<div><span>Ток, А:</span><span>630</span></div>
										  		<div><span>Полярность:</span><span>Обратная</span></div>
										  		<div><span>Тип клемм:</span><span>Европейские</span></div>
										  		<div><span>Размеры:</span><span>261х175х220</span></div>
									  		</div>
								  		</div>
									  		<div class="charact for_title">
										  		<div><span>Емкость:</span><span>70 А/ч</span></div>
										  		<div><span>Ток, А:</span><span>630</span></div>
										  		<div><span>Полярность:</span><span>Обратная</span></div>
										  		<div><span>Тип клемм:</span><span>Европейские</span></div>
										  		<div><span>Размеры:</span><span>261х175х220</span></div>
									  		</div>
											<div class="b3">
								  		<div class="stars-block for_list">
												<div class="stars">
												  <img src="img/star-yellow.svg" alt="">
												  <img src="img/star-yellow.svg" alt="">
												  <img src="img/star-yellow.svg" alt="">
												  <img src="img/star-yellow.svg" alt="">
												  <img src="img/star-white.svg" alt="">
												</div>
									  		<div class="otziv">5 Отзыв</div>
								  		</div>
								  		<div class="price-block">
								  			<div>
								  				<span class="old-price"><s>5 100 &#8381;</s></span><br>
								  				<span class="new-price">4 900 &#8381;</span><br>
								  				<a href="#" class="obmen">при обмене</a>
								  			</div>
								  			<button class="btn red-btn"></button>
								  		</div>
								  		
								  		</div>
								  	</div>
									</div>
									
