								  <div class="product-item">
								  	<div class="main-product-card">
								  		<div class="icons-block">
								  			<a href="#"><img src="img/otziv.svg" alt=""></a>
								  			<a href="#"><img src="img/heart.svg" alt=""></a>
								  		</div>
								  		<a class="img-link" href="#"><img src="img/maslo2.png" alt=""></a>
								  		<div class="sale-card">Скидка -10%</div>
								  		<a class="prod-name" href="#">Моторное масло Hyundai XTeer Gasoline Ultra Protection 5W-40</a>
								  		<div class="stars-block">
									  		<div class="stars">
									  			<img src="img/star-yellow.svg" alt="">
									  			<img src="img/star-yellow.svg" alt="">
									  			<img src="img/star-yellow.svg" alt="">
									  			<img src="img/star-yellow.svg" alt="">
									  			<img src="img/star-yellow.svg" alt="">
									  		</div>
									  		<div class="otziv">5 Отзыв</div>
								  		</div>
								  		<div class="charact">
									  		<div><span>Тип:</span><span>Синтетическое</span></div>
									  		<div><span>Производитель:</span><span>HYUNDAI</span></div>
									  		<div><span>Классификация:</span><span>SN</span></div>
									  		<div><span>Вязкость (SAE):</span><span>5w40</span></div>
									  		<div><span>Объем:</span><span>4</span></div>
								  		</div>
								  		<div class="price-block">
								  			<div>
								  				<span class="old-price"><s>2 450 &#8381;</s></span><br>
								  				<span class="new-price">2 200 &#8381;</span>
								  			</div>
								  			<button class="btn red-btn"></button>
								  		</div>
								  		
								  	</div>
									</div>
