								  <div class="product-item">
								  	<div class="b0 d-md-none">
								  		<a class="prod-name" href="#">Моторное масло Hyundai XTeer Gasoline Ultra Protection 5W-40</a>
								  	</div>
								  	<div class="main-product-card">
								  		<div class="icons-block">
 								  			<a href="#" class="show_feedback"><img src="img/otziv.svg" alt=""></a>
								  			<a href="#" class="add_to_favorites"><img src="img/heart.svg" alt=""></a>
								  		</div>
								  		<div class="b1">
									  		<a class="img-link" href="#"><img src="img/maslo2.png" alt=""></a>
									  		<div class="sale-card">Скидка -10%</div>
											</div>
								  		<div class="b2">
									  		<a class="prod-name" href="#">Моторное масло Hyundai XTeer Gasoline Ultra Protection 5W-40</a>
									  		<div class="stars-block for_title">
										  		<div class="stars">
										  			<img src="img/star-yellow.svg" alt="">
										  			<img src="img/star-yellow.svg" alt="">
										  			<img src="img/star-yellow.svg" alt="">
										  			<img src="img/star-yellow.svg" alt="">
										  			<img src="img/star-yellow.svg" alt="">
										  		</div>
										  		<div class="otziv">5 Отзыв</div>
									  		</div>
									  		<div class="charact for_list">
										  		<div><span>Тип:</span><span>Синтетическое</span></div>
										  		<div><span>Производитель:</span><span>HYUNDAI</span></div>
										  		<div><span>Классификация:</span><span>SN</span></div>
										  		<div><span>Вязкость (SAE):</span><span>5w40</span></div>
										  		<div><span>Объем:</span><span>4</span></div>
									  		</div>
								  		</div>
									  		<div class="charact for_title">
										  		<div><span>Тип:</span><span>Синтетическое</span></div>
										  		<div><span>Производитель:</span><span>HYUNDAI</span></div>
										  		<div><span>Классификация:</span><span>SN</span></div>
										  		<div><span>Вязкость (SAE):</span><span>5w40</span></div>
										  		<div><span>Объем:</span><span>4</span></div>
									  		</div>
											<div class="b3">
									  		<div class="stars-block for_list">
													<div class="stars">
													  <img src="img/star-yellow.svg" alt="">
													  <img src="img/star-yellow.svg" alt="">
													  <img src="img/star-yellow.svg" alt="">
													  <img src="img/star-yellow.svg" alt="">
													  <img src="img/star-white.svg" alt="">
													</div>
										  		<div class="otziv">5 Отзыв</div>
										  		<div class="w-100 order-2 d-md-none"></div>
									  		</div>
									  		<div class="price-block">
									  			<!-- <div> -->
									  				<span class="new-price">2 200 &#8381;</span>
									  				<span class="old-price"><s>2 450 &#8381;</s></span><br>
									  				<a href="#" class="obmen">при обмене</a>
									  			<!-- </div> -->
									  		</div>
									  		<div class="btn-block">
									  			<button class="red-btn"><span>В корзину</span></button>
									  			<button class="yellow-btn" data-toggle="modal" data-target="#buy_one_click">Купить в один клик</button>
									  		</div>
									  	</div>
								  	</div>
									</div>
