<footer>
		<div class="container">
			<div class="row">
				<div class="col">
					<div id="back-to-top" class="up">
						<div></div>
					</div>
					<div class="accordion d-md-none" id="footerMenu">
						<div class="card">
							<div class="card-header" id="heading-1">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#f_collapse-1" aria-expanded="false" aria-controls="f_collapse-1">Каталог</button>
							</div>
							<div id="f_collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#footerMenu">
								<div class="card-body">
									<a href="#">Аккумуляторы</a>
									<a href="#">Автохимия</a>
									<a href="#">Автоэлектроника</a>
									<a href="#">Запчасти</a>
									<a href="#">Инструменты </a>
									<a href="#">Масла и смазки</a>
									<a href="#">Свечи зажигания</a>
									<a href="#">Технические жидкости</a>
									<a href="#">Фильтры</a>
									<a href="#">Щетки стеклоотчистителя</a>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="heading-2">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#f_collapse-2" aria-expanded="false" aria-controls="f_collapse-2">Для клиента</button>
							</div>
							<div id="f_collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#footerMenu">
								<div class="card-body">
									<a href="#">О компании</a>
									<a href="#">Сертификаты</a>
									<a href="#">Услуги</a>
									<a href="#">Отзывы</a>
									<a href="#">Доставка и оплата</a>
									<a href="#">Вопрос-ответ</a>
									<a href="#">Последние новости</a>
									<a href="#">Бонусная система</a>
									<a href="#">Как заказать товар</a>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="heading-3">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#f_collapse-3" aria-expanded="false" aria-controls="f_collapse-3">Оптовые продажи</button>
							</div>
							<div id="f_collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#footerMenu">
								<div class="card-body">
									<a href="#">Для оптовиков</a>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="heading-4">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#f_collapse-4" aria-expanded="false" aria-controls="f_collapse-4">Розница</button>
							</div>
							<div id="f_collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#footerMenu">
								<div class="card-body">
									<a href="#">Адреса магазинов</a>
									<a href="#">Акции розничных магазинов</a>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="heading-5">
								<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#f_collapse-5" aria-expanded="false" aria-controls="f_collapse-5">Оплата</button>
							</div>
							<div id="f_collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#footerMenu">
								<div class="card-body">
									<div class="pay-block">
										<a class="visa" href="#"></a>
										<a class="master-card" href="#"></a>
									</div>
									<button class="red-btn" data-toggle="modal" data-target="#write-us">написать нам</button>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="heading-6">
								<button class="btn btn-link collapsed noupicon" type="button">АКБ Мастер</button>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="heading-7">
								<button class="btn btn-link collapsed noupicon" type="button">Рулевой</button>
							</div>
						</div>
						<div class="footer-contacts">
							<div class="social-icons">
								<a href="#"><img src="../img/telegram.png" alt=""></a>
								<a href="#"><img src="../img/viber.png" alt=""></a>
								<a href="#"><img src="../img/instagram.png" alt=""></a>
								<a href="#"><img src="../img/whatsapp.png" alt=""></a>
								<a href="#"><img src="../img/facebook.png" alt=""></a>
								<a href="#"><img src="../img/vk.png" alt=""></a>
								<a href="#"><img src="../img/youtube.png" alt=""></a>
							</div>
							<a class="phone" href="#">+7 (965) 842 20 03</a>
							<a href="#">internetshop@bratskiy.ru</a>
							<a class="web-electron" href="https://xn--18-mlcudogpr0i.xn--p1ai/">Разработано в "Electron"</a>
						</div>

					</div>
					<div class="desktop d-none d-md-flex">
						<a class="footer-head" href="#">Каталог</a>
						<a href="#">Аккумуляторы</a>
						<a href="#">Автохимия</a>
						<a href="#">Автоэлектроника</a>
						<a href="#">Запчасти</a>
						<a href="#">Инструменты </a>
						<div class="zaglushka"></div>
						<div class="zaglushka"></div>
						<a href="#">Масла и смазки</a>
						<a href="#">Свечи зажигания</a>
						<a href="#">Технические жидкости</a>
						<a href="#">Фильтры</a>
						<a href="#">Щетки стеклоотчистителя</a>
						<div class="zaglushka"></div>
						<a class="footer-head" href="#">Для клиента</a>
						<a href="#">О компании</a>
						<a href="#">Сертификаты</a>
						<div class="zaglushka md"></div>
						<a href="#">Услуги</a>
						<a href="#">Отзывы</a>
						<a href="#">Доставка и оплата</a>
						<a href="#">Вопрос-ответ</a>
						<div class="zaglushka"></div>
						<a href="#">Последние новости</a>
						<a href="#">Бонусная система</a>
						<a href="#">Как заказать товар</a>
						<a class="footer-head" href="#">Оптовые продажи</a>
						<a href="#">Для оптовиков</a>
						<div class="zaglushka"></div>
						<a class="footer-head" href="#">Розничная сеть</a>
						<a href="#">Адреса магазинов</a>
						<a href="#" class="footer__link_lh">Акции розничных магазинов</a>
						<a class="footer-head" href="#">Оплата</a>
						<div>
							<div class="pay-block">
								<a class="visa" href="#"></a>
								<a class="master-card" href="#"></a>
							</div>
							<button class="red-btn" data-toggle="modal" data-target="#write-us">написать нам</button>
						</div>
						<a class="footer-head" href="#">Контакты</a>
						<div class="footer-contacts">
							<div class="social-icons">
								<a href="#" class="icon-telegram"></a>
								<a href="#" class="icon-viber"></a>
								<a href="#" class="icon-instagram"></a>
								<a href="#" class="icon-whatsapp"></a>
								<a href="#" class="icon-facebook"></a>
								<a href="#" class="icon-vk"></a>
								<a href="#" class="icon-youtube"></a>
							</div>
							<a class="phone" href="#">+7 (965) 842 20 03</a>
							<a href="#">internetshop@bratskiy.ru</a>
							<a class="web-electron" href="https://xn--18-mlcudogpr0i.xn--p1ai/">Разработано в "Electron"</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>