<!--								 	Тоже самое, но тут текста меньше
                                       ...2019 года повышение акциза на бензин. -->
								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/news1-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Новости</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h" href="#">Россиян ждет повышение цен на иномарки.</a>
								 			<a class="event-description" href="#">Эксперты утверждают, что грядет подорожание автомобилей с сентября 2018 года.</a>
								 		</div>
								 	</div>
								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/video2-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Видео</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h d-none" href="#"></a>
								 			<a class="event-description" href="#">Обзор автомобильного аккумулятора Bosch 75 Aч Прямая полярность</a>
								 		</div>
								 	</div>
								 	<div class="w-100 bbgray"></div>		
								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/news2-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Новости</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h" href="#">Счетная палата РФ обещает резкий рост цен на бензин в 2019 году.</a>
								 			<a class="event-description" href="#">Запланированное на 1 января 2019 года повышение акциза на бензин.</a>
								 		</div>
								 	</div>
								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/video2-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Видео</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h d-none" href="#"></a>
								 			<a class="event-description" href="#">Обзор автомобильного аккумулятора Bosch 75 Aч Прямая полярность</a>
								 		</div>
								 	</div>
								 	<div class="w-100 bbgray"></div>		
								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/news1-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Статьи</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h" href="#">Россиян ждет повышение цен на иномарки.</a>
								 			<a class="event-description" href="#">Эксперты утверждают, что грядет подорожание автомобилей с сентября 2018 года.</a>
								 		</div>
								 	</div>
								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/varta-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Акция</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h d-none" href="#"></a>
								 			<a class="event-description" href="#">Легковой аккумулятор Varta Blue E23 70R 630A, обратная полярность</a>
								 		</div>
								 	</div>
								 	
								 	<div class="w-100 bbgray"></div>		
