								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/video1-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Видео</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h d-none" href="#"></a>
								 			<a class="event-description" href="#">Автомобильный аккумулятор Varta Blue Dynamic 74 Aч 574012 Обратная полярность E11</a>
								 		</div>
								 	</div>
								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/video2-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Видео</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h d-none" href="#"></a>
								 			<a class="event-description" href="#">Обзор автомобильного аккумулятора Bosch 75 Aч Прямая полярность</a>
								 		</div>
								 	</div>
								 	<div class="w-100 bbgray"></div>		
