								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/varta-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Акция</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h d-none" href="#"></a>
								 			<a class="event-description" href="#">Легковой аккумулятор Varta Blue E23 70R 630A, обратная полярность</a>
								 		</div>
								 	</div>
								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/varta-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Акция</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h d-none" href="#"></a>
								 			<a class="event-description" href="#">Легковой аккумулятор Varta Blue E23 70R 630A, обратная полярность</a>
								 		</div>
								 	</div>
								 	<div class="w-100 bbgray"></div>		
