								 <div class="brand-item">
								 	<div class="main-brand-card">
								 		<a class="img-link" href="#">
								 			<img class="img-gray" src="/img/company-logo/bosch-gray.png" alt="">
								 			<img class="img-color" src="/img/company-logo/bosch.png" alt="">
								 		</a>
								 		<a href="#">Все товары<br>Bosch</a>
								 	</div>
									</div>
								 <div class="brand-item">
								 	<div class="main-brand-card">
								 		<a class="img-link" href="#">
								 			<img class="img-gray" src="/img/company-logo/topla-gray.png" alt="">
								 			<img class="img-color" src="/img/company-logo/topla.png" alt="">
								 		</a>
								 		<a href="#">Все товары<br>Topla</a>
								 	</div>
									</div>
								 <div class="brand-item">
								 	<div class="main-brand-card">
								 		<a class="img-link" href="#">
								 			<img class="img-gray" src="/img/company-logo/varta-gray.png" alt="">
								 			<img class="img-color" src="/img/company-logo/varta.png" alt="">
								 		</a>
								 		<a href="#">Все товары<br>Varta</a>
								 	</div>
									</div>
								 <div class="brand-item">
								 	<div class="main-brand-card">
								 		<a class="img-link" href="#">
								 			<img class="img-gray" src="/img/company-logo/berga-gray.png" alt="">
								 			<img class="img-color" src="/img/company-logo/berga.png" alt="">
								 		</a>
								 		<a href="#">Все товары<br>Berga</a>
								 	</div>
									</div>
								 <div class="brand-item">
								 	<div class="main-brand-card">
								 		<a class="img-link" href="#">
								 			<img class="img-gray" src="/img/company-logo/mutlu-gray.png" alt="">
								 			<img class="img-color" src="/img/company-logo/mutlu.png" alt="">
								 		</a>
								 		<a href="#">Все товары<br>Mutlu</a>
								 	</div>
									</div>
								 <div class="brand-item">
								 	<div class="main-brand-card">
								 		<a class="img-link" href="#">
								 			<img class="img-gray" src="/img/company-logo/odyssey-gray.png" alt="">
								 			<img class="img-color" src="/img/company-logo/odyssey.png" alt="">
								 		</a>
								 		<a href="#">Все товары<br>Odyssey</a>
								 	</div>
									</div>
