								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/news1-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Пресс-релиз</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h" href="#">Россиян ждет повышение цен на иномарки.</a>
								 			<a class="event-description" href="#">Эксперты утверждают, что грядет подорожание автомобилей с сентября 2018 года.</a>
								 		</div>
								 	</div>
								 	<div class="main-event-card">
								 		<a class="img-link" href="#"><img src="img/news2-evnt.png" alt=""></a>
								 		<div class="content">
								 			<a href="#"><h5>Пресс-релиз</h5></a>
								 			<div class="event-date">07.08.2018</div>
								 			<a class="event-h" href="#">Счетная палата РФ обещает резкий рост цен на бензин в 2019 году.</a>
								 			<a class="event-description" href="#">Запланированное на 1 января 2019 года повышение акциза на бензин может спровоцировать.</a>
								 		</div>
								 	</div>
								 	<div class="w-100 bbgray"></div>		
