						        	<div class="mi-1">
							        	<h4 class="w-100">Легковые</h4>
						        		<div class="block-1 ">
													<a class="dropdown-item red-dot" href="#">Titan Standfrt</a>
													<a class="dropdown-item red-dot" href="#">Titan Euro Silver</a>
													<a class="dropdown-item red-dot" href="#">Titan Arctic</a>
													<a class="dropdown-item" href="#">Vaiper</a>
													<a class="dropdown-item" href="#">Tenax</a>
													<a class="dropdown-item" href="#">Патриот</a>
							        		<h4>Грузовые</h4>
							        		<a class="dropdown-item" href="#">Afa</a>
							        		<a class="dropdown-item" href="#">Bolk</a>
							        		<a class="dropdown-item" href="#">Bosch</a>
							        		<a class="dropdown-item" href="#">все</a>
							        		<h4>Лодочные</h4>
													<a class="dropdown-item" href="#">Seband</a>
													<a class="dropdown-item" href="#">Eco President</a>
													<a class="dropdown-item" href="#">ПАЗ</a>
													<a class="dropdown-item" href="#">Solite</a>
													<a class="dropdown-item" href="#">Тюмень</a>
													<a class="dropdown-item" href="#">Monbat</a>
													<a class="dropdown-item" href="#">все</a>
							        		<h4>МОТО</h4>
													<a class="dropdown-item" href="#">Delta</a>
													<a class="dropdown-item" href="#">Red Energy</a>
													<a class="dropdown-item" href="#">Тюмень</a>
													<a class="dropdown-item" href="#">все</a>
							        		<h4>ИБП/UPS</h4>
													<a class="dropdown-item" href="#">Delta</a>
												</div>
						        	</div>
						        	<div class="mi-2">
						        		<div class="block-1 ">
							        		<h4>Ёмкость</h4>
							        		<div>
								        		<a class="dropdown-item" href="#">0 - 30 Ач</a>
								        		<a class="dropdown-item" href="#">30 - 55 Ач</a>
								        		<a class="dropdown-item" href="#">55 - 75 Ач</a>
								        		<a class="dropdown-item" href="#">75 - 90 Ач</a>
								        		<a class="dropdown-item" href="#">90 - 120 Ач</a>
								        		<a class="dropdown-item" href="#">90 - 120 Ач</a>
								        		<a class="dropdown-item" href="#">90 - 120 Ач</a>
								        		<a class="dropdown-item" href="#">90 - 120 Ач</a>
							        		</div>
							        		<div>
								        		<h4>Стоимость</h4>
								        		<a class="dropdown-item" href="#">0 - 2 000 ₽</a>
								        		<a class="dropdown-item" href="#">2 000 - 3 500 ₽</a>
								        		<a class="dropdown-item" href="#">3 500 - 5 000 ₽</a>
								        		<a class="dropdown-item" href="#">5 000 - 7 000 ₽</a>
								        		<a class="dropdown-item" href="#">> 7 000 ₽</a>
													</div>
													<div>
								        		<h4>Сопутствующие <br class="d-none d-lg-inline d-xl-none">товары</h4>
								        		<a class="dropdown-item red-dot" href="#">Зарядные устройства</a>
								        		<a class="dropdown-item red-dot" href="#">Провода запуска</a>
								        		<a class="dropdown-item" href="#">Нагрузочные вилки</a>
								        		<a class="dropdown-item" href="#">Ареометры</a>
								        		<a class="dropdown-item" href="#">Электролит</a>
								        		<a class="dropdown-item" href="#">Дистиллированная вода</a>
								        		<a class="dropdown-item" href="#">Кронштейны крепления АКБ</a>
								        		<a class="dropdown-item red-dot" href="#">Клеммы АКБ</a>
								        		<a class="dropdown-item" href="#">Зажимы клеммы АКБ</a>
								        		<a class="dropdown-item" href="#">Кожухи клеммы АКБ</a>
								        		<a class="dropdown-item" href="#">Коврик аккумулятора резиновые</a>
								        		<a class="dropdown-item red-dot" href="#">Автоодеяло</a>
													</div>
							        	</div>	
						        	</div>
												<div class="mi-3 ">
															<a href="#" style="background-image: url(../img/company-logo/bosch.png);"></a>					
															<a href="#" style="background-image: url(../img/company-logo/topla.png)"></a>
															<a href="#" style="background-image: url(../img/company-logo/varta.png)"></a>
															<a href="#" style="background-image: url(../img/company-logo/mutlu.png)"></a>
															<a href="#" style="background-image: url(../img/company-logo/odyssey.png)"></a>
															<div class="w-100"></div>
															<a href="#" style="background-image: url(../img/company-logo/bosch.png)"></a>
															<a href="#" style="background-image: url(../img/company-logo/topla.png)"></a>
															<a href="#" style="background-image: url(../img/company-logo/varta.png)"></a>
															<a href="#" style="background-image: url(../img/company-logo/mutlu.png)"></a>
															<a href="#" style="background-image: url(../img/company-logo/odyssey.png)"></a>
															<div class="w-100"></div>
															<a href="#" style="background-image: url(../img/company-logo/bosch.png)"></a>
															<a href="#" style="background-image: url(../img/company-logo/topla.png)"></a>
															<a href="#" style="background-image: url(../img/company-logo/bosch.png);"></a>					
															<a href="#" style="background-image: url(../img/company-logo/topla.png)"></a>
															<a href="#" style="background-image: url(../img/company-logo/mutlu.png)"></a>
												</div>
