<!-- #selection-by-car" >Подбор по авто -->

<div class="modal select-city" id="select-city" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Выберите свой город</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="">
          <input required type="text" name="search-town" placeholder="Поиск" />
          <button class="search-ico-modal" data-dismiss="modal"></button>
        </form>
        <div class="city-links">
          <a class= "bold" href="#">Ижевск</a>
          <a href="#">Москва</a>
          <a href="#">Казань</a>
          <a href="#">Новосибирск</a>
          <a href="#">Екатеринбург</a>
          <a href="#">Астрахань</a>
          <a href="#">Барнаул</a>
          <a href="#">Волгоград</a>
          <a href="#">Воронеж</a>
          <a href="#">Иркутск</a>
          <a href="#">Краснодар</a>
          <a href="#">Самара</a>
          <a href="#">Саратов</a>
          <a href="#">Красноярск</a>
          <a href="#">Набережные</a>
          <a href="#">Челны</a>
          <a href="#">Нижний</a>
          <a href="#">Новгород</a>
          <a href="#">Омск</a>
          <a href="#">Оренбург</a>
          <a href="#">Пермь</a>
          <a href="#">Ростов-на-Дону</a>
          <a href="#">Ставрополь</a>
          <a href="#">Тольяти</a>
          <a href="#">Тула</a>
          <a href="#">Тюмень</a>
          <a href="#">Ульяновск</a>
          <a href="#">Уфа</a>
          <a href="#">Челябинск</a>
          <a href="#">Ярославль</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="change-password" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Изменить пароль</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="">
          <input required type="password" name="old-passw" placeholder="Старый пароль" />
          <input required type="password" name="new-passw" placeholder="Новый пароль"/>
          <input required type="password" name="confirm-passw" placeholder="Повторите пароль">
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Сохранить пароль</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="subscribe" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Подписка</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <p>Вы успешно подписались.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn red-btn" data-dismiss="modal">Закрыть окно</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="write-us" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Написать нам</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="">
          <label class="placeinput">
            <input required type="text" name="name" />
            <div class="place_holder">Ваше имя <span>*</span></div>
          </label>          
          <label class="placeinput">
            <input required type="text" name="eml"/>
            <div class="place_holder">Ваш e-mail <span>*</span></div>
          </label>          
          <input type="tel" placeholder="Ваш номер телефона">
          
          <label class="placeinput">
            <textarea required name="message" name="message" cols="30" rows="10"></textarea>         
            <div class="place_holder">Ваш вопрос <span>*</span></div>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="ask-us" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Задать вопрос</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="">
          <label class="placeinput">
            <input required type="text" name="name" />
            <div class="place_holder">Ваше имя <span>*</span></div>
          </label>          
          <label class="placeinput">
            <input required type="text" name="eml"/>
            <div class="place_holder">Ваш e-mail <span>*</span></div>
          </label>          
          <input type="tel" placeholder="Ваш номер телефона">
          
          <label class="placeinput">
            <textarea required name="message" name="message" cols="30" rows="10"></textarea>         
            <div class="place_holder">Ваш вопрос <span>*</span></div>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="product-review" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Оставить отзыв о товаре</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <div class="product-name-review">Название товара</div>
        <form action="">
          <label class="placeinput">
            <input required type="text" name="name" />
            <div class="place_holder">Ваше имя <span>*</span></div>
          </label>          
          <label class="placeinput">
            <input required type="text" name="eml"/>
            <div class="place_holder">Ваш e-mail <span>*</span></div>
          </label>          
          <input type="tel" placeholder="Ваш номер телефона">
          <div class="rating">
            <div>Поставьте вашу оценку по пятибальной шкале</div>
            <div class="stars">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-white.svg" alt="">
            </div>
          </div>
          <label class="placeinput">
            <textarea required name="message" cols="30" rows="10"></textarea>         
            <div class="place_holder">Текст отзыва <span>*</span></div>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Оставить отзыв</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal market-review" id="market-review" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Оставить отзыв о магазине</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <div class="product-name-review">Название товара</div>
        <form action="">
          <label class="placeinput">
            <input required type="text" name="name" />
            <div class="place_holder">Ваше имя <span>*</span></div>
          </label>          
          <label class="placeinput">
            <input required type="text" name="eml"/>
            <div class="place_holder">Ваш e-mail <span>*</span></div>
          </label>          
          <input type="tel" placeholder="Ваш номер телефона">
          <div class="rating">
            <div>Поставьте вашу оценку по пятибальной шкале</div>
            <div class="stars">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-white.svg" alt="">
            </div>
          </div>
          <label class="placeinput">
            <textarea class="h70" required name="merits" cols="30" rows="10"></textarea>         
            <div class="place_holder">Опишите достоинства</div>
          </label>          
          <label class="placeinput">
            <textarea class="h70" required name="limitations" cols="30" rows="10"></textarea>         
            <div class="place_holder">Опишите выявленные недостатки</div>
          </label>          
          <label class="placeinput">
            <textarea required name="message" cols="30" rows="10"></textarea>         
            <div class="place_holder">Текст отзыва <span>*</span></div>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br> <a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Оставить отзыв</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal service-record" id="service-record" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Записаться на услугу</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <div class="modal-head-description" >Услуга № 1</div>
        <form action="">
          <label class="placeinput">
            <input required type="text" name="date" id="date-service" />
            <div class="place_holder">Выберите желаемую дату</div>
          </label>          
          <label class="placeinput">
            <input required type="text" name="name" />
            <div class="place_holder">Ваше имя <span>*</span></div>
          </label>          
          <div class="horizontal">
            <div class="placeinput">
              <input required type="text" name="eml"/>
              <div class="place_holder">Ваш e-mail <span>*</span></div>
            </div>
            <div class="w-30"></div>          
            <div class="placeinput">
              <input required type="tel" name="tel"/>
              <div class="place_holder">Ваш номер телефона <span>*</span></div>
            </div>          
          </div>
          
          <label class="placeinput">
            <textarea required name="message" name="message" cols="30" rows="10"></textarea>         
            <div class="place_holder">Текст сообщения <span>*</span></div>
          </label>          
          <div class="fz152-block">
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <div class="horizontal">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <button class="btn red-btn" data-dismiss="modal">Отправить</button>
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>
