<!-- 
  #selection-by-car             > Подбор по авто 
  #buy_one_click                > Купить в 1 клик 
  #select-city                  > Выбор города
  #change-password              > Сменить пароль
  #password-changed             > Пароль изменен
  #password-changed2            > Пароль изменен
  #subscribe                    > Подписка
  #write-us                     > Написать нам
  #ask-us                       > Задать вопрос
  #product-review               > Оставить отзыв о товаре
  #market-review                > Оставить отзыв о магазине
  #service-record               > Записаться на услугу
  #order_cancellation           > Отмена заказа
  #add_to_garazh                > Добавить авто в гараж
  #restore_password             > Восстановить пароль (запрос кода подтверждения)
  #restore_password2            > Восстановить пароль (проверка кода подтверждения)
  #restore_password3            > Смена пароля 
  #export_email                 > Экспорт e-mail 
  #subscribe_price_change       > Подписаться на изменения цены 
  #choose_another_car           > Выбрать другое авто 
  #leaving_already              > Вы уже уходите? 
  #product_availability         > Наличие товара 
  #lk                           > Личный кабинет
  #akb_exchange                 > Обмен АКБ б/у
  #added_to_basket              > Товар добавлен в корзину

-->

<div class="popover add2Favorites" role="tooltip" id="add2Favorites" style="display: none;">
  <div class="arrow"></div>
  <div class="popover-header">Товар добавлен в Избранное</div>
  <div class="popover-body">
    Войдите в профиль, чтобы сохранить список. Несохраненный список будет очищен через 7 дней.
    <div class='popover-btn-block'>
      <a id="fv_close" class='blue'>Понятно, закрыть</a>
      <a class='red-btn' data-toggle='modal' data-target='#ask-us'>Вход</a>
    </div>
  </div>
</div>

<div class="popover basket_items" role="tooltip" id="basket_items" style="display: none;">
  <!-- <div class="arrow"></div> -->
  <div class="popover-header">
    <span>Корзина</span>
    <a href="" class="del_all_items" >очистить все</a>
  </div>
  <div class="popover-body">
    <div class="item-row">
      <img src="/img/tumen.png" alt="">
      <div class="info_block">
        <p>Автомобильный аккумулятор VARTA Blue Dynamic 74 А·ч 574012 Обратная полярность E11</p>
        <div>
          <span class="new-price">4 900 &#8381;</span>
          <span>1 шт.</span>
        </div>
      </div>
      <a href="" class="del_item"></a>
    </div>

    <div class="item-row">
      <img src="/img/zver.png" alt="">
      <div class="info_block">
        <p>Автомобильный аккумулятор VARTA Blue Dynamic 74 А·ч 574012 Обратная полярность E11</p>
        <div>
          <span class="new-price">4 900 &#8381;</span>
          <span>1 шт.</span>
        </div>
      </div>
      <a href="" class="del_item"></a>
    </div>
    <div class="item-row">
      <img src="/img/tumen.png" alt="">
      <div class="info_block">
        <p>Автомобильный аккумулятор VARTA Blue Dynamic 74 А·ч 574012 Обратная полярность E11</p>
        <div>
          <span class="new-price">4 900 &#8381;</span>
          <span>1 шт.</span>
        </div>
      </div>
      <a href="" class="del_item"></a>
    </div>
    <div class="item-row">
      <img src="/img/zver.png" alt="">
      <div class="info_block">
        <p>Автомобильный аккумулятор VARTA Blue Dynamic 74 А·ч 574012 Обратная полярность E11</p>
        <div>
          <span class="new-price">4 900 &#8381;</span>
          <span>1 шт.</span>
        </div>
      </div>
      <a href="" class="del_item"></a>
    </div>
    <div class="item-row">
      <img src="/img/tumen.png" alt="">
      <div class="info_block">
        <p>Автомобильный аккумулятор VARTA Blue Dynamic 74 А·ч 574012 Обратная полярность E11</p>
        <div>
          <span class="new-price">4 900 &#8381;</span>
          <span>1 шт.</span>
        </div>
      </div>
      <a href="" class="del_item"></a>
    </div>
    <div class="item-row">
      <img src="/img/zver.png" alt="">
      <div class="info_block">
        <p>Автомобильный аккумулятор VARTA Blue Dynamic 74 А·ч 574012 Обратная полярность E11</p>
        <div>
          <span class="new-price">4 900 &#8381;</span>
          <span>1 шт.</span>
        </div>
      </div>
      <a href="" class="del_item"></a>
    </div>
    <div class="item-row">
      <img src="/img/tumen.png" alt="">
      <div class="info_block">
        <p>Автомобильный аккумулятор VARTA Blue Dynamic 74 А·ч 574012 Обратная полярность E11</p>
        <div>
          <span class="new-price">4 900 &#8381;</span>
          <span>1 шт.</span>
        </div>
      </div>
      <a href="" class="del_item"></a>
    </div>
    
      <a href="" class="blue">Перейти в корзину</a>
    
    <div class='popover-btn-block'>
      <span class="new-price">4 900 &#8381;</span>
      <a href="" class='red-btn' >оформить заказ</a>
    </div>
  </div>
</div>



<div class="modal select-city" id="select-city" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Выберите свой город</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="/">
          <input required type="text" name="search-town" placeholder="Поиск" />
          <button class="search-ico-modal" data-dismiss="modal"></button>
        </form>
        <div class="city-links">
          <a class= "bold" href="#">Ижевск</a>
          <a href="#">Москва</a>
          <a href="#">Казань</a>
          <a href="#">Новосибирск</a>
          <a href="#">Екатеринбург</a>
          <a href="#">Астрахань</a>
          <a href="#">Барнаул</a>
          <a href="#">Волгоград</a>
          <a href="#">Воронеж</a>
          <a href="#">Иркутск</a>
          <a href="#">Краснодар</a>
          <a href="#">Самара</a>
          <a href="#">Саратов</a>
          <a href="#">Красноярск</a>
          <a href="#">Набережные</a>
          <a href="#">Челны</a>
          <a href="#">Нижний</a>
          <a href="#">Новгород</a>
          <a href="#">Омск</a>
          <a href="#">Оренбург</a>
          <a href="#">Пермь</a>
          <a href="#">Ростов-на-Дону</a>
          <a href="#">Ставрополь</a>
          <a href="#">Тольяти</a>
          <a href="#">Тула</a>
          <a href="#">Тюмень</a>
          <a href="#">Ульяновск</a>
          <a href="#">Уфа</a>
          <a href="#">Челябинск</a>
          <a href="#">Ярославль</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="change-password" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Изменить пароль</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="/">
          <input required type="password" name="old-passw" placeholder="Старый пароль" />
          <input required type="password" name="new-passw" placeholder="Новый пароль"/>
          <input required type="password" name="confirm-passw" placeholder="Повторите пароль">
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Сохранить пароль</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="password-changed" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Пароль изменен</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <p>Ваш пароль успешно изменен.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn red-btn" data-dismiss="modal">Закрыть окно</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="password-changed2" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Пароль изменен</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <p>Изменить пароль можно в личном кабинете</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn red-btn" data-dismiss="modal">Закрыть окно</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="subscribe" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Подписка</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <p>Вы успешно подписались.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn red-btn" data-dismiss="modal">Закрыть окно</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="write-us" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Написать нам</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="name" />
            <span class="place_holder">Ваше имя <span>*</span></span>
          </label>          
          <label class="placeinput">
            <input required type="text" name="eml"/>
            <span class="place_holder">Ваш e-mail <span>*</span></span>
          </label>          
          <input type="tel" placeholder="Ваш номер телефона">
          
          <label class="placeinput">
            <textarea required name="message" cols="30" rows="10"></textarea>         
            <span class="place_holder">Ваш вопрос <span>*</span></span>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="ask-us" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Задать вопрос</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="name" />
            <span class="place_holder">Ваше имя <span>*</span></span>
          </label>          
          <label class="placeinput">
            <input required type="text" name="eml"/>
            <span class="place_holder">Ваш e-mail <span>*</span></span>
          </label>          
          <input type="tel" placeholder="Ваш номер телефона">
          
          <label class="placeinput">
            <textarea required name="message" cols="30" rows="10"></textarea>         
            <span class="place_holder">Ваш вопрос <span>*</span></span>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="product-review" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Оставить отзыв о товаре</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <div class="product-name-review">Название товара</div>
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="name" />
            <span class="place_holder">Ваше имя <span>*</span></span>
          </label>          
          <label class="placeinput">
            <input required type="text" name="eml"/>
            <span class="place_holder">Ваш e-mail <span>*</span></span>
          </label>          
          <input type="tel" placeholder="Ваш номер телефона">
          <div class="rating">
            <div>Поставьте вашу оценку по пятибальной шкале</div>
            <div class="stars">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-white.svg" alt="">
            </div>
          </div>
          <label class="placeinput">
            <textarea required name="message" cols="30" rows="10"></textarea>         
            <span class="place_holder">Текст отзыва <span>*</span></span>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Оставить отзыв</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal market-review" id="market-review" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Оставить отзыв о магазине</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <div class="product-name-review">Название товара</div>
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="name" />
            <span class="place_holder">Ваше имя <span>*</span></span>
          </label>          
          <label class="placeinput">
            <input required type="text" name="eml"/>
            <span class="place_holder">Ваш e-mail <span>*</span></span>
          </label>          
          <input type="tel" placeholder="Ваш номер телефона">
          <div class="rating">
            <div>Поставьте вашу оценку по пятибальной шкале</div>
            <div class="stars">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-yellow.svg" alt="">
              <img src="img/star-white.svg" alt="">
            </div>
          </div>
          <label class="placeinput">
            <textarea class="h70" required name="merits" cols="30" rows="10"></textarea>         
            <span class="place_holder">Опишите достоинства</span>
          </label>          
          <label class="placeinput">
            <textarea class="h70" required name="limitations" cols="30" rows="10"></textarea>         
            <span class="place_holder">Опишите выявленные недостатки</span>
          </label>          
          <label class="placeinput">
            <textarea required name="message" cols="30" rows="10"></textarea>         
            <span class="place_holder">Текст отзыва <span>*</span></span>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br> <a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Оставить отзыв</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal service-record" id="service-record" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Записаться на услугу</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <div class="modal-head-description" >Услуга № 1</div>
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="date" id="date-service" />
            <span class="place_holder">Выберите желаемую дату</span>
          </label>          
          <label class="placeinput">
            <input required type="text" name="name" />
            <span class="place_holder">Ваше имя <span>*</span></span>
          </label>          
          <div class="horizontal">
            <div class="placeinput">
              <input required type="text" name="eml"/>
              <span class="place_holder">Ваш e-mail <span>*</span></span>
            </div>
            <div class="w-30"></div>          
            <div class="placeinput">
              <input required type="tel" name="tel"/>
              <span class="place_holder">Ваш номер телефона <span>*</span></span>
            </div>          
          </div>
          
          <label class="placeinput">
            <textarea required name="message" cols="30" rows="10"></textarea>         
            <span class="place_holder">Текст сообщения <span>*</span></span>
          </label>          
          <div class="fz152-block">
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <div class="horizontal">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <button class="btn red-btn" data-dismiss="modal">Отправить</button>
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="buy_one_click" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Купить в один клик</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <div class="modal-head-description" >Название товара</div>
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="name" />
            <span class="place_holder">Ваше имя <span>*</span></span>
          </label>          
          <label class="placeinput">
            <input required type="tel" >
            <span class="place_holder">Ваш номер телефона <span>*</span></span>
          </label>          
          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="order_cancellation" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Отмена заказа</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <p>Для отмены заявки оставьте свои данные и в течении 15 минут Вам перезвонит менеджер.</p>
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="name" />
            <span class="place_holder">Ваше имя <span>*</span></span>
          </label>          
          <label class="placeinput">
            <input required type="tel" >
            <span class="place_holder">Ваш номер телефона <span>*</span></span>
          </label>          
          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="selection-by-car" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Подбор по авто</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form class="frm-filter" >
          <select class="selectpicker" data-style="bs-select-first" title="Год" name="year">
            <option value="2000">2000г.</option>
            <option value="2001">2000г.</option>
            <option value="2002">2002г.</option>
            <option value="2003">2003г.</option>
            <option value="2004">2004г.</option>
            <option value="2005">2005г.</option>
          </select> 
          <select class="selectpicker" data-style="bs-select" title="Марка" name="marka">
            <option value="BMV">BMV</option>
            <option value="KIA">KIA</option>
            <option value="Mazda">Mazda</option>
            <option value="Renault">Renault</option>
            <option value="Lada">Lada</option>
          </select> 
          <select class="selectpicker" data-style="bs-select" title="Модель" name="model">
            <option value="BMV">BMV</option>
            <option value="KIA">KIA</option>
            <option value="Mazda">Mazda</option>
            <option value="Renault">Renault</option>
            <option value="Lada">Lada</option>
          </select> 
          <select class="selectpicker" data-style="bs-select" title="Модификация" name="modif">
            <option value="BMV">BMV</option>
            <option value="KIA">KIA</option>
            <option value="Mazda">Mazda</option>
            <option value="Renault">Renault</option>
            <option value="Lada">Lada</option>
          </select> 
          <button type="button" class="btn red-btn" data-dismiss="modal">Добавить</button>
        </form>
      </div>
      <!-- <div class="modal-footer">    </div> -->
    </div>
  </div>
</div>

<div class="modal" id="add_to_garazh" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Добавить авто в гараж</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form class="frm-filter" >
          <select class="selectpicker" data-style="bs-select-first" title="Год" name="year">
            <option value="2000">2000г.</option>
            <option value="2001">2000г.</option>
            <option value="2002">2002г.</option>
            <option value="2003">2003г.</option>
            <option value="2004">2004г.</option>
            <option value="2005">2005г.</option>
          </select> 
          <select class="selectpicker" data-style="bs-select" title="Марка" name="marka">
            <option value="BMV">BMV</option>
            <option value="KIA">KIA</option>
            <option value="Mazda">Mazda</option>
            <option value="Renault">Renault</option>
            <option value="Lada">Lada</option>
          </select> 
          <select class="selectpicker" data-style="bs-select" title="Модель" name="model">
            <option value="BMV">BMV</option>
            <option value="KIA">KIA</option>
            <option value="Mazda">Mazda</option>
            <option value="Renault">Renault</option>
            <option value="Lada">Lada</option>
          </select> 
          <select class="selectpicker" data-style="bs-select" title="Модификация" name="modif">
            <option value="BMV">BMV</option>
            <option value="KIA">KIA</option>
            <option value="Mazda">Mazda</option>
            <option value="Renault">Renault</option>
            <option value="Lada">Lada</option>
          </select> 
          <select class="selectpicker" data-style="bs-select" title="Категория товара" name="category">
            <option value="BMV">BMV</option>
            <option value="KIA">KIA</option>
            <option value="Mazda">Mazda</option>
            <option value="Renault">Renault</option>
            <option value="Lada">Lada</option>
          </select> 
          <button type="button" class="btn red-btn" data-dismiss="modal">Добавить</button>
        </form>
      </div>
      <!-- <div class="modal-footer">    </div> -->
    </div>
  </div>
</div>

<div class="modal" id="restore_password" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Восстановить пароль</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="name" />
            <span class="place_holder">Ваш e-mail или номер телефона <span>*</span></span>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Получить код</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal restore_password" id="restore_password2" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Восстановить пароль</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="name" />
            <span class="place_holder">89121234567</span>
          </label>          
          <label class="placeinput">
            <input required type="text" name="kod" />
            <span class="place_holder">Код </span>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Подтвердить</button>
        </form>
        <div class="modal-footer">
          <p>Вы можете получить повторное смс через 40 сек</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal restore_password" id="restore_password3" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Восстановить пароль</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="name" value="89121234567" />
            <span class="place_holder">Ваш логин или номер телефона</span>
          </label>          
          <label class="placeinput">
            <input required type="text" name="kod" value="506040" />
            <span class="place_holder">Код </span>
          </label> 
          <label class="placeinput">
            <input required type="password" name="new-passw" />
            <span class="place_holder">Придумайте пароль </span>
          </label> 
          <label class="placeinput">
            <input required type="password" name="confirm-passw"/>
            <span class="place_holder">Повторите пароль </span>
          </label> 


          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Подтвердить</button>
        </form>
        <div class="modal-footer">
          <p>Вы можете получить повторное смс через 40 сек</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="export_email" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Экспорт e-mail</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="eml"/>
            <span class="place_holder">Ваш e-mail <span>*</span></span>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="subscribe_price_change" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Подписаться на изменения цены</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form action="/">
          <label class="placeinput">
            <input required type="text" name="eml"/>
            <span class="place_holder">Ваш e-mail <span>*</span></span>
          </label>          
          <div class="fz152-block">
            <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
            <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
          </div>
          <button class="btn red-btn" data-dismiss="modal">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="choose_another_car" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Выбрать другое авто</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <div class="modal-body">
        <form class="frm-filter" >
          <select class="selectpicker" data-style="bs-select" title="Мои авто" name="my_avto">
            <option value="BMV">Nissan Almera</option>
            <option value="KIA">KIA</option>
            <option value="Mazda">Mazda</option>
            <option value="Renault">Renault</option>
            <option value="Lada">Lada</option>
          </select> 
          <div class="bborder"></div>
          <select class="selectpicker" data-style="bs-select-first" title="Год" name="year">
            <option value="2000">2000г.</option>
            <option value="2001">2000г.</option>
            <option value="2002">2002г.</option>
            <option value="2003">2003г.</option>
            <option value="2004">2004г.</option>
            <option value="2005">2005г.</option>
          </select> 
          <select class="selectpicker" data-style="bs-select" title="Марка" name="marka">
            <option value="BMV">BMV</option>
            <option value="KIA">KIA</option>
            <option value="Mazda">Mazda</option>
            <option value="Renault">Renault</option>
            <option value="Lada">Lada</option>
          </select> 
          <select class="selectpicker" data-style="bs-select" title="Модель" name="model">
            <option value="BMV">BMV</option>
            <option value="KIA">KIA</option>
            <option value="Mazda">Mazda</option>
            <option value="Renault">Renault</option>
            <option value="Lada">Lada</option>
          </select> 
          <select class="selectpicker" data-style="bs-select" title="Модификация" name="modif" >
            <option value="BMV">BMV</option>
            <option value="KIA">KIA</option>
            <option value="Mazda">Mazda</option>
            <option value="Renault">Renault</option>
            <option value="Lada">Lada</option>
          </select> 
          <button type="button" class="btn red-btn" data-dismiss="modal">Выбрать авто</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal leaving_already" id="leaving_already" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Вы уже уходите?</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <form >
        <div class="modal-body">
          <p>Ответьте на вопрос «почему» и получите <a href="#" class="blue">100 бонусных баллов!</a></p>
          <label class="radio"><input type="radio" name="reason" value="order_later"><span class="radio-text">Сделаю заказ позже</span></label>
          <label class="radio"><input type="radio" name="reason" value="not_find"><span class="radio-text">Не нашел нужного товара</span></label>
          <label class="radio"><input type="radio" name="reason" value="high_prices"><span class="radio-text">Высокие цены</span></label>
          <label class="radio your_answer">
            <input type="radio" name="reason" value="your_answer"><span class="radio-text">Свой ответ в комментарии</span>
            <textarea required name="message" placeholder="Комментарий"></textarea>         
          </label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn red-btn" data-dismiss="modal">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal product_availability" id="product_availability" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Наличие товара</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <form >
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">список</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="map-tab" data-toggle="tab" href="#modal_map" role="tab" aria-controls="modal_map" aria-selected="false">карта</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
              <div class="table_head">
                <div>Адрес магазина</div>
                <div>Время работы/телефон</div>
                <div>Кол-во товара/доставка</div>
              </div>
              <label class="table_row">
                <input type="radio" name="market" value="г. Ижевск Салютовская д.73">
                <span>
                  <span><strong>г. Ижевск</strong><br>Салютовская д.73</span>
                  <span><strong>пн-вс с 10:00 до 21:00</strong><br>тел. +7-965-842-20-03</span>
                  <span><strong>8 шт.</strong><br>сегодня</span>
                </span>
              </label>
              <label class="table_row">
                <input type="radio" name="market" value="г. Ижевск Салютовская д.73">
                <span>
                  <span><strong>г. Ижевск</strong><br>Салютовская д.73</span>
                  <span><strong>пн-вс с 10:00 до 21:00</strong><br>тел. +7-965-842-20-03</span>
                  <span><strong>под заказ</strong><br>3-4 дня</span>
                </span>
              </label>
              <label class="table_row">
                <input type="radio" name="market" value="г. Ижевск Салютовская д.73">
                <span>
                  <span><strong>г. Ижевск</strong><br>Салютовская д.73</span>
                  <span><strong>пн-вс с 10:00 до 21:00</strong><br>тел. +7-965-842-20-03</span>
                  <span><strong>8 шт.</strong><br>сегодня</span>
                </span>
              </label>
            </div>
            <div class="tab-pane fade modal_map" id="modal_map" role="tabpanel" aria-labelledby="map-tab">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2182.5054147096976!2d53.20760041570537!3d56.83727408085728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e1394971386a17%3A0x43c96dd8e9eba6fd!2z0JHRgNCw0YLRgdC60LjQuQ!5e0!3m2!1sru!2sru!4v1556100333346!5m2!1sru!2sru" width="630" height="272" allowfullscreen class="map"></iframe>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal lk" id="lk" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Личный кабинет</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <form >
        <div class="modal-body">
          <p class="head_text">Чтобы получить свои бонусы - войдите в свой аккаунт или зарегистрируйтесь.</p>
          <ul class="nav nav-tabs" id="myTab2" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">вход</a></li>
            <li class="nav-item"><a class="nav-link" id="reg-tab" data-toggle="tab" href="#reg" role="tab" aria-controls="reg" aria-selected="false">регистрация</a></li>
          </ul>
          <div class="tab-content" id="myTabContent2">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
              <label class="placeinput">
                <input required type="text" name="name" />
                <span class="place_holder">Ваш e-mail или номер телефона <span>*</span></span>
              </label>          
              <label class="placeinput">
                <input required type="password" name="password" />
                <span class="place_holder">Пароль</span>
              </label>          
              <div class="fz152-block">
                <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
              </div>
              <button type="button" class="red-btn" data-dismiss="modal">Войти</button>
              <div class="link_row"><a href="" >Забыли пароль ?</a></div>
              <div class="bborder"></div>
              <p>Войти через соцсеть</p>
              <div class="social-icons">
                <a href="#" class="icon-telegram"></a>
                <a href="#" class="icon-viber"></a>
                <a href="#" class="icon-instagram"></a>
                <a href="#" class="icon-whatsapp"></a>
                <a href="#" class="icon-facebook"></a>
                <a href="#" class="icon-vk"></a>
                <a href="#" class="icon-youtube"></a>
              </div>
            </div>
            <div class="tab-pane fade" id="reg" role="tabpanel" aria-labelledby="reg-tab">
              <label class="placeinput">
                <input required type="text" name="name" value="89121234567" />
                <span class="place_holder">Ваш логин или номер телефона</span>
              </label>          
              <label class="placeinput">
                <input required type="text" name="kod" value="506040" />
                <span class="place_holder">Код </span>
              </label> 
              <label class="placeinput">
                <input required type="password" name="new-passw" />
                <span class="place_holder">Придумайте пароль </span>
              </label> 
              <label class="placeinput">
                <input required type="password" name="confirm-passw"/>
                <span class="place_holder">Повторите пароль </span>
              </label> 
              <p>Пароль должен быть от 6 до 32 символов.</p>         
              <div class="fz152-block">
                <div class="recapcha"><img src="img/recaptcha.png" alt=""></div>
                <div class="fz152">Нажимая на кнопку, вы даете свое согласие на обработку персональных данных. <br><a href="#">Узнать больше</a></div>
              </div>
              <button type="button" class="red-btn d-none" data-dismiss="modal">Получить код</button>
              <button type="button" class="red-btn d-none" data-dismiss="modal">Подтвердить</button>
              <button type="button" class="red-btn" data-dismiss="modal">Зарегистрироваться</button>
              <p class="text-center mb-0">Укажите номер телефона или E-mail, и мы пришлем сообщение с кодом доступа.</p>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal akb_exchange" id="akb_exchange" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Обмен АКБ б/у</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <form >
        <div class="modal-body">
          <p>При обмене стоимость будет зависеть от емкости АКБ б/у.</p>
          <table>
            <thead>
              <tr><th>Ёмкость АКБ</th><th>Стоимость</th></tr>
            </thead>
            <tbody>
              <tr><td>0 - 30 Ач</td><td> 300 &#8381;</td>
              <tr><td>30 - 55 Ач</td><td> 500 &#8381;</td>
              <tr><td>55 - 75 Ач</td><td> 600 &#8381;</td>
              <tr><td>75 - 90 Ач</td><td> 700 &#8381;</td>
              <tr><td>90 - 120 Ач</td><td> 800 &#8381;</td>
              <tr><td>120-190 Ач</td><td> 900 &#8381;</td>
              <tr><td>более 190 Ач</td><td> 2000 &#8381;</td>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn red-btn" data-dismiss="modal">Подробнее</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal added_to_basket" id="added_to_basket" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Товар добавлен в корзину</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      </div>
      <form >
        <div class="modal-body">
          <img src="/img/tumen.png" alt="">
          <div class="info_block">
            <p>Автомобильный аккумулятор VARTA Blue Dynamic 74 А·ч 574012 Обратная полярность E11</p>
            <div>
              <span class="new-price">4 900 &#8381;</span>
              <span>1 шт.</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="red-transparent-btn" data-dismiss="modal">Продолжить покупки</button>
          <button type="button" class="red-btn" data-dismiss="modal">Перейти в корзину</button>
        </div>
      </form>
    </div>
  </div>
</div>
