						<div class="analog-tab zakaz">
							<div>
								<div>Фото</div>
								<div>
									<a href="#"><img src="img/kolodki2.png" alt=""></a>
								</div>
							</div>
							<div>
								<div>Бренд и оценка поставки</div>
								<div>
									<a href="#"><h3>AywiParts AW1810331</h3></a>
									<a href="#" class="text82">Колодки тормозные, передние</a>
						  		<div class="stars-block">
										<div class="stars">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-white.svg" alt="">
										</div>
						  		</div>

								</div>

							</div>
							<div>
								<div>Склад</div>
								<ol>
									<li>
										<a href="#">Ижевск</a><br>
										<a href="#select-city" class="text82" data-toggle="modal" >изменить город</a>
									</li>
								</ol>
							</div>
							<div>
								<div>Срок</div>
								<ol>
									<li>7 дней</li>
								</ol>
							</div>
							<div>
								<div>Цена</div>		
								<ol>
									<li>200 &#8381;</li>
								</ol>
							</div>
							<div>
								<div></div>
								<div>
									<button class="red-btn"></button>
								</div>		
							</div>		
							<div class="mob-display"><button class="red-btn"></button></div>
						</div>
						<div class="analog-tab zakaz">
							<div>
								<div>Фото</div>
								<div>
									<a href="#"><img src="img/kolodki2.png" alt=""></a>
								</div>
							</div>
							<div>
								<div>Бренд и оценка поставки</div>
								<div>
									<a href="#"><h3>AywiParts AW1810331</h3></a>
									<a href="#" class="text82">Колодки тормозные, передние</a>
						  		<div class="stars-block">
										<div class="stars">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-white.svg" alt="">
										</div>
						  		</div>

								</div>

							</div>
							<div>
								<div>Склад</div>
								<ol>
									<li>
										<a href="#">Ижевск</a><br>
										<a href="#select-city" class="text82" data-toggle="modal" >изменить город</a>
									</li>
								</ol>
							</div>
							<div>
								<div>Срок</div>
								<ol>
									<li>5 дней</li>
								</ol>
							</div>
							<div>
								<div>Цена</div>		
								<ol>
									<li>250 &#8381;</li>
								</ol>
							</div>
							<div>
								<div></div>
								<div>
									<button class="red-btn"></button>
								</div>		
							</div>		
							<div class="mob-display"><button class="red-btn"></button></div>
						</div>


