						<div class="analog-tab">
							<div>
								<div>Бренд</div>
								<div>
									<a href="#"><h3>VAG 1КО 698 151 С</h3></a>
									<a href="#" class="text82">Колодки тормозные, передние</a>
								</div>
							</div>
							<div>
								<div>Оценка поставки</div>
								<div>
									
						  		<div class="stars-block">
										<div class="stars">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-yellow.svg" alt="">
										  <img src="img/star-white.svg" alt="">
										</div>
						  		</div>

								</div>

							</div>
							<div>
								<div>Склад</div>
								<ol class="list-line-height_min">
									<li><a href="#">Ижевск</a></li>
									<li><a href="#" class="blue-link">изменить город</a></li>
								</ol>
							</div>
							<div>
								<div>Срок</div>
								<ol>
									<li>5 дней</li>
								</ol>
							</div>
							<div>
								<div>Цена</div>		
								<ol>
									<li>4 900 &#8381;</li>
								</ol>
							</div>
							<div>
								<div></div>
								<div>
									<button class="red-btn"></button>
								</div>		
							</div>		
							<div class="mob-display"><button class="red-btn"></button></div>
						</div>
						


