// @import "../../style/normalize";
// @import "../variables";
// @import "../../style/variables.part2";
// @import "style/breadcrumb";
@import "for_all/other";



.text__wp {
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
	margin-bottom: 60px;
}

.text__p {
	margin-bottom: 15px;
	margin-top: 0;
}

.video {
	position: relative;
	margin-bottom: 30px;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;  	
  	@include media-breakpoint-up(lg) {
  		float: left;margin-right: 30px;
  		padding-bottom: 0;
  		padding-top: 0;
  		width: 400px;
  		height: 254px;
  	}

		iframe {
			border: none;
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		}
}

.title-h2 {
	@include setFont ($textFFamily,normal,bold,24px,$fontColor);
  margin: 9px 0 22px 0px;
}
.date {
	@include setFont ($textFFamily,normal,normal,12px,$fontColorLight3);
  margin-top: 22px;
  display: block;
}
.link-back {
  font-weight: normal;
  font-size: 14px;
  color: $blue;
  line-height: normal;
}
.img-banner {
  max-width: 100%;
  max-height: 390px;
}

.search__wp {
	position: relative;
	width: 100%;
	max-width: 540px;
	height: 43px;
	margin: 0;
}
.search__text {
	font-family: $textFFamily2;
	//	font-size: 18px;
	font-size: 1.125em;
	color: $fontColor;
	margin: 0 30px 0 0;
}

.search {
	display: flex;
	align-items: center;
	margin-top: 33px;
}

.search__input {
	@include input(100%);
	width: 100%;
	//	padding-left: 11px;
	padding-left: .786em;
	padding-right: 40px;

	&::placeholder {
		color: $fontColorLight;
	}
}
.search__btn {
	position: absolute;
	right: 19px;
	top: 0;
	height: 100%;
	width: 15px;
	background: none;
	border: none;
	background-image: url(../img/search_grey_icon.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
}

.feedback {
	margin-bottom: 70px;
	.red-btn {
		justify-self: flex-end;
		align-self: flex-end;
		width: 100%;
		order:7;
	  	@include media-breakpoint-up(md) {max-width: 300px;}

	}
}
.feedback__title {
	// font-size: 36px;
	margin-bottom: 48px;
	margin-top: 12px;
}
.feedback__header {
	padding-top: 28px;
	margin-top: 38px;
	border-top: 1px solid $borderGray;
	p {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 23px;
		color: #000000;
	}
}
.form {
	@include dFlex(flex-start,flex-start,column,nowrap);
	
  	@include media-breakpoint-up(md) {flex-wrap: wrap;max-height: 200px;}

}


.form__input,
.form__textarea {
	padding-left: 10px;
	background: $sectBgrGray1;
	border: 1px solid $borderGray;
	border-radius: 2px;
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
	line-height: normal;
	width: 100%;
	margin-bottom: 15px;
  	@include media-breakpoint-up(md) {margin-bottom: 10px;}
}

.form__input {
	height: 40px;
  	@include media-breakpoint-up(md) {max-width: 270px;}
}

.form__textarea {
	height: 90px;
	padding-top: 10px;
	order: 4;
  	@include media-breakpoint-up(md) {order:5;margin-left: 30px;margin-bottom: 15px;max-width: 370px;}
	
}
.form__input::placeholder,
.form__textarea::placeholder {
	color: $fontColorLight;
}

.form__text {
	@include setFont ($textFFamily,normal,normal,12px,$fontColorLight);
	line-height: normal;
	margin: 0 0 15px 0;
	width: 100%;

	order:6;
  	@include media-breakpoint-up(sm) {width: calc( 100% - 220px ); align-self: flex-end;margin-top: -65px; height: 49px;}
  	@include media-breakpoint-up(md) {margin-left: 30px;max-width: 370px;align-self: unset;margin-top: 0;height: unset;}

}

.g-recaptcha {
	height: 49px;
	width: 201px;
	// transform: scale(0.66);
	// transform-origin: 0 0;
	margin-bottom: 15px;
	order: 5;
  	@include media-breakpoint-up(md) {order:4;margin-bottom: 0;}

  	div {width: 100%!important;height: 100% !important;border: none!important;}
  	iframe {width: 100%!important;height: 100% !important;border: none!important;	}
  	textarea {width: 100%!important;height: 100% !important;border: none!important;}
}


.form__link {	color: $blue;}

/* *** */

.form__wp {
	position: relative;
	overflow: hidden;
	height: 40px;
	margin: 0;
	max-height: 40px;
	width: 100%;
	margin-bottom: 15px;
  	@include media-breakpoint-up(md) {max-width: 270px;margin-bottom: 10px;}

}

.form__placeholder {
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 100;
	display: inline;
	cursor: text;
	// user-select: none;
	line-height: 40px;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: $fontColorLight;
}

.form__wp .form__input:valid + .form__placeholder {	display: none;}

.form__placeholder span {
	padding-left: 0.5em;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: $red;
}

//======================= personal_account.html ==================================

.breadcrumb #BREAD-1,
.breadcrumb #BREAD-2,
.breadcrumb #BREAD-3,
.breadcrumb #BREAD-4,
.breadcrumb #BREAD-5 {
  display: none;
}

#PERSONAL-DATA:checked ~ .breadcrumb #BREAD-1,
#PERSONAL-FAVORITES:checked ~ .breadcrumb #BREAD-2,
#PERSONAL-ORDERS:checked ~ .breadcrumb #BREAD-3,
#PERSONAL-HISTORY:checked ~ .breadcrumb #BREAD-4,
#PERSONAL-GARAGE:checked ~ .breadcrumb #BREAD-5 {
  display: inline-block;
}

.main__header {
	margin-top: 20px;
	margin-bottom: 20px;

		@include media-breakpoint-up(lg) {margin-top: 0;}

	h1 {
	  padding-bottom: 0;
	  margin-bottom: 0;
	  display: none;
			// @include media-breakpoint-up(lg) {margin-bottom: 0;}
	}
}

#PERSONAL-DATA:checked ~ .main__header h1:nth-of-type(1),
#PERSONAL-FAVORITES:checked ~ .main__header h1:nth-of-type(2),
#PERSONAL-ORDERS:checked ~ .main__header h1:nth-of-type(3),
#PERSONAL-HISTORY:checked ~ .main__header h1:nth-of-type(4),
#PERSONAL-GARAGE:checked ~ .main__header h1:nth-of-type(5) {
  display: block;
}


/* *** */
.personal-menu {
  // width: 269px;
  // height: 230px;

	@include setFont ($textFFamily,normal,normal,13px,$fontColor);
  background: $personalMenuBg;
  margin-bottom: 30px;
		@include media-breakpoint-up(md) {@include boxShadow2;}
}

.personal-menu__list { 
	margin: 0;
	@include dFlex(flex-start,center,row,wrap);

		@include media-breakpoint-up(md) {display: block;}

}

.personal-menu__item {
  min-width: 145px;
  
  background: $personalMenuBg;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 0; 
  display: block;
  height: 46px;
  line-height: 46px;
  // user-select: none;
  border: 1px solid $borderGray3;
  text-align: center;

		@include media-breakpoint-up(md) {
			border-top: 1px solid $borderGray3;
			text-align: left;
			margin: 0;
			border:none;
		}
		@include media-breakpoint-up(lg) {padding: 0 25px;}

		>div {

			@include media-breakpoint-up(md) {
				border-top: 1px solid $borderGray3;
				padding: 0 20px;

			}	
		}

		&:first-child >div {
			@include media-breakpoint-up(md) {border: none;}
		}
		&:last-child {margin-right: auto;}
	  &:hover { background: darken($personalMenuBg, 3%);  }
		&.active{  
			background: $fontColor;  color: #fff;
			>div {border: none;}
		}	


}


/* *** */
.my-data-section,
.favorites-section,
.orders-section,
.history-section,
.garage-section {
  display: none;
  margin-bottom: 40px;
}

.my-data__photo-bonus {
	@include dFlex(flex-start,flex-start,row,wrap);
		@include media-breakpoint-up(lg) {display: block;}


}

.my-data__photo {
  background: #FFFFFF;
  border: 1px solid $borderGray;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 20px;
		@include media-breakpoint-up(x400) {width: 170px;  height: 170px;}
		@include media-breakpoint-up(lg) {margin-right: 0;margin-bottom: 0;}

  p {
		@include setFont ($textFFamily,normal,normal,14px,$fontColor);
    line-height: 18px;
    text-align: center;
    display: block;
    margin: 45% 0 0 0;
    // user-select: none;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.my-data__file-photo {
  display: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

.my-data__bonus {
  
  display: block;
		@include media-breakpoint-up(lg) {margin-top: 16px;}

  .my-data__text {  margin-bottom: 0; }
}

.my-data__text,
.my-data__txt_grey {
	@include setFont ($textFFamily,normal,normal,14px,#000);
  line-height: 18px;
}

.my-data__txt_grey {  color: $fontColorLight;}

.my-data__count {
	@include setFont ($textFFamily,normal,bold,24px,$fontColor);
  line-height: 31px;
  margin-top: 0;
}

.my-data__how-link {
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
  line-height: 18px;
  text-decoration-line: underline;
}



.my-data__save-btn {
  @include linkLikeBtn(44px, 224px, $red, #FFF, 14px);
  padding: 0;
  border: none;


}

.my-data__edit-btn {
  @include linkLikeBtnBorder(44px, 224px, $red, $red, 14px);
  padding: 0;
}

.my-data__input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid $borderGray;
  box-sizing: border-box;
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
  line-height: 45px;
  // color: $fontColorLight;

  height: 45px;
  padding-left: 8px;

  &::placeholder {
		@include setFont ($textFFamily,normal,normal,14px,$fontColorLight);
  }
}

.my-data__personal-wp {

		@include media-breakpoint-up(lg) {margin-left: -45px;}
		@include media-breakpoint-up(xl) {margin-left: -25px;}

}

.my-data__details {
  .my-data__txt_grey {  margin-top: 0; margin-bottom: 5px;}
  .my-data__text { margin-bottom: 20px; }
	
	.input-sex, .input-birth, .input-email, .input-fio {
		@include dFlex(flex-start,center,row,wrap);
			@include media-breakpoint-up(sm) {display: block;}
				p {
					margin-bottom: 20px;
						@include media-breakpoint-up(sm) {margin-bottom: inherit;}
				}	
				p:first-child {
					margin-right: 20px;
						@include media-breakpoint-up(sm) {margin-right: 0;}
				}	

			  .my-data__text { @include media-breakpoint-up(sm) {margin-bottom: 20px;} }

	}

}

.my-data__form {
	
	@include dFlex(space-between,flex-start,row,wrap);
  
  display: none;

  input {margin-bottom: 20px;}

	.input-fio {
		flex-grow: 1;
			@include media-breakpoint-up(xl) {
				max-width: 470px;
				margin-right: 30px;
			}
	
	} 
	.input-birth {

			@include media-breakpoint-up(md) {width: 48%;	}	
			@include media-breakpoint-up(xl) {
				width: 170px;
				margin-right: 30px;
			}	
	}
	.input-tel {
			width: 100%;
			@include media-breakpoint-up(md) {width: 48%;}	
			
			@include media-breakpoint-up(xl) {
				width: auto;
				flex-grow: 1; 
				margin-right: 30px;
			}	

	}
	.input-email {
		width: 100%;
			@include media-breakpoint-up(md) {width: 48%;}	
			@include media-breakpoint-up(xl) {width: 170px;}	

	}
	.bootstrap-select {
		width: 100%!important;
		@include media-breakpoint-up(md) {width: 48%!important;}	
		@include media-breakpoint-up(xl) {width: 170px!important;}	
	}


  .input-sex {
  	width: 100%;
    background-color: #fff;
    appearance: none;
    margin-bottom: 20px;
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
			// @include media-breakpoint-up(lg) {width: 47%;}	
			@include media-breakpoint-up(xl) {width: 170px;}	

			&:after{
		    background: url(../../img/down.svg);
		    background-repeat: no-repeat;
		    background-size: 17px 10px;
		    background-position: 90% 45%;
		    border: none;
		    width: 15px;
		    height: 11px;
			}    

	    &:focus {
				outline: 0!important;
		    border-color: inherit;
		    box-shadow: none;
	    }
	    ~ .show {    border-radius: 2px;    }

  }
  .input-inn {width: 170px;margin-right: 30px;}

.my-data__save-btn { min-width: 224px;}

}


.input-fio {  width: 100%;}

.my-data__inn-wp {
  flex-grow: 1;
  display: block;
		@include media-breakpoint-up(x480) {display: flex;justify-content: space-between;}
		@include media-breakpoint-up(x550) {justify-content: flex-start;}
	.my-data__save-btn, .my-data__edit-btn 	{
		width: 100%;
		max-width: unset;
		min-width: unset;
		margin: 0;
		margin-bottom: 15px;
			@include media-breakpoint-up(x480) {width: 48%;margin-bottom: 0;}
			@include media-breakpoint-up(x550) {max-width: 224px;margin-right: 30px;}

	}

}

.my-data__details {
  .input-inn {
    margin-right: 30px;
    max-width: 270px;
    width: 270px;
  }
}

.my-data__edit-btn {  margin-left: 21px; }

.my-data__login-wp {
  margin-top: 41px;
  display: block;
		@include media-breakpoint-up(x480) {display: flex;justify-content: space-between;}
		@include media-breakpoint-up(x550) {justify-content: flex-start;}

	>div {
		width: 100%;
		display: flex;
			@include media-breakpoint-up(x480) {width: 48%;margin-bottom: 0;}
			@include media-breakpoint-up(x550) {max-width: 224px;margin-right: 30px;}
			@include media-breakpoint-up(lg) {display: block;}
				p:first-child {
					margin-right: 20px;
						@include media-breakpoint-up(lg) {margin-right: 0;}
				}	

	}
  .my-data__edit-btn { 
		margin-left: 0;
		width: 100%;
		max-width: unset;
		
			@include media-breakpoint-up(x480) {width: 48%;margin-bottom: 0;}
			@include media-breakpoint-up(x550) {max-width: 224px;margin-right: 30px;}

  }
}

.my-data__social {
  margin-top: 70px;
  margin-bottom: 100px;
		// @include media-breakpoint-up(lg) {margin-left: -45px;}
		@include media-breakpoint-up(xl) {margin-left: -25px;}
  
}

.my-data__social-list {
	@include dFlex(space-between,center,row,wrap);
  margin-top: 24px;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    min-width: 300px;
			@include media-breakpoint-up(x450) {min-width: 200px;}
			@include media-breakpoint-up(x550) {min-width: 230px;}
			@include media-breakpoint-up(md) {min-width: 200px;}
			@include media-breakpoint-up(lg) {min-width: 300px;}

    p {
      margin: 0;
    }
  }
}

.my-data__connect-btn {
  @include linkLikeBtn(44px, 201px, #FFCD19, $fontColor, 14px);
  
			@include media-breakpoint-up(x450) {max-width: 120px;}
			@include media-breakpoint-up(x550) {max-width: 150px;}
			@include media-breakpoint-up(md) {max-width: 120px;}
			@include media-breakpoint-up(lg) {max-width: 201px;}
}


.favorites-section {  
	margin-bottom: 40px;
	margin-top: -54px;
			@include media-breakpoint-up(md) {margin-bottom: 85px;}

}

.favorites__del-all {
  @include linkLikeBtn(44px, 100%, $red, #FFF, 14px);
  margin: 30px 0 10px auto;
			@include media-breakpoint-up(md) {margin-top: 0; width: 224px;}

}


.favorites__list {
			@include dFlex(space-around,center,row,wrap);
		&.list {
			margin: 0;
			.main-product-card .btn-block {  
				width: calc(100vw - 60px);
					@include media-breakpoint-up(x400) {width: auto;}

			}
		}
	  .product-item {
	    font-size: 14px;
		    .main-product-card {
		      font-size: 14px;
			      .b2 {
			        font-size: 14px;
				        .prod-name {font-size: 14px;}
			      }
		    }
	  }
}


.pagination-section {  font-size: 14px;}
.pagination {  
	margin-right: 10px;
		@include media-breakpoint-up(lg) {margin-right: 85px;}
}

.table__row {
	@include boxShadow2;
  background: #fff;
  margin-bottom: 20px;
  padding: 0px 8px 0px 8px;
  .collapse .table__header {	padding-bottom: 0; }
  .collapse.show .my__order {
  	padding-top: 14px;
	    &:nth-of-type(5) { font-size: 12px;}

  }
}  
.my__order {
	@include dFlex(space-between,flex-start,column,nowrap);
	@include setFont ($textFFamily,normal,normal,12px,$fontColor);	
  padding: 26px 0px 14px 0px;

      	@include media-breakpoint-up(x550) {flex-direction: row;}

		>div {
			@include dFlex(flex-start,flex-start,row,nowrap);
			width: 100%;
			margin-bottom: 5px;
      	@include media-breakpoint-up(x550) {width: initial;display: block;margin-bottom: 0;} 
					>span{
						display: inline-block;
						font-weight: bold;
						min-width: 40%;
						width: 40%;
						@include media-breakpoint-up(x550) {display: none;}
					}
			    &:nth-of-type(1) {
			    	
			      	@include media-breakpoint-up(x550) {width: 30%;padding-right: 10px;} 
							@include media-breakpoint-up(md) {width: 20%;}
							@include media-breakpoint-up(lg) {width: 32%;}
							@include media-breakpoint-up(xl) {width: 32%;}
			    }

			    &:nth-of-type(2) {
			      	@include media-breakpoint-up(x550) {width: 12%;} // 115
			    }

			    &:nth-of-type(3) {
			      	@include media-breakpoint-up(x550) {width: 18%;} // 160
			 				@include media-breakpoint-up(md) {width: 23%;}
							@include media-breakpoint-up(lg) {width: 16%;}
			    }

			    &:nth-of-type(4) {
			      	@include media-breakpoint-up(x550) {width: 20%;display: block;} // 170
			 				@include media-breakpoint-up(md) {width: 25%;}
							@include media-breakpoint-up(lg) {width: 20%;}
							@include media-breakpoint-up(xl) {width: 18%;}

							>div {
								@include dFlex(flex-start,flex-start,column,nowrap);
			      			@include media-breakpoint-up(x550) {display: block;}
							}
							label {margin-bottom: 0;}

			    }
			    &:nth-of-type(5) {
						@include dFlex(flex-start,flex-start,row,wrap);
			      font-size: 13px;
			      	@include media-breakpoint-up(x550) {width: 20%;} // 170
			      	.arders__cancel-btn {
			      		margin-right: 15px;
			      			@include media-breakpoint-up(x550) {margin-right: 0;}
			      	}
			    }
		}
		&.table__header {
			color: $fontColorLight;
			padding-top: 17px;
			padding-bottom: 0;
			display: none;
			  @include media-breakpoint-up(x550) {display: flex;}
		}
		&.table__header__glob {
				padding-top: 0;
			padding-bottom: 12px;
		}

}


.table__flex {
		@include media-breakpoint-up(md) {padding-left: 0;}
		@include media-breakpoint-up(lg) {padding-left: 15px;}

}
.control {
  position: relative;
  padding-left: 20px;
		
		input:checked ~ .control_indicator:before { display: block;}
}

.control_indicator {
  position: absolute;
  top: 4px;
  left: 0;
  height: 12px;
  width: 12px;
  border: 1px solid $red;

		&:after {
		  box-sizing: unset;
		  content: '';
		  position: absolute;
		  display: none;
		}
}


.control-radio .control_indicator:before {
  display: none;
  line-height: 7px;
  content: url(../../img/check_mark_red.svg);
}

/* *** */

/* garage-section */

.garage__del-all-wp {
  text-align: right;
  margin: 0;
}

.garage__del-all {
  color: $red;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  &:hover,
  &:focus {
    color: darken($red, 5%);
  }
}

.garage__item {
  font-family: PT Sans;
  display: block;
  outline: none;
  // padding-right: 35px;
  position: relative;
  margin-bottom: 22px;

  &:focus {
    .garage__data-wp {
      border: 2px solid $fontColor;
    }

    .garage__title {
      font-weight: bold;
      color: $fontColor;
    }
  }
  >div>div {	@include dFlex(flex-start,center,row,nowrap);	 }
  input[type=checkbox] {display: none;}
  input:checked ~ div { display: none;}
  
}

.garage__title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: $fontColorLight;
}

.garage__data-wp {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: 2px solid #FFFFFF;
  padding: 15px 12px;
  margin-right: 15px;
  flex-grow: 1;

	@include dFlex(flex-start,flex-start,row,wrap);	
		@include media-breakpoint-up(sm) { flex-wrap: nowrap; }

  
}

.garage__data {
  display: block;
  overflow: hidden;
  font-size: 14px;
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  line-height: (40px-2px);
  font-style: normal;
  font-weight: normal;
  color: $fontColorLight;
  border: 1px solid #F0F0F0;
  padding: 0 11px;
  margin-bottom: 10px;
  width: 100%;
		@include media-breakpoint-up(sm) { margin-right: 14px;margin-bottom: 0;}


  &:last-of-type {
    margin: 0;
  }

  &:nth-of-type(1),
  &:nth-of-type(2) {
    @include media-breakpoint-up(sm) {width: 20%;}
  }

  &:nth-of-type(3),
  &:nth-of-type(4) {
    @include media-breakpoint-up(sm) {width: 30%;}
  }

  &::placeholder {
    color: $fontColorLight;
  }
}
.garazh__zaglushka {
  height: 19px;
  width: 19px;

}
.garage__del-btn {
  height: 19px;
  width: 19px;
  background: none;
  border: 1px solid $red;
  background-image: url(../../img/delite_icon_red.svg);
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
}

.garage__save {
  @include linkLikeBtn(44px, 100%, $red, #FFF, 14px);
  border: none;
   margin: 32px 26px 0 auto;
		@include media-breakpoint-up(sm) { width: 224px; }
		@include media-breakpoint-up(lg) { margin-right: 30px; }
		@include media-breakpoint-up(xl) { margin-right: 34px; }

  
}




//======================= personal_account.html End ==============================

//======================= promotions.html  =================================
.title-h1 {
	margin-top: 20px;
		@include media-breakpoint-up(lg) { margin-top: 0; }


}
.arrow-icon {
	display: inline-block;
	position: relative;
	transform: rotate(135deg);
	user-select: none;
}

/* *** */
.main__content {margin-bottom: 40px;}
.sale__content {margin-bottom: 40px;}
.sale__list {
	@include dFlex(space-between,flex-start,row,wrap);	
  margin: 0;
	margin-bottom: 40px;
  font-size: 16px;
  }

  .sale__item {
    width: 100%;
    padding: 23px;
    margin-bottom: 30px;
    background: #FFFFFF;
    transition: all .3s;
    @include boxShadow2;
			@include media-breakpoint-up(sm) { width: 48%;}
			@include media-breakpoint-up(lg) { width: 270px;}


    &:hover {
      @include boxShadow;
    }
  }

  .sale__link-wp {
    font-family: $textFFamily2;
    font-style: normal;
  }

  .sale__img {
    max-width: 224px;
    max-height: 157px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;

  }

  .sale__title {
    font-weight: 500;
    color: $fontColor;
    	font-size: 14px;
    	line-height: 16px;
    	margin-bottom: 10px;
    	margin-top: 13px;
  }

  .sale__address {
    	font-size: 12px;
    	line-height: 14px;
    color: $fontColorLight2;
  }

  .sale__text {
    margin-bottom: 0;
    	font-size: 12px;
    	line-height: 14px;
    color: $fontColorLight;
  }


// @include mediaSale();
// @include saleBloksMedia370px();

//======================= promotions.html End ==============================

//======================= question.html ==================================
.arrow-icon {
	display: inline-block;
	position: relative;
	transform: rotate(135deg);
	transition: all .5s ease-in-out;
}
.arrow-icon_up {
	transform: rotate(-45deg);
	transition: all .5s ease-in-out;
}
.answers__content {
	margin-bottom: 50px;
		.tab__head li {
			&:nth-of-type(1){
				flex-grow: 1;
				width: 100%;
					@include media-breakpoint-up(lg) {order: 3;width: initial;}

			}
			&:nth-of-type(2){
					@include media-breakpoint-up(lg) {order: 1;}

			}
			&:nth-of-type(3){
					@include media-breakpoint-up(lg) {order: 2;}

			}

		}
		.checkout__content .tab-pane {padding-top: 35px;}
}

.answers__label {
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	color: $fontColor;
		height: 67px;
		width: 270px;
	text-align: center;
	position: relative;
		margin-top: -30px;
		margin-bottom: 30px;
		padding: 24px 0;
}

.answers__leave-review {
	@include linkLikeBtn(44px, 100%, $red, #FFFFFF, 14px);
	margin: 0 0 15px auto;
		@include media-breakpoint-up(xl) {width: 224px;}

}

/* *** */

.answers__list {
	font-style: normal;
	font-weight: normal;
		font-size: 14px;
	line-height: normal;
	color: #000000;
	margin-bottom: 28px;
}

.answers__item {
	background: #FFF;
	margin-bottom: 9px;
}

.answers__question,
.answers__answer {
	@include dFlex(space-between,flex-start,column,nowrap);

	background: #FFFFFF;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	padding: 25px 25px 16px 27px;
		@include media-breakpoint-up(x550) {flex-direction: row;}

}

.answers__question {	margin-bottom: 3px;}

.answers__category {
	// position: absolute;
	color: $fontColor;
	margin-bottom: 15px;
	display: block;
	width: 100%;
		@include media-breakpoint-up(x550) {min-width: 80px;max-width: 80px;}
		@include media-breakpoint-up(xl) {min-width: 100px;max-width: 100px;}

}

.answers__text-wp {	flex-grow: 1;}

.answers__text {
	margin-top: 0;
	margin-bottom: auto;
}

.answers__spoiler {
	overflow: hidden;
	transition: all .5s ease-in-out;
	max-height: 130px;
}

.answers__show {
	transition: all 1.5s ease-in-out;
	max-height: 999px!important;
}

.answers__autor {
	margin: 1em 0 0 0;
	color: $fontColorLight;
}

.answers__date {
	color: $fontColorLight;
}

.answers__show-more {
	@include dFlex(space-between,center,row,nowrap);
	font-family: $textFFamily2;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: $fontColorLight;
	
	background: none;
	border: none;
	padding: 0;
	margin: auto 0 auto auto;
	user-select: none;
}

.filter__icon {
	width: 7px;
	height: 7px;
	border-right: 1px solid $fontColorLight;
	border-top: 1px solid $fontColorLight;
	margin-left: 5px;
	margin-bottom: .2em;
	display: inline-block;
}



//======================= question.html End ==============================

//===================== recent_event.html ================================

.recent-event {
	display: block;
	margin-bottom: 40px;
	h1 {padding-bottom: 0;}
	.collapse {
		&:not(.show) { 
			display: none;
				@include media-breakpoint-up(md) {display: block;}
		}
		&.active {
			display: unset;
			@include media-breakpoint-up(lg) {display: block;}
		}
	}
	.bbgray{display: none;}
	.tab-content {
	  @include media-breakpoint-up(lg) {margin-top: -16px;}
		.fade:not(.show) {  
			opacity: 1; 
	  		@include media-breakpoint-up(md) {opacity: 0;display: none;}
		}

		>.tab-pane {
     display: initial; 
	  	@include media-breakpoint-up(md) {display: block;}
		}
	}
	.nav {
		display: none;
	  	@include media-breakpoint-up(md) {display: flex;}

	}
	.client-menu {
		margin-top: 11px;
	  @include media-breakpoint-up(lg) {margin-top: 0;}

	}
	.card {
		border: none;
	}
 .card-body {  
 	display: inline-flex;
	  	@include media-breakpoint-up(md) {padding-top: 0;	}
 }
	.main-event-card {
		position: relative;
		padding-top: 30px;
		flex-wrap: wrap;
		width: 100%;
		max-height: unset;

	  	@include media-breakpoint-up(sm) {padding-top: 0;flex-wrap: nowrap;max-height: 145px}
	  	@include media-breakpoint-up(xl) {width: 49%;}

	  .img-link {
	    width: 199px;
	    height: auto;
	    max-height: 126px;
	    margin-bottom: 10px;
			  @include media-breakpoint-up(sm) {margin-bottom: 0;}

	    img {
	      width: 199px;
	      height: auto;
	      max-height: 126px;
	    }
	  }

	  .content {
			max-height: 130px;
	    overflow: hidden;
	    flex-grow: 1;
	    margin-left: 0;
			  @include media-breakpoint-up(sm) {margin-left: 18px;}


	    a,
	    .event-date {
	      margin-top: 0;
	      margin-bottom: 0;
	    }
	    a:first-child, .event-date {	
	    	position: absolute;
	    	top: 0;
			  	@include media-breakpoint-up(sm) {position: relative;}
	    }
	    
	    a:first-child {	left: 0; }
	    .event-date {	right: 0; }



	  }
	}

}
//===================== recent_event.html End ======================

//===================== retail_chain.html ==========================
.addresses_shops {
	margin-top: 20px;
		@include media-breakpoint-up(lg) { margin-top: 0;}

}
.city-section {
	margin: 0;
}

.city-select {
	width: 100%;
}

@include citySelect(40px, 100%);
/* *** */

/* *** */
.cities__list {
	margin: 0;
	overflow-y: scroll;
	height: 270px;
	width: 100%;
	max-width: 100%;
	//для firefox
	scrollbar-color: $fontColorLight $fontColorLight3;
	scrollbar-width: 15px;
	//для firefox end
		@include media-breakpoint-up(x400) {height: 280px;}
		@include media-breakpoint-up(lg) { height: 681px;}
		

	&::-webkit-scrollbar-track {
		box-sizing: border-box;
		width: 15px;
	}

	&::-webkit-scrollbar {
		border: 1px solid $fontColorLight3;
		box-sizing: border-box;
		width: 15px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 0px;
		background-color: $fontColorLight;

		&:hover {
			background-color: darken($fontColorLight, 5%);
		}
	}

	&::-webkit-scrollbar-button {
		height: 14px;
		background-repeat: no-repeat;
		background-size: contain;
		background-size: 8px;
		background-position: center;
	}

	&::-webkit-scrollbar-button:start {
		background-image: url('../../img/up.svg');
	}

	&::-webkit-scrollbar-button:end {
		background-image: url('../../img/down.svg');
	}
}

.cities__item {
	@include dFlex(flex-start,flex-start,row,wrap);	

	padding: 15px 12px;
	// display: grid;
	// grid-template-columns: 149px auto;
	// grid-column-gap: 24px;
	background: #FFFFFF;
	border-bottom: 1px solid $borderGray3;

	&:first-of-type {
		border-top: 1px solid $borderGray3;
	}

	&:hover {
		background: darken(#FFFFFF, 5%);
	}
}

.cities__content {
	font-family: $labelFFamily;
	font-style: normal;
	font-weight: normal;
	//	font-size: 14px;
	font-size: .875em;
	//	line-height: 16px;
	line-height: 1.143em;
	color: $retailTextColor;

	p {
		//		margin: 0 0 8px 0;
		margin: 0 0 .571em 0;
	}
}

.cities__img-wp {
	height: 109px;
	width: 149px;
	margin-right: 20px;
	display: none;
		@include media-breakpoint-up(x400) {display: block;}


}

.cities__img {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}


.cities__link-wp {
	display: block;
	//	margin: 0 0 8px 0;
	margin: 0 0 .571em 0;
}

.cities__city {
	margin: 0;
	font-weight: bold;
	display: block;
}


.cities__address {
	font-weight: bold;
}

.cities__more {
	text-decoration-line: underline;
	color: $fontColorLight;

	&:hover,
	&:disabled,
	&:focus {
		text-decoration-line: underline;
	}
}

/* *** */
.map {
	width: 100%;
	height: 100vw;
	border: none;
		@include media-breakpoint-up(lg) { height: 100%; }

}
.retail__network__content {
	margin: 50px 0;

		.sale__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin: 0 0 32px 0;
					@include media-breakpoint-up(md) {flex-wrap: nowrap;}

			.title {
				margin: 0;
			}

			.slider-arrows {
				display: none;
				justify-content: space-between;
				align-items: center;
				position: relative;
				width: 140px;

					@include media-breakpoint-up(md) {display: flex;}

				 		p {margin-bottom: 0;}
			}

			.prev-slider {
				@include sliderControlPrev($fontColor);
				position: relative;
			}

			.next-slider {
				@include sliderControlNext($fontColor);
				position: relative;
			}
		}

		.sale__all-promotions {
			font-size: 14px;
			color: $blue;
			justify-self: flex-end;
			display: block;
			margin: 0 0 0 auto;
			@include media-breakpoint-up(md) {margin-left: 96px;}
		}

		@include saleBloks();

		.sale__item {
			margin: 0 15px 3px 15px;
		}


}

//===================== retail_chain.html End ======================
//===================== retail_shop.html ===========================

.retail__shop {

.shop {
	margin-top: 20px;
		@include media-breakpoint-up(lg) { margin-top: 0;}

}
.map-wp {
	p {margin-bottom: 5px;}
}

.shop__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 0 30px 0;
	margin: 0;

	.title {
		max-width: 800px;
		margin: 0;
		padding-bottom: 25px;
	}
}

.shop__link {
	@include linkLikeBtn(44px, 224px, $red, #fff, 14px);
	align-self: flex-end;
}

.shop__arrow {
	display: inline-block;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	height: 9px;
	width: 9px;
	transform: rotate(-45deg);
	margin-right: 4px;
}

.slider-container {margin-bottom: 13px;}
// Если слайд-превью не нажат, то он затемняется
.slider_nav {
	// margin: 0 -12px;
	// width: 100%;
	padding-left: 0;
  margin-right: -10px;
				@include media-breakpoint-up(x350) {margin-right: -30px;}
				@include media-breakpoint-up(x400) {margin-right: -20px;}
				@include media-breakpoint-up(x450) {margin-right: 0px;}
				@include media-breakpoint-up(sm) {margin-right: -30px;}

	.slick-active .slide-item{

		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(000, 000, 000, 0.5);
		}
	}

	// .slick-current .slide-item::before {background: none;}

			.slide-item { 
					height: 90px;
	 				width: 90px;
				@include media-breakpoint-up(x400) {width: 110px;	height: 110px;}
				@include media-breakpoint-up(x480) {width: 130px;	height: 130px;}
				@include media-breakpoint-up(x550) {width: 134px;	height: 134px;}
				@include media-breakpoint-up(sm) {width: 134px;	height: 134px;}
				@include media-breakpoint-up(lg) {width: 100px;height: 100px;	}
				@include media-breakpoint-up(xl) {width: 134px;	height: 134px;}

			}
			.slick-current {
				margin-top: 7px;
				.slide-item { 
					border: none; 
	    		margin-left: 0px;
					height: 90px;
	 				width: 90px;
						// @include media-breakpoint-up(x450) {width: inherit;	height: inherit;}
						// @include media-breakpoint-up(x550) {width: 140px;	height: 140px;}
						// @include media-breakpoint-up(sm) {width: 150px;	height: 150px;}
						// @include media-breakpoint-up(lg) {width: 120px;	height: 120px;margin-left: -9px;}
						// @include media-breakpoint-up(xl) {width: 150px;	height: 150px;margin-left: -7px;}


				@include media-breakpoint-up(x400) {width: 110px;	height: 110px;}
				@include media-breakpoint-up(x480) {width: 130px;	height: 130px;}
				@include media-breakpoint-up(x550) {width: 134px;	height: 134px;}
				@include media-breakpoint-up(sm) {width: 134px;	height: 134px;}
				@include media-breakpoint-up(lg) {width: 100px;height: 100px;	}
				@include media-breakpoint-up(xl) {width: 134px;	height: 134px;}




						&:before {background: none;}

				}
		}





}

.slider-nav__item {
	padding: 0;
	margin: 0 12px;
	max-height: 140px;
	max-width: 140px;


	img {
		padding: 0;
		margin: 0 auto;
		height: 100%;
		width: 100%;
	}

	&:focus {
		outline: none;
	}
}

.slider_for {
	// margin: 0 0 20px 0;
	// .slick-track {display: flex;min-height: 100%;}
}


.slider-for__item {
	// max-height: 353px;
	// max-width: 470px;
	// width: 100%;
	// height: auto;

	img {
		// max-height: 100%;
		// max-width: 100%;
		margin: 0 auto;
    height: 100%;
    width: auto;
	}
}

.slider__block {
	margin-top: 20px;
		@include media-breakpoint-up(lg) { display: block; margin-top: 0;}
}

.contact {
	@include dFlex(space-between,flex-start,row,wrap);	

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	line-height: normal;
	color: $fontColor;
	margin-bottom: 19px;
	margin-top: 20px;
		@include media-breakpoint-up(lg) { display: block; margin-top: 0;}

	p {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 13px;
		margin-right: 10px;
				@include media-breakpoint-up(md) {margin-right: 0;}


		&:last-of-type {
			margin-bottom: 15px;
				@include media-breakpoint-up(md) {margin-bottom: 5px;}
		}
	}

	span {
		display: block;
	}
	.contact__address {
		display: none;
		@include media-breakpoint-up(lg) { display: block; }

	}
	.callback {
		width: 100%;
		max-width: 100%;
			@include media-breakpoint-up(md) { max-width: 224px; }

	}
}

.contact__link {
	color: inherit;
	display: block;
}

.contact__cat {
	color: $fontColorLight;
	//	margin-top: 1em;
	font-size: 14px;
	line-height: 18px;
	color: $fontColorLight;
}

.callback {
	@include linkLikeBtnBorder(44px, 224px, $red, $red, 14px);
}

.map {
	background-color: $mapBg;
	width: 100%;
	height: 217px;
	display: block;
	border: none;
}

.sale__list__content {
		@include dFlex(space-between,flex-start,row,wrap);	
}
.sale__header {
	@include dFlex(space-between,baseline,row,wrap);	
	margin: 42px 0 30px 0;

	.sale__link {color:$blue;}

}

}

//===================== retail_shop.html End ======================
//===================== reviews.html ==========================
.reviews__content {
		.header-flex {
			margin-top: 20px;
				@include media-breakpoint-up(lg) {margin-top: 0px;}

		}
		.answers__spoiler {max-height: 38px;margin-bottom: 15px;}
		.answers__show-more {
			@include setFont ($textFFamily,normal,normal,14px,$fontColorLight);
			text-decoration: underline;
			margin: 0;

		}
			.feedback-section {
				margin: 0 0 50px 0;
					@include media-breakpoint-up(md) {margin-top: -50px;}

			}

			.feedback__leave-review {
				@include linkLikeBtn(44px, 100%, $red, #FFFFFF, 14px);
				margin: auto 0 15px auto;
					@include media-breakpoint-up(md) {max-width: 224px;margin-bottom: auto;}

			}

			.filter {
				@include setFont ($textFFamily2,normal,normal,14px,$fontColorLight);
				line-height: normal;
				position: relative;
				display: inline-block;
			}

			.filter__evaluation {
				margin-right: 50px;
				z-index: 101;
			}

			.filter__active {	color: $fontColor;}

			.filter__list {
				background: #FFFFFF;
				position: absolute;
				margin: 0;
				display: none;
				border-radius: 3px;
				z-index: 100;
				width: 130px;
			}

			.filter__link {
				color: inherit;
				padding: 1em;
				display: block;
			}

			.filter__label {
				display: flex;
				align-items: center;
			}

			.filter__icon {
				width: 5px;
				height: 5px;
				border-right: 1px solid $fontColor;
				border-top: 1px solid $fontColor;
				margin-left: 5px;
				margin-bottom: .1em;
			}

			#EVALUATION-CHECK:checked ~ .filter__label .filter__icon,
			#DATE-CHECK:checked ~ .filter__label .filter__icon {
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
				margin-top: .3em;
			}

			#EVALUATION-CHECK:checked ~ .filter__list,
			#DATE-CHECK:checked ~ .filter__list {
				display: block;
			}

			/* *** */

			.feedback__list {	margin-bottom: 40px;}

			.feedback__item {
				@include dFlex(space-between,flex-start,row,wrap);
						@include media-breakpoint-up(md) {flex-wrap: nowrap;}


				background: #FFFFFF;
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
				padding: 25px 70px 18px 37px;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: normal;
				color: $fontColor;
				margin-bottom: 30px;
			}


			.feedback__text {	@include media-breakpoint-up(md) {padding-left: 20px;}	}
			.feedback__autor {	margin: 0;	}
			.feedback__p {margin-top: 0;	}


			/* *** */

			.stars {
				cursor: default;
				margin: .375em 0 1.5em 0;
				user-select: none;
			}

			.stars__item {
				display: inline-block;
				height: 16px;
				width: 16px;
				background-image: url(../../img/star-yellow.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}

			.stars__item_empty {background-image: url(../../img/star-white.svg);}

}
//===================== reviews.html End ======================

//===================== services.html =========================
.services__content{
			.header-flex {
				margin-top: 20px;
					@include media-breakpoint-up(lg) {margin-top: 0;}
			}
			.text__wp {
				font-style: normal;
				font-weight: normal;
				font-size: .875em;
				line-height: normal;
				color: $fontColor;
				margin-top: 40px;
				margin-bottom: 50px;
			}

			.text__p {
				margin-bottom: 1.846em;
				margin-top: 0;
			}


			.sort__list {	margin-bottom: 1.875em;	}

			.sort__item {
				font-style: normal;
				font-weight: normal;
				font-size: 1em;
				line-height: normal;
				color: $fontColor;
				display: inline-block;
				margin-right: 1.750em;
				margin-bottom: 1em;

				&:last-of-type {
					margin-right: 0;
				}
			}

			.sort__repair {
				position: relative;
				vertical-align: center;
			}

			.sort__repair-label {
				display: flex;
				align-items: center;
			}

			.sort__arrow {
				display: inline-block;
				font-style: normal;
				position: relative;
				width: .5em;
				height: .5em;
				border-right: 1px solid $fontColor;
				border-top: 1px solid $fontColor;
				transform: rotate(135deg);
				user-select: none;
				margin-left: .625em;
			}

			.sort__sublist {
				display: none;
				position: absolute;
				width: 180px;
				background: #FFFFFF;
				box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
				top: 100%;
				left: -1.250em;
				z-index: 10;
			}

			.sort__subitem {
				color: $fontColor;
				font-style: normal;
				font-weight: normal;
				font-size: .875em;
				line-height: normal;

				a {
					color: inherit;
					padding: .714em;
					display: block;
				}
			}

			#SORT-REPAIR:checked ~ {
				.sort__sublist {
					display: block;
				}

				.sort__repair-label .sort__arrow {
					transform: rotate(-45deg);
					margin-top: .313em;
				}
			}

			/* *** */

			.services__list {
				@include dFlex(space-between,flex-start,row,wrap);
				margin: 0;
			}

			.services__item {
				@include dFlex(space-between,flex-start,column,nowrap);
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
				padding: 15px 23px;
				margin-bottom: 20px;
				text-align: left;
				background: #FFFFFF;
				min-width: 245px;
				width: 100%;
					
					@include media-breakpoint-up(x550) {width: 48%;}
					@include media-breakpoint-up(xl) {width: 270px;}

			}

			.services__img {
				max-width: 100%;
				max-height: 155px;
				margin: 0 auto;
				display: block;
			}

			.services__title {
				margin-top: 16px;
				font-style: normal;
				font-weight: bold;
				line-height: normal;
				color: $fontColor;
				font-size: 14px;
			}

			.services__text {
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: normal;
				color: $fontColor;
			}

			.services__link {	@include linkLikeBtn(44px, 100%, $red, #FFFFFF, 14px);}

}

//===================== services.html End =====================

