// @import "../../style/normalize";
// @import "../variables";
// @import "../../style/variables.part2";
// @import "style/breadcrumb";
@import "for_all/other";



.text__wp {
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
	margin-bottom: 60px;
}

.text__p {
	margin-bottom: 15px;
	margin-top: 0;
}

.video {
	position: relative;
	margin-bottom: 30px;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;  	
  	@include media-breakpoint-up(lg) {
  		float: left;margin-right: 30px;
  		padding-bottom: 0;
  		padding-top: 0;
  		width: 400px;
  		height: 254px;
  	}

		iframe {
			border: none;
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		}
}

.title-h2 {
	@include setFont ($textFFamily,normal,bold,24px,$fontColor);
  margin: 9px 0 22px 0px;
}
.date {
	@include setFont ($textFFamily,normal,normal,12px,$fontColorLight3);
  margin-top: 22px;
  display: block;
}
.link-back {
  font-weight: normal;
  font-size: 14px;
  color: $blue;
  line-height: normal;
}
.img-banner {
  max-width: 100%;
  max-height: 390px;
}

.search__wp {
	position: relative;
	width: 100%;
	max-width: 540px;
	height: 43px;
	margin: 0;
}
.search__text {
	font-family: $textFFamily2;
	//	font-size: 18px;
	font-size: 1.125em;
	color: $fontColor;
	margin: 0 30px 0 0;
}

.search {
	display: flex;
	align-items: center;
	margin-top: 33px;
}

.search__input {
	@include input(100%);
	width: 100%;
	//	padding-left: 11px;
	padding-left: .786em;
	padding-right: 40px;

	&::placeholder {
		color: $fontColorLight;
	}
}
.search__btn {
	position: absolute;
	right: 19px;
	top: 0;
	height: 100%;
	width: 15px;
	background: none;
	border: none;
	background-image: url(../img/search_grey_icon.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
}

.feedback {
	margin-bottom: 70px;
	.red-btn {
		justify-self: flex-end;
		align-self: flex-end;
		width: 100%;
		order:7;
	  	@include media-breakpoint-up(md) {max-width: 300px;}

	}
}
.feedback__title {
	// font-size: 36px;
	margin-bottom: 48px;
	margin-top: 12px;
}
.feedback__header {
	padding-top: 28px;
	margin-top: 38px;
	border-top: 1px solid $borderGray;
	p {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 23px;
		color: #000000;
	}
}
.form {
	@include dFlex(flex-start,flex-start,column,nowrap);
	
  	@include media-breakpoint-up(md) {flex-wrap: wrap;max-height: 200px;}

}


.form__input,
.form__textarea {
	padding-left: 10px;
	background: $sectBgrGray1;
	border: 1px solid $borderGray;
	border-radius: 2px;
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
	line-height: normal;
	width: 100%;
	margin-bottom: 15px;
  	@include media-breakpoint-up(md) {margin-bottom: 10px;}
}

.form__input {
	height: 40px;
  	@include media-breakpoint-up(md) {max-width: 270px;}
}

.form__textarea {
	height: 90px;
	padding-top: 10px;
	order: 4;
  	@include media-breakpoint-up(md) {order:5;margin-left: 30px;margin-bottom: 15px;max-width: 370px;}
	
}
.form__input::placeholder,
.form__textarea::placeholder {
	color: $fontColorLight;
}

.form__text {
	@include setFont ($textFFamily,normal,normal,12px,$fontColorLight);
	line-height: normal;
	margin: 0 0 15px 0;
	width: 100%;

	order:6;
  	@include media-breakpoint-up(sm) {width: calc( 100% - 220px ); align-self: flex-end;margin-top: -65px; height: 49px;}
  	@include media-breakpoint-up(md) {margin-left: 30px;max-width: 370px;align-self: unset;margin-top: 0;height: unset;}

}

.g-recaptcha {
	height: 49px;
	width: 201px;
	// transform: scale(0.66);
	// transform-origin: 0 0;
	margin-bottom: 15px;
	order: 5;
  	@include media-breakpoint-up(md) {order:4;margin-bottom: 0;}

  	div {width: 100%!important;height: 100% !important;border: none!important;}
  	iframe {width: 100%!important;height: 100% !important;border: none!important;	}
  	textarea {width: 100%!important;height: 100% !important;border: none!important;}
}


.form__link {	color: $blue;}

/* *** */

.form__wp {
	position: relative;
	overflow: hidden;
	height: 40px;
	margin: 0;
	max-height: 40px;
	width: 100%;
	margin-bottom: 15px;
  	@include media-breakpoint-up(md) {max-width: 270px;margin-bottom: 10px;}

}

.form__placeholder {
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 100;
	display: inline;
	cursor: text;
	// user-select: none;
	line-height: 40px;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: $fontColorLight;
}

.form__wp .form__input:valid + .form__placeholder {	display: none;}

.form__placeholder span {
	padding-left: 0.5em;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: $red;
}

//======================= personal_account.html ==================================

.breadcrumb #BREAD-1,
.breadcrumb #BREAD-2,
.breadcrumb #BREAD-3,
.breadcrumb #BREAD-4,
.breadcrumb #BREAD-5 {
  display: none;
}

#PERSONAL-DATA:checked ~ .breadcrumb #BREAD-1,
#PERSONAL-FAVORITES:checked ~ .breadcrumb #BREAD-2,
#PERSONAL-ORDERS:checked ~ .breadcrumb #BREAD-3,
#PERSONAL-HISTORY:checked ~ .breadcrumb #BREAD-4,
#PERSONAL-GARAGE:checked ~ .breadcrumb #BREAD-5 {
  display: inline-block;
}

.main__header {
	h1 {
	  margin-bottom: .778em;
	  display: none;
	}
}

#PERSONAL-DATA:checked ~ .main__header h1:nth-of-type(1),
#PERSONAL-FAVORITES:checked ~ .main__header h1:nth-of-type(2),
#PERSONAL-ORDERS:checked ~ .main__header h1:nth-of-type(3),
#PERSONAL-HISTORY:checked ~ .main__header h1:nth-of-type(4),
#PERSONAL-GARAGE:checked ~ .main__header h1:nth-of-type(5) {
  display: block;
}


/* *** */
.personal-menu {
  // width: 269px;
  // height: 230px;

	@include setFont ($textFFamily,normal,normal,13px,$fontColor);
  background: $personalMenuBg;
  @include boxShadow2;
}

.personal-menu__list { margin: 0;}

.personal-menu__item {
  margin: 0;
  padding: 0 25px 0 27px;
  background: $personalMenuBg;
  margin: 0;
  padding: 0 0 0 19px;
  display: block;
  height: 46px;
  line-height: 46px;
  user-select: none;
  border-top: 1px solid $borderGray3;

  &:hover { background: darken($personalMenuBg, 3%);  }
	
	&.active{  background: $fontColor;  color: #fff;}	

  // &:first-of-type label {  border: none; }

}


/* *** */
.my-data-section,
.favorites-section,
.orders-section,
.history-section,
.garage-section {
  display: none;
}


.my-data__photo {
  background: #FFFFFF;
  border: 1px solid $borderGray;
  box-sizing: border-box;
  width: 170px;
  height: 170px;
  position: relative;

  p {
		@include setFont ($textFFamily,normal,normal,14px,$fontColor);
    line-height: 18px;
    text-align: center;
    display: block;
    margin: 45% 0 0 0;
    // user-select: none;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.my-data__file-photo {
  display: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

.my-data__bonus {
  margin-top: 16px;
  display: block;

  .my-data__text {  margin-bottom: 0; }
}

.my-data__text,
.my-data__txt_grey {
	@include setFont ($textFFamily,normal,normal,14px,#000);
  line-height: 18px;
}

.my-data__txt_grey {  color: $fontColorLight;}

.my-data__count {
	@include setFont ($textFFamily,normal,bold,24px,$fontColor);
  line-height: 31px;
  margin-top: 0;
}

.my-data__how-link {
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
  line-height: 18px;
  text-decoration-line: underline;
}



.my-data__save-btn {
  @include linkLikeBtn(44px, 224px, $red, #FFF, 14px);
  padding: 0;
  border: none;
}

.my-data__edit-btn {
  @include linkLikeBtnBorder(44px, 224px, $red, $red, 14px);
  padding: 0;
}

.my-data__input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid $borderGray;
  box-sizing: border-box;
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
  line-height: 45px;
  // color: $fontColorLight;

  height: 45px;
  padding-left: 8px;

  &::placeholder {
		@include setFont ($textFFamily,normal,normal,14px,$fontColorLight);
  }
}

//.my-data__details {
//	display: none;
//}

.my-data__details,
.my-data__form {
  // display: grid;
  // grid-template: 1fr 1fr auto / 170px auto 170px;
  // grid-column-gap: 30px;
  // grid-row-gap: 24px;
  // grid-template-areas:
  //   "fio fio sex"
  //   "birth tel email"
  //   "inn-wp inn-wp inn-wp";
}

.my-data__details {
  .my-data__txt_grey {  margin-top: 0; margin-bottom: 5px;}

  .my-data__text { margin-bottom: 0; margin-bottom: 20px;}
}

.my-data__form {
	
	@include dFlex(space-between,flex-start,row,wrap);
  
  display: none;

  select {
    appearance: none;
    background: url(../../img/down.svg);
    background-repeat: no-repeat;
    background-size: 17px 10px;
    background-position: 90% 45%;
    margin-bottom: 20px;
  }
  input {margin-bottom: 20px;}

	.input-fio {max-width: 470px;margin-right: 30px;flex-grow: 1;} 
	.input-birth {width: 170px;margin-right: 30px;}
	.input-tel {margin-right: 30px;}
	.input-email {width: 170px;}
  .input-sex {
  	width: 170px;
    background-color: #fff;
  }



}


//   margin-bottom: 20px;
// }
.input-fio {
  // grid-area: fio;
  width: 100%;
}

.my-data__inn-wp {
  // grid-area: inn-wp;
  display: flex;
}

.my-data__form {
  .input-inn {
    margin-right: 30px;
    max-width: 270px;
  }
}

.my-data__details {
  .input-inn {
    margin-right: 30px;
    max-width: 270px;
    width: 270px;
  }
}

.my-data__edit-btn {
  margin-left: 21px;
}

.my-data__login-wp {
  margin-top: 41px;
  display: flex;
	>div {width: 224px;}
  .my-data__edit-btn { margin-left: 21px; }
}

.my-data__social {
  margin-top: 70px;
  margin-bottom: 100px;
  margin-left: auto;
}

.my-data__social-list {
	@include dFlex(space-between,center,row,wrap);
  margin-top: 24px;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    margin-bottom: 24px;

    p {
      margin: 0;
    }
  }
}

.my-data__connect-btn {
  @include linkLikeBtn(44px, 201px, #FFCD19, $fontColor, 14px);
}




//======================= personal_account.html End ==============================


