// @import "../../style/normalize";
// @import "../variables";
// @import "../../style/variables.part2";
// @import "style/breadcrumb";
@import "for_all/other";



.text__wp {
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
	margin-bottom: 60px;
}

.text__p {
	margin-bottom: 15px;
	margin-top: 0;
}

.video {
	position: relative;
	margin-bottom: 30px;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;  	
  	@include media-breakpoint-up(lg) {
  		float: left;margin-right: 30px;
  		padding-bottom: 0;
  		padding-top: 0;
  		width: 400px;
  		height: 254px;
  	}

		iframe {
			border: none;
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		}
}

.title-h2 {
	@include setFont ($textFFamily,normal,bold,24px,$fontColor);
  margin: 9px 0 22px 0px;
}
.date {
	@include setFont ($textFFamily,normal,normal,12px,$fontColorLight3);
  margin-top: 22px;
  display: block;
}
.link-back {
  font-weight: normal;
  font-size: 14px;
  color: $blue;
  line-height: normal;
}
.img-banner {
  max-width: 100%;
  max-height: 390px;
}

.search__wp {
	position: relative;
	width: 100%;
	max-width: 540px;
	height: 43px;
	margin: 0;
}
.search__text {
	font-family: $textFFamily2;
	//	font-size: 18px;
	font-size: 1.125em;
	color: $fontColor;
	margin: 0 30px 0 0;
}

.search {
	display: flex;
	align-items: center;
	margin-top: 33px;
}

.search__input {
	@include input(100%);
	width: 100%;
	//	padding-left: 11px;
	padding-left: .786em;
	padding-right: 40px;

	&::placeholder {
		color: $fontColorLight;
	}
}
.search__btn {
	position: absolute;
	right: 19px;
	top: 0;
	height: 100%;
	width: 15px;
	background: none;
	border: none;
	background-image: url(../img/search_grey_icon.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px;
}

.feedback {
	margin-bottom: 70px;
	.red-btn {
		justify-self: flex-end;
		align-self: flex-end;
		width: 100%;
		order:7;
	  	@include media-breakpoint-up(md) {max-width: 300px;}

	}
}
.feedback__title {
	// font-size: 36px;
	margin-bottom: 48px;
	margin-top: 12px;
}
.feedback__header {
	padding-top: 28px;
	margin-top: 38px;
	border-top: 1px solid $borderGray;
	p {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 23px;
		color: #000000;
	}
}
.form {
	@include dFlex(flex-start,flex-start,column,nowrap);
	
  	@include media-breakpoint-up(md) {flex-wrap: wrap;max-height: 200px;}

}


.form__input,
.form__textarea {
	padding-left: 10px;
	background: $sectBgrGray1;
	border: 1px solid $borderGray;
	border-radius: 2px;
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
	line-height: normal;
	width: 100%;
	margin-bottom: 15px;
  	@include media-breakpoint-up(md) {margin-bottom: 10px;}
}

.form__input {
	height: 40px;
  	@include media-breakpoint-up(md) {max-width: 270px;}
}

.form__textarea {
	height: 90px;
	padding-top: 10px;
	order: 4;
  	@include media-breakpoint-up(md) {order:5;margin-left: 30px;margin-bottom: 15px;max-width: 370px;}
	
}
.form__input::placeholder,
.form__textarea::placeholder {
	color: $fontColorLight;
}

.form__text {
	@include setFont ($textFFamily,normal,normal,12px,$fontColorLight);
	line-height: normal;
	margin: 0 0 15px 0;
	width: 100%;

	order:6;
  	@include media-breakpoint-up(sm) {width: calc( 100% - 220px ); align-self: flex-end;margin-top: -65px; height: 49px;}
  	@include media-breakpoint-up(md) {margin-left: 30px;max-width: 370px;align-self: unset;margin-top: 0;height: unset;}

}

.g-recaptcha {
	height: 49px;
	width: 201px;
	// transform: scale(0.66);
	// transform-origin: 0 0;
	margin-bottom: 15px;
	order: 5;
  	@include media-breakpoint-up(md) {order:4;margin-bottom: 0;}

  	div {width: 100%!important;height: 100% !important;border: none!important;}
  	iframe {width: 100%!important;height: 100% !important;border: none!important;	}
  	textarea {width: 100%!important;height: 100% !important;border: none!important;}
}


.form__link {	color: $blue;}

/* *** */

.form__wp {
	position: relative;
	overflow: hidden;
	height: 40px;
	margin: 0;
	max-height: 40px;
	width: 100%;
	margin-bottom: 15px;
  	@include media-breakpoint-up(md) {max-width: 270px;margin-bottom: 10px;}

}

.form__placeholder {
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 100;
	display: inline;
	cursor: text;
	// user-select: none;
	line-height: 40px;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: $fontColorLight;
}

.form__wp .form__input:valid + .form__placeholder {	display: none;}

.form__placeholder span {
	padding-left: 0.5em;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: normal;
	color: $red;
}

//======================= personal_account.html ==================================

.breadcrumb #BREAD-1,
.breadcrumb #BREAD-2,
.breadcrumb #BREAD-3,
.breadcrumb #BREAD-4,
.breadcrumb #BREAD-5 {
  display: none;
}

#PERSONAL-DATA:checked ~ .breadcrumb #BREAD-1,
#PERSONAL-FAVORITES:checked ~ .breadcrumb #BREAD-2,
#PERSONAL-ORDERS:checked ~ .breadcrumb #BREAD-3,
#PERSONAL-HISTORY:checked ~ .breadcrumb #BREAD-4,
#PERSONAL-GARAGE:checked ~ .breadcrumb #BREAD-5 {
  display: inline-block;
}

.main__header {
	margin-top: 20px;
		@include media-breakpoint-up(lg) {margin-top: 0;}

	h1 {
	  margin-bottom: 20px;
	  padding-bottom: 0;
	  display: none;
			@include media-breakpoint-up(lg) {margin-bottom: 0;}
	}
}

#PERSONAL-DATA:checked ~ .main__header h1:nth-of-type(1),
#PERSONAL-FAVORITES:checked ~ .main__header h1:nth-of-type(2),
#PERSONAL-ORDERS:checked ~ .main__header h1:nth-of-type(3),
#PERSONAL-HISTORY:checked ~ .main__header h1:nth-of-type(4),
#PERSONAL-GARAGE:checked ~ .main__header h1:nth-of-type(5) {
  display: block;
}


/* *** */
.personal-menu {
  // width: 269px;
  // height: 230px;

	@include setFont ($textFFamily,normal,normal,13px,$fontColor);
  background: $personalMenuBg;
  margin-bottom: 30px;
		@include media-breakpoint-up(md) {@include boxShadow2;}
}

.personal-menu__list { 
	margin: 0;
	@include dFlex(flex-start,center,row,wrap);

		@include media-breakpoint-up(md) {display: block;}

}

.personal-menu__item {
  min-width: 145px;
  
  background: $personalMenuBg;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 0; 
  display: block;
  height: 46px;
  line-height: 46px;
  // user-select: none;
  border: 1px solid $borderGray3;
  text-align: center;

		@include media-breakpoint-up(md) {
			border-top: 1px solid $borderGray3;
			text-align: left;
			margin: 0;
			padding: 0 25px;
			border:none;
		}
		>div {

			@include media-breakpoint-up(md) {
				border-top: 1px solid $borderGray3;
				padding: 0 20px;

			}	
		}

		&:first-child >div {
			@include media-breakpoint-up(md) {border: none;}
		}
		&:last-child {margin-right: auto;}
	  &:hover { background: darken($personalMenuBg, 3%);  }
		&.active{  
			background: $fontColor;  color: #fff;
			>div {border: none;}
		}	


}


/* *** */
.my-data-section,
.favorites-section,
.orders-section,
.history-section,
.garage-section {
  display: none;
}

.my-data__photo-bonus {
	@include dFlex(flex-start,flex-start,row,wrap);
		@include media-breakpoint-up(lg) {display: block;}


}

.my-data__photo {
  background: #FFFFFF;
  border: 1px solid $borderGray;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 20px;
		@include media-breakpoint-up(x400) {width: 170px;  height: 170px;}
		@include media-breakpoint-up(lg) {margin-right: 0;margin-bottom: 0;}

  p {
		@include setFont ($textFFamily,normal,normal,14px,$fontColor);
    line-height: 18px;
    text-align: center;
    display: block;
    margin: 45% 0 0 0;
    // user-select: none;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.my-data__file-photo {
  display: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

.my-data__bonus {
  
  display: block;
		@include media-breakpoint-up(lg) {margin-top: 16px;}

  .my-data__text {  margin-bottom: 0; }
}

.my-data__text,
.my-data__txt_grey {
	@include setFont ($textFFamily,normal,normal,14px,#000);
  line-height: 18px;
}

.my-data__txt_grey {  color: $fontColorLight;}

.my-data__count {
	@include setFont ($textFFamily,normal,bold,24px,$fontColor);
  line-height: 31px;
  margin-top: 0;
}

.my-data__how-link {
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
  line-height: 18px;
  text-decoration-line: underline;
}



.my-data__save-btn {
  @include linkLikeBtn(44px, 224px, $red, #FFF, 14px);
  padding: 0;
  border: none;


}

.my-data__edit-btn {
  @include linkLikeBtnBorder(44px, 224px, $red, $red, 14px);
  padding: 0;
}

.my-data__input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid $borderGray;
  box-sizing: border-box;
	@include setFont ($textFFamily,normal,normal,14px,$fontColor);
  line-height: 45px;
  // color: $fontColorLight;

  height: 45px;
  padding-left: 8px;

  &::placeholder {
		@include setFont ($textFFamily,normal,normal,14px,$fontColorLight);
  }
}

.my-data__personal-wp {

		@include media-breakpoint-up(lg) {margin-left: -45px;}
		@include media-breakpoint-up(xl) {margin-left: -25px;}

}

.my-data__details {
  .my-data__txt_grey {  margin-top: 0; margin-bottom: 5px;}
  .my-data__text { margin-bottom: 20px; }
	
	.input-sex, .input-birth, .input-email, .input-fio {
		@include dFlex(flex-start,center,row,wrap);
			@include media-breakpoint-up(sm) {display: block;}
				p {
					margin-bottom: 20px;
						@include media-breakpoint-up(sm) {margin-bottom: inherit;}
				}	
				p:first-child {
					margin-right: 20px;
						@include media-breakpoint-up(sm) {margin-right: 0;}
				}	

			  .my-data__text { @include media-breakpoint-up(sm) {margin-bottom: 20px;} }

	}

}

.my-data__form {
	
	@include dFlex(space-between,flex-start,row,wrap);
  
  display: none;

  input {margin-bottom: 20px;}

	.input-fio {
		flex-grow: 1;
			@include media-breakpoint-up(xl) {
				max-width: 470px;
				margin-right: 30px;
			}
	
	} 
	.input-birth {

			@include media-breakpoint-up(md) {width: 48%;	}	
			@include media-breakpoint-up(xl) {
				width: 170px;
				margin-right: 30px;
			}	
	}
	.input-tel {
			width: 100%;
			@include media-breakpoint-up(md) {width: 48%;}	
			
			@include media-breakpoint-up(xl) {
				width: auto;
				flex-grow: 1; 
				margin-right: 30px;
			}	

	}
	.input-email {
		width: 100%;
			@include media-breakpoint-up(md) {width: 48%;}	
			@include media-breakpoint-up(xl) {width: 170px;}	

	}
	.bootstrap-select {
		width: 100%!important;
		@include media-breakpoint-up(md) {width: 48%!important;}	
		@include media-breakpoint-up(xl) {width: 170px!important;}	
	}


  .input-sex {
  	width: 100%;
    background-color: #fff;
    appearance: none;
    margin-bottom: 20px;
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
			// @include media-breakpoint-up(lg) {width: 47%;}	
			@include media-breakpoint-up(xl) {width: 170px;}	

			&:after{
		    background: url(../../img/down.svg);
		    background-repeat: no-repeat;
		    background-size: 17px 10px;
		    background-position: 90% 45%;
		    border: none;
		    width: 15px;
		    height: 11px;
			}    

	    &:focus {
				outline: 0!important;
		    border-color: inherit;
		    box-shadow: none;
	    }
	    ~ .show {    border-radius: 2px;    }

  }
  .input-inn {width: 170px;margin-right: 30px;}

.my-data__save-btn { min-width: 224px;}

}


.input-fio {  width: 100%;}

.my-data__inn-wp {
  flex-grow: 1;
  display: block;
		@include media-breakpoint-up(x480) {display: flex;justify-content: space-between;}
		@include media-breakpoint-up(x550) {justify-content: flex-start;}
	.my-data__save-btn, .my-data__edit-btn 	{
		width: 100%;
		max-width: unset;
		min-width: unset;
		margin: 0;
		margin-bottom: 15px;
			@include media-breakpoint-up(x480) {width: 48%;margin-bottom: 0;}
			@include media-breakpoint-up(x550) {max-width: 224px;margin-right: 30px;}

	}

}

.my-data__details {
  .input-inn {
    margin-right: 30px;
    max-width: 270px;
    width: 270px;
  }
}

.my-data__edit-btn {  margin-left: 21px; }

.my-data__login-wp {
  margin-top: 41px;
  display: block;
		@include media-breakpoint-up(x480) {display: flex;justify-content: space-between;}
		@include media-breakpoint-up(x550) {justify-content: flex-start;}

	>div {
		width: 100%;
		display: flex;
			@include media-breakpoint-up(x480) {width: 48%;margin-bottom: 0;}
			@include media-breakpoint-up(x550) {max-width: 224px;margin-right: 30px;}
			@include media-breakpoint-up(lg) {display: block;}
				p:first-child {
					margin-right: 20px;
						@include media-breakpoint-up(lg) {margin-right: 0;}
				}	

	}
  .my-data__edit-btn { 
		margin-left: 0;
		width: 100%;
		max-width: unset;
		
			@include media-breakpoint-up(x480) {width: 48%;margin-bottom: 0;}
			@include media-breakpoint-up(x550) {max-width: 224px;margin-right: 30px;}

  }
}

.my-data__social {
  margin-top: 70px;
  margin-bottom: 100px;
		// @include media-breakpoint-up(lg) {margin-left: -45px;}
		@include media-breakpoint-up(xl) {margin-left: -25px;}
  
}

.my-data__social-list {
	@include dFlex(space-between,center,row,wrap);
  margin-top: 24px;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    min-width: 300px;
			@include media-breakpoint-up(x450) {min-width: 200px;}
			@include media-breakpoint-up(x550) {min-width: 230px;}
			@include media-breakpoint-up(md) {min-width: 200px;}
			@include media-breakpoint-up(lg) {min-width: 300px;}

    p {
      margin: 0;
    }
  }
}

.my-data__connect-btn {
  @include linkLikeBtn(44px, 201px, #FFCD19, $fontColor, 14px);
  
			@include media-breakpoint-up(x450) {max-width: 120px;}
			@include media-breakpoint-up(x550) {max-width: 150px;}
			@include media-breakpoint-up(md) {max-width: 120px;}
			@include media-breakpoint-up(lg) {max-width: 201px;}
}


.favorites-section {  
	margin-bottom: 40px;
	margin-top: -54px;
			@include media-breakpoint-up(md) {margin-bottom: 85px;}

}

.favorites__del-all {
  @include linkLikeBtn(44px, 100%, $red, #FFF, 14px);
  margin: 30px 0 10px auto;
			@include media-breakpoint-up(md) {margin-top: 0; width: 224px;}

}


.favorites__list {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
			@include dFlex(space-around,center,row,wrap);
		&.list {
			margin: 0;
			.main-product-card .btn-block {  
				width: calc(100vw - 60px);
					@include media-breakpoint-up(x400) {width: auto;}

			}
		}
	  .product-item {
	    font-size: 14px;
		    .main-product-card {
		      font-size: 14px;
			      .b2 {
			        font-size: 14px;
				        .prod-name {font-size: 14px;}
			      }
		    }
	  }
}

// @include mediaFavorites;

.pagination-section {  font-size: 14px;}

// @include pagination(800px);

.pagination {  
	margin-right: 10px;
		@include media-breakpoint-up(lg) {margin-right: 85px;}

}





//======================= personal_account.html End ==============================


