// ============== Иконки Преимущества ==========================
.icon-clock {
  background-image: url(../img/advantages-sprite.png);
  background-position: -42px 0px;
  width: 41px;
  height: 40px;
  margin-right: 16px;
  flex: 0 0 auto;
}
.icon-dost {
  background-image: url(../img/advantages-sprite.png);
  background-position: 0px 0px;
  width: 42px;
  height: 40px;
  margin-right: 16px;
  flex: 0 0 auto;
}
.icon-naush {
  background-image: url(../img/advantages-sprite.png);
  background-position: 0px -40px;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  flex: 0 0 auto;
}
.icon-podarok {
  background-image: url(../img/advantages-sprite.png);
  background-position: -40px -40px;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  flex: 0 0 auto;
}
.icon-portmone {
  background-image: url(../img/advantages-sprite.png);
  background-position: -83px 0px;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  flex: 0 0 auto;
}


// ============== Иконки Соц. Скти для Футера ==========================

.icon-facebook {
  background-image: url(../img/socnet-sprite.png);
  background-position: 0px -29px;
  width: 29px;
  height: 29px;
}
.icon-instagram {
  background-image: url(../img/socnet-sprite.png);
  background-position: -29px -29px;
  width: 29px;
  height: 29px;
}
.icon-telegram {
  background-image: url(../img/socnet-sprite.png);
  background-position: -60px 0px;
  width: 29px;
  height: 29px;
}
.icon-viber {
  background-image: url(../img/socnet-sprite.png);
  background-position: 0px 0px;
  width: 30px;
  height: 29px;
}
.icon-vk {
  background-image: url(../img/socnet-sprite.png);
  background-position: -60px -29px;
  width: 29px;
  height: 29px;
}
.icon-whatsapp {
  background-image: url(../img/socnet-sprite.png);
  background-position: -30px 0px;
  width: 30px;
  height: 29px;
}
.icon-youtube {
  background-image: url(../img/socnet-sprite.png);
  background-position: 0px -58px;
  width: 29px;
  height: 29px;
}
