@include media-breakpoint-up(xs) {

	.main-baner {display: none;}
	.main-menu {background:$sectBgrGray1;}
//	.main-navigation .logo {	margin: 0 15px;	}
	// 05.05.19
	.main-navigation .logo {margin: 0 15px 0 0;	}
	.main-navigation .logo img {height: 37px;width: 171px}
	//
	.top-gray-icons-zagl{display: none;}
	.top-gray-icons {position: relative;right: 0px;top: 0px;}
	.top-panel .link-btn.select-city {width: 20px;}
	.top-panel .link-btn.select-city span{display: none;}
	// .top-panel .link-btn.select-city:before {	content: url(../img/select-town-gray.svg);}
	.top-links { display: none;}
	.top-phone:before{content: url(../img/phone-gray.svg);}
	.top-phone span {display: none;}
	.top-panel .black-btn {background: url(../img/login-gray.svg) center center no-repeat;width: 23px;height: 23px;}
	.top-panel .black-btn span {display: none;}
	.top-panel {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;		
		height: 45px;
	}

	.vin.red-btn {width: 100%;border-radius: $bradius;margin-bottom: 21px;}

	.bs-select {width: 100%!important;}
	.bs-select-first {width: 100%!important;}
	.z1{display: block;}
	// .main-feedback .contact-us .recapcha { position: absolute; top: 280px;}
	// .main-feedback .contact-us .fz152 {align-self: flex-end; width: 100%;height: 40px;margin-bottom: 20px;margin-top: 60px;}
	// .main-feedback .contact-us form { max-height: initial;}
	// .main-feedback .contact-us form .message-container { margin-left: 0px;width: 100%;}
	// .main-feedback .placeinput { width: 100%;}
	// .main-feedback .contact-us input { width: 100%;}
	// .main-feedback .contact-us .red-btn { width: 100%;}
}
@media(min-width:450px){
	.main-feedback .contact-us .fz152 {align-self: flex-end; 
		//width: 45%;height: 60px;
		margin-bottom: 20px;margin-top: 0;}
	// .рroduct-сard .mini-img-slider {
		// height: 120px;
			// .slide-item	{width: 100px;	height: 100px;}
			// .slick-current .slide-item { width: 120px; height: 120px;}
			// .slick-next, .slick-prev {display: block;}
			// .slick-list.draggable {  margin-right: -45px;}
// }
}

@media(min-width:480px){
	// .рroduct-сard .mini-img-slider .slick-list.draggable {  margin-right: -60px;}
}
@media(min-width:550px){
	// .рroduct-сard .mini-img-slider .slick-list.draggable {  margin-right: -60px;}
	// .рroduct-сard .mini-img-slider {
		// height: 150px;
			// .slide-item	{width: 120px;	height: 120px;}
			// .slick-current .slide-item { width: 140px; height: 140px;}
			// .slick-next, .slick-prev {display: block;}
			// .slick-list.draggable {  margin-right: -45px;}
// }
}

@media(max-width:450px){.z2{display: block;}}

@media(min-width:768px) {
    .nav-tabs {display: flex; }
    .card { border: none;}
    .card .card-header { display:none;}  
    .main-products .card .collapse{display:none;}
  	.reviews  .collapse{display:block;}
  	.reviews .feedback-block .collapse {display: none;}
		.card .collapse.show {display: block;}
}

@media(max-width:767px){
  .product-tabs  .tab-content > .tab-pane {display: block; opacity: 1; }
}



@include media-breakpoint-up(sm) {
	.z1{display: none;}
	// .рroduct-сard .mini-img-slider .slick-list.draggable {  margin-right: -69px;}
	
}
@include media-breakpoint-up(md) {

 footer {height: 550px;}
 footer .desktop {height: 480px;}
 footer .zaglushka {display: none;}
 footer .zaglushka.md {display: block;}
 .main-catalog .card-body {height: 500px;}
	.record-block {	height: 236px;}
	.record-block.avto {background-image: url(../img/rec-bgr-avto.svg), url(../img/rec-bgr1.svg);}
	.record-block.akb {	background-image: url(../img/rec-bgr-akb.svg), url(../img/rec-bgr1.svg);}
	.record-block .rec-description {	width: 370px;	height: 67px;}
	.record-block .rec-addr {	width: 138px;	height: 40px;margin-top: 0;}
	.record-block .red-btn { width: 231px;}

}
@include media-breakpoint-up(lg) {

	.main-baner {display: block;}
	.main-catalog .card-body {height: 300px;}
	footer {height: 322px;}
	footer .desktop {height: 245px;}
	footer .zaglushka {display: block;}
	footer .zaglushka.md {display: none;}
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 0;font-size: 14px;}
	.vin.red-btn {font-size: 12px;margin-bottom: 0;}
	.main-menu {background: url(../img/skin2.png) top center no-repeat;}
	.top-gray-icons-zagl{display: block;}
	.top-gray-icons {position: absolute;right: 17px;top: 60px;}
	// .top-panel .link-btn.select-city {height: 20px;margin-right: auto;}
	.top-panel .link-btn.select-city span{display: inline;}
	// .top-panel .link-btn.select-city:before {	content: url(../img/select-town-red.svg);}
	.top-links { display: flex;}
	.top-phone {margin-right: 30px;}
	.top-phone:before{content: url(../img/phone-red.svg);}
	.top-phone span {display: inline;} 
	.top-panel .black-btn {background: $blackBtn;	width: 169px;	height: 30px;}
	.top-panel .black-btn span {display: inline;}
	.top-panel {
	  position: relative;
    right: initial;
    bottom: initial;
    left: initial;
    z-index: initial;		
		height: 30px;
	}
	.brand-item.slick-slide {width: 187px;}
	.product-item .slick-slide {width: 240px;}
	.record {justify-content: space-around;}
	.bs-select, .bs-select-first {width: 129px!important;}
	.bs-select-first {width: 80px!important;}

	.main-vkurse form { width: 600px; flex-wrap: nowrap;}
	.main-vkurse form input { flex-grow: 1;}
	.main-vkurse form .recapcha { margin-left: 20px;}
	.main-vkurse form button { width: 160px;flex: 0 0 auto;}
	// .main-feedback .contact-us .recapcha {top: 306px;}
	// .main-feedback .contact-us .fz152 {width: 50%;height: 49px;}

}
@include media-breakpoint-up(xl) {
	// .main-feedback .placeinput { width: initial;}
	.container { max-width: 1200px;}
	.navbar-expand-lg .navbar-nav .nav-link {padding-left: 0.5rem ;font-size: 16px;}
	.vin.red-btn {font-size: 14px;width: 149px;border-radius: 0;margin-bottom: 0;}
	.main-catalog .card-body {height: 200px;}
	.brand-item.slick-slide {width: 199px;}
	.product-item .slick-slide {width: 238px;}
	.record {justify-content: space-between;}
	// .main-feedback .contact-us .recapcha { position: relative; top: initial;}
	// .main-feedback .contact-us .fz152 {align-self: initial; width: auto;height: 32px;margin-bottom: 26px;	}
	// .main-feedback .contact-us form { max-height: 200px;}
	// .main-feedback .contact-us form .message-container { margin-left: 30px;width: 370px;}
	// .main-feedback .contact-us input { width: 270px;}
	// .main-feedback .contact-us .red-btn { width: 300px;}
	.bs-select, .bs-select-first {width: 159px!important;}
	.bs-select-first {width: 100px!important;}

	.main-vkurse form { width: 720px;}
	.main-vkurse form input { flex-grow: 1;}
	.main-vkurse form button { width: 201px;}


}

// Правки 05.05.19

@media (min-width:1200px) {
	.main-feedback {
		padding-bottom: 25px !important
	}
}

.main-feedback .container {
	margin-bottom: 25px !important
}

.footer__link_lh {
	line-height: 18px !important;
	margin-bottom: 6px !important;
}

.filter-form {
	padding: 0 15px 0 15px !important
}

.slick-active:focus {
	outline: none !important
}

.analogs .filter-top-groupe .black-btn.collapsed {
	margin-bottom: 0 !important
}

.web-electron {
	content: normal !important;
	margin-top: 10px !important;
    color: #6e6e6e !important;
}
