.os-scrollbar-handle {
	height: 21px!important;
	width: 3px!important;
	left: -1px;
	background: $red!important;
	border-radius: 3px!important;
	min-height: 20px!important;

}
.os-scrollbar-track {
	width: 1px!important;
	background: #E0E0E0!important;
	border-radius: 2px!important;
}
.os-scrollbar-vertical {width: 5px!important;}
.os-scrollbar-horizontal {display: none!important;}
